:root {
  --color-babyblue: #ccddfe;
  --color-background: #202941;
  --color-blue: #242e48;
  --color-coolgray: #93a0c2;
  --color-darkblue: #17213b;
  --color-highlightgreen: #02ff95;
  --color-highlightred: #ff3a52;
  --color-lightblue: #353e58;
  --color-lightblue115: #49567a; /* Lightened by 15% */
  --color-orange: #ffa96b;
  --color-orange99: #fca668; /* Darkened by 1% */

  --font-family-body: Exo2, sans-serif;
  --font-family-header: Raleway, sans-serif;

  --max-width-content: 73.25rem; /* 1140px + 2x16px padding */
}

html,
body {
  background-color: var(--bg-regular);
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-family: var(--font-family-body);
  background-color: var(--color-background);
  color: white;
}

#__next {
  /* For footer */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 900;
}

h2 {
  font-size: 30px;
  line-height: 35px;
  margin: 0;
}

button,
select,
textarea,
input {
  outline: var(--border-active) none 1px;
  cursor: pointer;
}
input[type="checkbox"] {
  outline-offset: 2px;
}

select:hover,
textarea:hover,
input:hover {
  outline-style: dashed;
}

button:focus,
button:focus-visible,
button:active,
select:focus,
select:focus-visible,
select:active,
textarea:focus,
textarea:focus-visible,
textarea:active,
input:focus,
input:focus-visible,
input:active {
  outline-style: solid;
  outline-width: 2px;
}

textarea:focus,
textarea:focus-visible,
textarea:active,
input:focus,
input:focus-visible,
input:active {
  cursor: inherit;
}

input::placeholder {
  color: var(--text-secondary);
  opacity: 1;
}
input:-ms-input-placeholder {
  color: var(--text-secondary);
  opacity: 1;
}
input::-ms-input-placeholder {
  color: var(--text-secondary);
  opacity: 1;
}

button:active {
  filter: brightness(85%);
}

:root {
  --bg-light: #242e48;
  --bg-regular: #202941;
  --bg-dark: #17213b;
  --border-regular: #353e58;
  --border-active: #3182ce;
  --accent-primary: #ffa96b;
  --accent-secondary: #ccddfe;
  --text-primary: #ffffff;
  --text-secondary: #93a0c2;
  --font-primary: "Exo2", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-secondary: "Raleway", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --border-radius-normal: 4px;
}

@font-face {
  font-family: Raleway;
  /* TODO: Add font alternatives */
  src: local(Raleway),
    url(../public/fonts/Raleway-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Exo2";
  src: local(Exo2),
    url(../public/fonts/Exo2-VariableFont_wght.ttf) format("truetype"),
    local(-apple-system), local(BlinkMacSystemFont), local(Segoe UI),
    local(Roboto), local(Oxygen), local(Ubuntu), local(Cantarell),
    local(Fira Sans), local(Droid Sans), local(Helvetica Neue);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
