.container {
  font: 500 1rem/1.4 var(--font-family-body);
}

.breadcrumb {
  color: var(--color-babyblue);
  font-size: 0.875rem;
}

.separator {
  margin: 0 0.5rem;
}

.headerRow {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 4em;
}

.listingTitle {
  flex: 1 1 60%;
  margin: 0;
  font: 900 1.875rem/1.2 var(--font-family-header);
}

.joinServerButton {
  display: flex;
  flex: 0 0 11rem;
  align-items: center;
  justify-content: center;
  height: 2.75em;
  border: 0;
  color: var(--color-background);
  font: 700 1rem/1.2 var(--font-family-body);
  background-color: var(--color-orange);
}

.joinServerButton svg {
  margin-right: 0.75rem;
}

.contentRow {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.columnLeft {
  display: flex;
  flex: 1.43 1 20rem;
  flex-direction: column;
}

.columnRight {
  display: flex;
  flex: 1 1 20rem;
  flex-direction: column;
}

.sectionTitle {
  margin: 2em 0 1em;
  color: var(--color-babyblue);
  font: 700 1.125rem/1.22 var(--font-family-header);
}

.description {
  margin-bottom: 0;
  padding: 1.5em 2em;
  border: 0.125em solid var(--color-lightblue);
  background-color: var(--color-blue);
}
