.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 71.25rem;
  /* TODO: remove this magic value lol */
  min-height: 79.08vh;
}

.formHeader {
  margin-bottom: 2.25rem;
  margin-top: 5rem;
}

.formTitle {
  height: 2.25rem;
  font: 900 1.875rem/1.2 var(--font-family-header);
  display: flex;
  align-items: center;
}

.input,
.checkbox,
.checkboxContainer,
.textarea {
  width: 100%;
  background: var(--color-darkblue);
  border-radius: 0.25rem;
  border: 0;
  color: #ffffff;
  height: 2.75rem;
  padding: 0.25rem 1rem;

  font: 1rem/1.25 var(--font-family-body);
}

select.input {
  cursor: pointer;
}

.checkboxContainer {
  background: inherit;
  display: flex;
  align-items: flex-start;
  padding: 0;
}

.checkbox {
  cursor: pointer;
  width: 2.75rem;
  height: 2.75rem;
  margin: 0;
}

.textarea {
  padding: 1rem;
  height: 9.625rem;
  overflow-y: auto;
}

.input:focus-visible,
.checkbox:focus-visible,
.textarea:focus-visible {
  outline: 2px solid var(--color-coolgray);
}

.textarea {
  resize: none;
}

.submit {
  width: 100%;
  height: 2.75rem;
  background: var(--color-orange);
  color: #000000;
  font: 700 1.1rem/1.25 var(--font-family-body);
  margin-top: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.submit:focus-visible,
.submit:hover {
  background: var(--color-orange99);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

.row label,
.row .label {
  width: 14.5rem;
  height: 2.75rem;

  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
}
