.formHeader {
  margin: 1.2rem 0 2.25rem;
  font: 900 1.875rem/1.2 var(--font-family-header);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 71.25rem;
  margin: 0 auto 2rem;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  justify-content: flex-start;
  width: 100%;
}

.colSm {
  flex: 0 0 14.5rem;
}

.colLg {
  display: flex;
  flex: 1;
  align-items: center;
}

.colLg.hasSubrows {
  flex-direction: column;
}

.colLg.hasSubrows .row {
  align-items: center;
}

.row label {
  font-weight: 700;
  line-height: 2.75rem;
}

.input,
.checkbox,
.textarea {
  flex: 1;
  height: 2.75rem;
  padding: 0.25rem 1rem;
  border: 0;
  border-radius: 0.25rem;
  color: var(--text-primary);
  font: 1rem/1.25 var(--font-family-body);
  background: var(--color-darkblue);
}

select.input {
  cursor: pointer;
}

.textarea {
  height: 10rem;
  padding: 1rem;
  overflow-y: auto;
  resize: none;
}

.selectMods {
  padding: 0.25em 1em;
  border: 1px solid var(--accent-primary);
  color: var(--accent-primary);
  font: 700 0.875em/1.2 var(--font-family-body);
  background: var(--bg-regular);
}

.modCount {
  color: var(--accent-secondary);
  font-weight: 500;
}

.checkbox {
  flex: 0 0 2.75rem;
  margin: 0;
}

.input:focus-visible,
.checkbox:focus-visible,
.textarea:focus-visible {
  outline: 2px solid var(--color-coolgray);
}

#submit {
  margin: 2.5rem 0 0 15.25rem;
  border: none;
  color: var(--bg-regular);
  font: 700 1.1rem/2.5 var(--font-family-body);
  background: var(--color-orange);
  outline: none;
  cursor: pointer;
}

#submit:focus-visible,
#submit:hover {
  background: var(--color-orange99);
}
