@layer nimbus-layout {
  .team {
    display: flex;
    flex-direction: column;

    .team__header {
      padding: var(--space-40) 0;
      color: var(--color-text--default);
      font-weight: var(--font-weight-bold);
      font-size: 1.75rem;
      line-height: var(--line-height-xs);
    }
  }

  @media (width <= 48rem) {
    .team {
      gap: var(--space-16);
    }
  }
}
