.createTeamDialog {
  display: flex;
  flex-direction: column;
  gap: var(--space--24);
}

.createTeamDialogText {
  color: var(--color-text--secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.boldText {
  font-weight: var(--font-weight-bold);
}
