@layer theme-components {
  /* theme base styles */
  .tag {
    --tag-gap: 1rem;
    --tag-font-weight: var(--font-weight-bold);
  }

  /* SIZES */
  .tag:where(.tag--size--medium) {
    --tag-gap: var(--tag-md-gap);
    --tag-padding-block: var(--tag-md-padding-block);
    --tag-padding-inline: var(--tag-md-padding-inline);
    --tag-border-radius: var(--tag-md-border-radius);
    --tag-font-size: var(--tag-md-font-size);
    --tag-height: var(--tag-md-height);
  }

  .tag:where(.tag--size--small) {
    --tag-gap: var(--tag-sm-gap);
    --tag-padding-block: var(--tag-sm-padding-block);
    --tag-padding-inline: var(--tag-sm-padding-inline);
    --tag-border-radius: var(--tag-sm-border-radius);
    --tag-font-size: var(--tag-sm-font-size);
    --tag-height: var(--tag-sm-height);
  }

  .tag:where(.tag--size--xsmall) {
    --tag-gap: var(--tag-xs-gap);
    --tag-padding-block: var(--tag-xs-padding-block);
    --tag-padding-inline: var(--tag-xs-padding-inline);
    --tag-border-radius: var(--tag-xs-border-radius);
    --tag-font-size: var(--tag-xs-font-size);
    --tag-height: var(--tag-xs-height);
  }

  /* VARIANTS */
  .tag:where(.tag--variant--primary) {
    --tag-color: var(--tag-light-primary-text-color--default);
    --tag-background-color: var(--tag-light-primary-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-primary-text-color--default);
      --tag-background-color: var(--tag-dark-primary-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-primary-text-color--hover);
        --tag-background-color: var(--tag-dark-primary-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-primary-text-color--hover);
      --tag-background-color: var(--tag-light-primary-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--blue) {
    --tag-color: var(--tag-light-blue-text-color--default);
    --tag-background-color: var(--tag-light-blue-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-blue-text-color--default);
      --tag-background-color: var(--tag-dark-blue-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-blue-text-color--hover);
        --tag-background-color: var(--tag-dark-blue-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-blue-text-color--hover);
      --tag-background-color: var(--tag-light-blue-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--green) {
    --tag-color: var(--tag-light-green-text-color--default);
    --tag-background-color: var(--tag-light-green-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-green-text-color--default);
      --tag-background-color: var(--tag-dark-green-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-green-text-color--hover);
        --tag-background-color: var(--tag-dark-green-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-green-text-color--hover);
      --tag-background-color: var(--tag-light-green-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--yellow) {
    --tag-color: var(--tag-light-yellow-text-color--default);
    --tag-background-color: var(--tag-light-yellow-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-yellow-text-color--default);
      --tag-background-color: var(--tag-dark-yellow-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-yellow-text-color--hover);
        --tag-background-color: var(--tag-dark-yellow-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-yellow-text-color--hover);
      --tag-background-color: var(--tag-light-yellow-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--red) {
    --tag-color: var(--tag-light-red-text-color--default);
    --tag-background-color: var(--tag-light-red-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-red-text-color--default);
      --tag-background-color: var(--tag-dark-red-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-red-text-color--hover);
        --tag-background-color: var(--tag-dark-red-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-red-text-color--hover);
      --tag-background-color: var(--tag-light-red-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--pink) {
    --tag-color: var(--tag-light-pink-text-color--default);
    --tag-background-color: var(--tag-light-pink-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-pink-text-color--default);
      --tag-background-color: var(--tag-dark-pink-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-pink-text-color--hover);
        --tag-background-color: var(--tag-dark-pink-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-pink-text-color--hover);
      --tag-background-color: var(--tag-light-pink-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--orange) {
    --tag-color: var(--tag-light-orange-text-color--default);
    --tag-background-color: var(--tag-light-orange-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-orange-text-color--default);
      --tag-background-color: var(--tag-dark-orange-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-orange-text-color--hover);
        --tag-background-color: var(--tag-dark-orange-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-orange-text-color--hover);
      --tag-background-color: var(--tag-light-orange-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--purple) {
    --tag-color: var(--tag-light-purple-text-color--default);
    --tag-background-color: var(--tag-light-purple-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-purple-text-color--default);
      --tag-background-color: var(--tag-dark-purple-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-purple-text-color--hover);
        --tag-background-color: var(--tag-dark-purple-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-purple-text-color--hover);
      --tag-background-color: var(--tag-light-purple-bg-color--hover);
    }
  }
}
