@layer theme-components {
  .tag:where(.tag--size--medium) {
    --tag-gap: var(--space-8);
    --tag-padding-block: var(--space-4);
    --tag-padding-inline: var(--space-10);
    --tag-font-size: 0.875rem;
    --tag-content-height: 1.25rem;
  }

  .tag:where(.tag--size--small) {
    --tag-gap: var(--space-6);
    --tag-padding-block: var(--space-4);
    --tag-padding-inline: var(--space-8);
    --tag-font-size: 0.75rem;
    --tag-content-height: 1rem;
  }

  .tag:where(.tag--size--xsmall) {
    --tag-gap: var(--space-6);
    --tag-padding-block: var(--space-4);
    --tag-padding-inline: var(--space-8);
    --tag-font-size: 0.625rem;
    --tag-content-height: 0.75rem;
  }

  /* VARIANTS */
  .tag:where(.tag--variant--primary) {
    --tag-color: var(--tag-light-primary-text-color--default);
    --tag-background-color: var(--tag-light-primary-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-primary-text-color--default);
      --tag-background-color: var(--tag-dark-primary-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-primary-text-color--hover);
        --tag-background-color: var(--tag-dark-primary-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-primary-text-color--hover);
      --tag-background-color: var(--tag-light-primary-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--blue) {
    --tag-color: var(--tag-light-blue-text-color--default);
    --tag-background-color: var(--tag-light-blue-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-blue-text-color--default);
      --tag-background-color: var(--tag-dark-blue-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-blue-text-color--hover);
        --tag-background-color: var(--tag-dark-blue-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-blue-text-color--hover);
      --tag-background-color: var(--tag-light-blue-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--green) {
    --tag-color: var(--tag-light-green-text-color--default);
    --tag-background-color: var(--tag-light-green-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-green-text-color--default);
      --tag-background-color: var(--tag-dark-green-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-green-text-color--hover);
        --tag-background-color: var(--tag-dark-green-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-green-text-color--hover);
      --tag-background-color: var(--tag-light-green-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--yellow) {
    --tag-color: var(--tag-light-yellow-text-color--default);
    --tag-background-color: var(--tag-light-yellow-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-yellow-text-color--default);
      --tag-background-color: var(--tag-dark-yellow-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-yellow-text-color--hover);
        --tag-background-color: var(--tag-dark-yellow-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-yellow-text-color--hover);
      --tag-background-color: var(--tag-light-yellow-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--red) {
    --tag-color: var(--tag-light-red-text-color--default);
    --tag-background-color: var(--tag-light-red-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-red-text-color--default);
      --tag-background-color: var(--tag-dark-red-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-red-text-color--hover);
        --tag-background-color: var(--tag-dark-red-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-red-text-color--hover);
      --tag-background-color: var(--tag-light-red-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--pink) {
    --tag-color: var(--tag-light-pink-text-color--default);
    --tag-background-color: var(--tag-light-pink-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-pink-text-color--default);
      --tag-background-color: var(--tag-dark-pink-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-pink-text-color--hover);
        --tag-background-color: var(--tag-dark-pink-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-pink-text-color--hover);
      --tag-background-color: var(--tag-light-pink-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--orange) {
    --tag-color: var(--tag-light-orange-text-color--default);
    --tag-background-color: var(--tag-light-orange-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-orange-text-color--default);
      --tag-background-color: var(--tag-dark-orange-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-orange-text-color--hover);
        --tag-background-color: var(--tag-dark-orange-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-orange-text-color--hover);
      --tag-background-color: var(--tag-light-orange-bg-color--hover);
    }
  }

  .tag:where(.tag--variant--purple) {
    --tag-color: var(--tag-light-purple-text-color--default);
    --tag-background-color: var(--tag-light-purple-bg-color--default);

    &.tag--dark {
      --tag-color: var(--tag-dark-purple-text-color--default);
      --tag-background-color: var(--tag-dark-purple-bg-color--default);

      &.tag--hoverable:hover {
        --tag-color: var(--tag-dark-purple-text-color--hover);
        --tag-background-color: var(--tag-dark-purple-bg-color--hover);
      }
    }

    &.tag--hoverable:hover {
      --tag-color: var(--tag-light-purple-text-color--hover);
      --tag-background-color: var(--tag-light-purple-bg-color--hover);
    }
  }
}
