.list {
  position: relative;
}

.item {
  display: flex;
  gap: var(--gap--16);
  padding: var(--space--8) var(--space--12);
  border-radius: var(--border-radius--8);
}

.item:hover {
  background-color: var(--color-surface--4);
}

.itemImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.itemImage:where(.placeholder) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14.75rem;
  color: #39e9aa;
  font: var(--font-body);
  font-weight: var(--font-weight-semibold);
  font-size: 1.313rem;
  line-height: 1.2;
  background: rgb(67 67 132 / 0.32);
}

.itemTitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.itemDescription {
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.teamLink {
  display: flex;
  gap: var(--gap--8);
  align-items: center;
  color: var(--color-highlight);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.teamLinkIcon {
  width: 1em;
  height: 1em;
}

.teamLink:hover {
  color: var(--color-highlight--hover);
}

.crown {
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin-left: var(--space--4);
  color: var(--color-crown);
}
