@layer components {
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    border: var(--modal-border);
    border-radius: var(--modal-border-radius);
    color: var(--modal-color);
    background: var(--modal-background);

    box-shadow: var(--modal-box-shadow);
    transform: translate(-50%, -50%);

    &::backdrop {
      background: rgb(0 0 0 / 0.6);
      backdrop-filter: blur(10px);
    }
  }

  .modal__content {
    display: flex;
    flex-direction: column;
    gap: var(--modal-content-gap);
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    padding: var(--modal-content-padding);
  }

  .modal__button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
}
