.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 83.5rem;
  padding: 0;
}

.background {
  --w: 56vw;

  position: absolute;
  top: calc(var(--header-height) - var(--header-height) *2);
  right: 0;

  z-index: -1;
  width: var(--w);
  height: calc(var(--w) * 0.45);
}

.backgroundImg {
  --w: 56vw;

  position: absolute;
  top: 0;
  right: 0;
  width: var(--w);
  height: calc(var(--w) * 0.45);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  --gradients:
    linear-gradient(90deg, transparent 0%, white 70%, transparent 100%),
    linear-gradient(180deg, white 40%, transparent 95%);

  /* stylelint-disable property-no-vendor-prefix */
  -webkit-mask-image: var(--gradients);
  -webkit-mask-composite: source-in;
  /* stylelint-enable property-no-vendor-prefix */
  mask-image: var(--gradients);
  mask-composite: intersect;
  opacity: 0.3;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 2rem 0 6rem;
}

.pageHeader {
  padding: 2.5rem 0 2rem;
}

.pageBody {
  display: flex;
  flex-direction: column;
}

.layoutSidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 60rem) {
  .layoutSidebar {
    flex-flow: row wrap;
  }

  .sidebar {
    flex: 0 1 16rem;
  }

  .main {
    flex: 1;
  }

  .fullWidth {
    flex: 0 0 100%;
  }
}
