.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 84rem;
  padding: 0 1.5rem;
}

.background {
  z-index: -1;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  padding: 2rem 0 6rem;
}

.pageHeader {
  padding: var(--space--32) 0 var(--space--16) 0;
}

.pageBody {
  display: flex;
  flex-direction: column;
}

.layoutSidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--space--32);
}

@media (min-width: 60rem) {
  .layoutSidebar {
    flex-flow: row wrap;
  }

  .sidebar {
    flex: 0 1 16rem;
  }

  .main {
    flex: 1;
  }

  .fullWidth {
    flex: 0 0 100%;
  }
}
