.root {
  display: flex;
  gap: var(--space--4);
  padding-left: var(--space--16);
}

.outer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space--8) var(--space--16);
  background-color: var(--breadcrumb-bg-color);

  /* skew the container */
  transform: skew(-30deg);

  --breadcrumb-bg-color: var(--color-4);
}

.outer:hover {
  --breadcrumb-bg-color: var(--color-7);
}

.outerHome {
  z-index: 1;
}

.outer__start {
  padding-left: 0;
}

.outer__end {
  padding-right: 0;

  --breadcrumb-bg-color: var(--color-7);
}

.outer__start::before,
.outer__end::after {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: var(--space--32);
  background-color: var(--breadcrumb-bg-color);
  transform: skew(30deg);
  content: "\0020";
}

.outer__start::before {
  left: -1rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.outer__end::after {
  right: -1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.inner {
  /* gap: var(--space--14);
  align-items: center; */
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);

  /* unskew the content */
  transform: skew(30deg);
}

.innerHome {
  width: 1em;
  height: 1em;
}

/* .inner > a {
  display: block;
  margin: calc(-1 * var(--space--8)) calc(-1 * var(--space--16));
  padding: var(--space--8) var(--space--16);
} */

.inner__end {
  color: var(--color-primary);
}

.home {
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}
