@layer components {
  .tag {
    display: inline-flex;
    gap: var(--tag-gap);
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: calc(var(--tag-content-height) + var(--tag-padding-block) * 2);
    border-radius: var(--radius-full);
    color: var(--tag-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--tag-font-size);
    text-decoration: none;
    background: var(--tag-background-color);
    padding-block: var(--tag-padding-block);
    padding-inline: var(--tag-padding-inline);

    @media (hover: hover) and (pointer: fine) {
      &:where(:hover, :active) {
        text-decoration: none;
      }
    }
  }

  .tag > span {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
  }
}
