.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxl);
  color: var(--color-text--default);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.leftColumnRegular {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xs);
}

.leftColumnTitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-xxxxl);
  line-height: 1;
}

.leftColumnDescription {
  color: var(--color-text-tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height--m);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xl);
}

@media (width >= 60rem) {
  .wrapper {
    flex-flow: row wrap;
    gap: var(--gap-xxxl);
  }

  .leftColumn {
    flex: 0 1 336px;
  }

  .rightColumn {
    flex: 1;
  }
}
