.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
  color: var(--color-text--default);
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.leftColumnRegular {
  display: flex;
  flex-direction: column;
  gap: var(--gap--8);
}

.leftColumnTitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--l);
  line-height: 1;
}

.leftColumnDescription {
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap--24);
}

@media (min-width: 60rem) {
  .wrapper {
    flex-flow: row wrap;
    gap: var(--gap--32);
  }

  .leftColumn {
    flex: 0 1 336px;
  }

  .rightColumn {
    flex: 1;
  }
}
