.root {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--color-text--default);

  font: var(--font-body);
  font-size: var(--font-size--14);
}

.leftColumnTitle {
  font-weight: 700;
}

.leftColumnDescription {
  color: var(--color-text--secondary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

@media (min-width: 60rem) {
  .wrapper {
    flex-flow: row wrap;
    gap: 2rem;
  }

  .leftColumn {
    flex: 0 1 16rem;
  }

  .rightColumn {
    flex: 1;
  }
}
