.root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login {
  position: relative;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  height: 100%;
  min-height: 720px;
  padding: var(--space--48) var(--space--16);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
  width: 448px;
  max-width: 100%;
}

.header {
  font-weight: 700;
  font-size: var(--font-size--xxl);
  font-family: var(--font-family-header);
  line-height: var(--line-height--xl);
}

.headerTitle {
  color: var(--color-highlight);
}

.label {
  margin-bottom: var(--space--8);
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.description {
  color: var(--color-text--tertiary);
}

.divider {
  position: relative;
  top: 50%;
  flex: 1 0 auto;
  border-top: var(--space--px) solid var(--color-surface--6);
  content: "\00a0";
}

.decoration {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  padding: var(--space--8) 0;
}

.decorationText {
  color: var(--color-text--tertiary);
  font-weight: 500;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  text-align: center;
}

.alternateAction {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.alternateActionButton {
  display: flex;
  flex-direction: column;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
}

.loginButton {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainPageLinkWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-highlight);
}

.mainPageLink:hover {
  text-decoration: underline;
}

.backgroundGradient {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: linear-gradient(166deg, rgb(94 29 137 / 0) 60%, rgb(216 172 244 / 0.3) 150%);
  pointer-events: none;
}

.legal {
  position: absolute;
  bottom: var(--space--24);
  padding: 0 var(--space--16);
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  text-align: center;
}

.legalLink {
  color: var(--color-highlight);
}

.advertisementWrapper {
  position: relative;
  flex: 1 1 0;
  min-height: 720px;
  overflow: hidden;
}

.advertisementBackground {
  position: absolute;
  min-width: 1600px;
  min-height: 1600px;
  margin-top: -300px;
  margin-left: -250px;
  opacity: 0.3;
  pointer-events: none;
}

.advertisement {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--gap--24);
  justify-content: center;
  max-width: 700px;
  height: 100%;
  margin: auto;
  padding: 0 var(--space--24);
  overflow: auto;
}

.advertisementTitle {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  font: var(--font-heading);
  font-weight: 800;
  font-size: 51px;
  line-height: 1.2;
}

.advertisementTitleLeft {
  color: var(--color-text--default);
}

.advertisementTitleRight {
  font-style: italic;
  background: var(--color-gradient-vibrant, linear-gradient(315deg, #9d30e4 27.6%, #1ca7f5 51.04%, #23ffb0 76.56%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.advertisementLogo > svg {
  max-height: 55px;
}

.advertisementInfo {
  display: flex;
  flex-direction: column;
  gap: var(--gap--8);
  font-weight: 600;
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

@media (max-width: 85rem) {
  .advertisementTitle {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 55rem) {
  .root {
    flex-direction: column;
  }
}

@media (max-width: 30rem) {
  .loginButtons {
    flex-direction: column;
  }
}
