.root {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login {
  position: relative;
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  height: 100%;
  min-height: 600px;
  padding: var(--space--48) var(--space--16);
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  width: 448px;
  max-width: 100%;
}

.tabButtons {
  padding-bottom: var(--space--16);
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.inputFieldRow {
  display: flex;
  flex-direction: column;
  gap: var(--gap--24);
}

.label {
  margin-bottom: var(--space--8);
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.loginButton {
  display: flex;
  flex-direction: column;
}

.descriptor {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  padding: var(--space--8) 0;
}

.descriptorDecoration {
  position: relative;
  top: 50%;
  flex: 1 0 auto;
  border-top: var(--space--px) solid var(--color-surface--6);
  content: "\00a0";
}

.descriptorText {
  color: var(--color-text--tertiary);
  font-weight: 500;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  text-align: center;
}

.continueButtons {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
}

.continueButton {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.backgroundGradient {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background: linear-gradient(166deg, rgb(94 29 137 / 0) 60%, rgb(216 172 244 / 0.3) 150%);
  pointer-events: none;
}

.graphicsWrapper {
  max-height: 100%;
}

.graphics {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 768px;
  max-height: 600px;
  padding: var(--space--48) 0;
}

.logo {
  padding: 0 var(--space--32);
}

.logo > svg {
  height: var(--space--24);
  fill: var(--color-white);
}

.graphicsSvg {
  position: relative;
  display: flex;
  flex-grow: 0;
  max-height: calc(100vh - 10rem);
  pointer-events: none;
}

.legal {
  bottom: 0;
  padding: var(--space--8) var(--space--32);
  color: rgb(97 96 121 / 1);
  font-weight: 500;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  text-align: center;
}

.legalLink {
  color: var(--color-text--tertiary);
}

@media (max-width: 55rem) {
  .root {
    flex-direction: column;
  }

  .graphics {
    max-width: 100%;
  }

  .graphicsSvg {
    display: none;
  }

  .legal {
    padding-top: var(--space--48);
  }
}

@media (max-width: 30rem) {
  .continueButtons {
    flex-direction: column;
  }

  .graphics {
    max-width: 100%;
  }
}
