@layer nimbus-overrides {
  :root {
    --nimbus-not-used-token: black;
  }

  @media (width <= 63.5rem) {
    .nimbus-hide-l {
      display: none;
    }
  }

  @media (width <= 40rem) {
    .nimbus-hide-m {
      display: none;
    }
  }

  @media (width <= 48rem) {
    .nimbus-hide-s {
      display: none;
    }
  }
}
