.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.top {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

.packageCount {
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
}

.order {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  align-items: flex-start;
}

.sortByText {
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  white-space: nowrap;
}

.packages {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: var(--gap--24);
}

.packagesIsFiltersVisible {
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
}

.packageCardSkeleton {
  aspect-ratio: 3/5;
}

.packageOrderBySkeletonBar {
  width: 14rem;
  height: var(--space--38);
}

.packageCountSkeletonBar {
  width: 14rem;
  height: var(--space--20);
}

.packagePaginationSkeletonContainer {
  display: flex;
  justify-content: center;
}

.packagePaginationSkeletonBar {
  width: 14rem;
  height: var(--space--36);
}

@media (width <= 43.75rem) {
  .top {
    flex-direction: column-reverse;
    gap: 1rem;
  }

  .order {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .sortByText {
    display: none;
  }
}
