.root,
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap--32);
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap--24);
  align-items: flex-start;
}

.sidebar {
  position: sticky;
  top: var(--header-height);
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  gap: var(--gap--16);
}

.skeletonSearch {
  width: auto;
  height: 2.75rem;
}

.skeletonFilters {
  height: 18rem;
}

.skeletonContent {
  height: 38rem;
}

.dateFilterHeader {
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  white-space: nowrap;
}

.dateFilterInputs {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.dateFilterInputsSet {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}

.dateFilterInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space--10) var(--space--14);
  border: var(--border-width--2) solid var(--border-color);

  border-radius: var(--border-radius--8);
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-medium);

  font-size: var(--font-size--l);
  line-height: normal;
  background-color: var(--color-surface--4);
  outline: none;
  transition: ease-out var(--animation-length-l);

  --border-color: transparent;
}

.dateFilterInput:hover {
  --border-color: var(--color-border--highlight);
}

.dateFilterInput:focus-within {
  color: var(--color-text--default);
  background-color: var(--color-black);

  --border-color: var(--color-border--highlight);
}

.dateFilterInput::placeholder {
  color: var(--color-text--tertiary);
}

.searchWrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.searchRowItemWrapper {
  display: flex;
  flex-direction: column;
}

.searchInputWrapper {
  width: 100%;
}

.searchText {
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  white-space: nowrap;
}

.sortByButton {
  --border-color: transparent;

  border: var(--border-width--2) solid var(--border-color);
}

.sortByButton:hover {
  --border-color: var(--color-border--highlight);
}
