@layer nimbus-components {
  .nimbus-commonComponents-packageSearch {
    display: flex;
    gap: var(--gap-xl);
    align-items: flex-start;
    align-self: stretch;
  }

  .nimbus-commonComponents-packageSearch-sidebar {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: flex-start;
    justify-content: center;
    width: 17rem;
    padding: var(--space-12);
    border-radius: var(--radius-md);
    background: var(--color-surface-3);
  }

  .nimbus-commonComponents-packageSearch-sidebar__search {
    width: 100%;
  }

  .nimbus-commonComponents-packageSearch-sidebar__filters {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: stretch;
    align-self: stretch;
  }

  .nimbus-commonComponents-packageSearch-content {
    display: flex;
    flex: 0 1 100%;
    flex-direction: column;
    gap: var(--space-24);
    align-items: flex-start;
  }

  .nimbus-commonComponents-packageSearch-content__pagination {
    display: flex;
    gap: var(--gap-xxs);
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding-top: var(--space-40);
  }

  .nimbus-commonComponents-packageSearch-searchParams {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    min-width: 0;
  }

  .nimbus-commonComponents-packageSearch-searchParams__tags {
    display: flex;
    flex: 0 1 0;
    gap: var(--gap-sm);
    align-items: center;
    min-width: 0;
  }

  .nimbus-commonComponents-packageSearch-tools {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xl);
    align-items: center;
    align-self: stretch;
  }

  .nimbus-commonComponents-packageSearch-tools__results {
    display: flex;
    flex: 1;
    gap: var(--gap-xxs);
    align-items: center;
  }

  .nimbus-commonComponents-packageSearch-tools__listingActions {
    display: flex;
    gap: var(--gap-md);
    align-items: center;
    justify-content: flex-end;

    /* > .__display {
      display: flex;
      flex-direction: column;
      gap: var(--gap-xs);
      align-items: flex-start;
    } */
  }

  .nimbus-commonComponents-packageSearch-tools__sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nimbus-commonComponents-packageSearch-packages {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: center;
    align-self: stretch;
  }

  .nimbus-commonComponents-packageSearch-packages__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: var(--gap-sm);
    width: 100%;
  }

  @media (width <= 48rem) {
    .nimbus-commonComponents-packageSearch-tools {
      flex-direction: column;
      align-items: stretch;
    }

    .nimbus-commonComponents-packageSearch-tools__results {
      align-items: stretch;
      justify-content: center;
    }

    .nimbus-commonComponents-packageSearch-tools__sorting {
      width: 100%;
    }

    .nimbus-commonComponents-packageSearch-packages__grid {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
  }

  @media (width <= 475px) {
    .nimbus-commonComponents-packageSearch {
      flex-direction: column;
    }

    .nimbus-commonComponents-packageSearch-sidebar {
      width: 100%;
    }

    .nimbus-commonComponents-packageSearch-tools {
      flex-direction: column;
      align-items: stretch;
    }

    .nimbus-commonComponents-packageSearch-tools__results {
      align-items: stretch;
      justify-content: center;
    }

    .nimbus-commonComponents-packageSearch-packages__grid {
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    }
  }

  /* This is added for better grid on phones */
  @media (width <= 416px) {
    .nimbus-commonComponents-packageSearch-packages__grid {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
  }
}
