.container {
  margin-top: 1rem;
  background-color: var(--color-darkblue);
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width-content);
  margin: 0 auto;
  padding: 1.25rem 1rem;
}

.content h2,
.content a {
  margin: 0;
  font: 0.875rem/1.4 var(--font-family-body);
  color: var(--color-coolgray);
}

.service {
  flex: 1 0 10rem;
  padding-right: 1rem;
}
