.background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #00000060;
}

.popUp {
  background: var(--color-blue);
  border-radius: 0.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.525rem 2rem 1rem 2rem;
}

.closeWindow {
  background: none;
  border: none;
}

.instructions {
  display: flex;
  flex-direction: column;
  margin: 0rem 14rem 2rem 2rem;
  padding-left: 1rem;
  color: var(--color-babyblue);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.25rem 2rem 1.25rem 2rem;
  background: var(--color-background);
  border-radius: 0.5rem;
}

.footerLeft {
  font-size: 0.875rem;
  flex-grow: 1;
  color: var(--color-babyblue);
}
