.mod {
  display: flex;
  align-items: flex-start;
  column-gap: 1.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--color-lightblue);
  padding-bottom: 1em;
}

.mod:last-of-type {
  margin-bottom: 0;
  border-bottom: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.imageIcon {
  width: 64px;
  height: 64px;
}

.name {
  margin: -5px 0 0 0;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.description {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: var(--color-babyblue);
}

.artifacts {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  margin-top: 0.25em;
}

.artifacts > div {
  padding: 0.25em 0.625em;
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--color-babyblue);
  background-color: var(--color-lightblue);
}
