.container {
  font: 500 1rem/1.4 var(--font-family-body);
}

.headerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 4em;
  justify-content: space-between;
  align-items: flex-start;
}

.listingTitle {
  flex: 1 1 60%;
  margin-top: 1.2rem;
  font: 900 1.875rem/1.2 var(--font-family-header);
}

.joinServerButton {
  flex: 0 0 11rem;
  height: 2.6875em;
  margin-top: 1.2rem;
  padding: 0.75em 1.875em;
  text-align: center;
  font-weight: 700;
  color: var(--color-background);
  background-color: var(--color-orange);
}

.contentRow {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.columnLeft {
  display: flex;
  flex-direction: column;
  flex: 1.43 1 20rem;
}

.columnRight {
  display: flex;
  flex-direction: column;
  flex: 1 1 20rem;
}

.sectionTitle {
  margin: 2em 0 1em 0;
  font: 700 1.125rem/1.22 var(--font-family-header);
  color: var(--color-babyblue);
}

.descriptionContent {
  border: 0.125em solid var(--color-lightblue);
  padding: 1.5em 2em;
  background-color: var(--color-blue);
}

.modRow {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.modRowColumn {
  display: flex;
  flex-direction: column;
}

.modImg {
  width: 64px;
  height: 64px;
  margin-right: 2em;
  background: greenyellow;
  border-radius: 0;
}

.modContentRow {
  display: flex;
  align-items: flex-start;
}

.modName {
  display: flex;
  align-items: center;
  height: 1.375em;
  font-weight: 700;
  line-height: 1.2;
}

.modDescription {
  display: flex;
  align-items: center;
  height: 1.571em;
  font-size: 0.875rem;
  color: var(--color-babyblue);
}

.modArtifacts {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  margin-top: 0.25em;
}

.artifact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.25em;
  height: 1.375em;
  gap: 0.625em;
  padding: 0.25em 0.625em;
  background-color: var(--color-lightblue);
}

.artifactText {
  display: flex;
  align-items: center;
  text-align: center;
  width: 4em;
  height: 1.16em;
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--color-babyblue);
}

.serverInfoRow {
  display: flex;
  column-gap: 1em;
  margin: 0.2em 0;
  border: 2px solid var(--color-lightblue);
  padding: 0.5em 1em;
  background-color: var(--color-blue);
}

.serverInfoColumn {
  flex: 1;
}
