h1.header {
  width: 100%;
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--color-babyblue);
}

h2.header {
  flex: 1 1;
  margin: 0;
  font: normal 900 1.875rem/1.2 var(--font-family-header);
  text-transform: capitalize;
}

.paginatorWrapper,
.tableHeader,
.row {
  display: flex;
  width: 100%;
  min-width: 40rem;
}

.paginatorWrapper:last-of-type {
  margin-top: 1.5rem;
}

.tableHeader,
.row {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.875rem;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  gap: 1rem;
  font-size: 1rem;
  line-height: 1.4;
}

.tableHeader {
  margin-top: 2.375rem;
  font-weight: 700;
  color: var(--color-babyblue);
}

.listings {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.row {
  background-color: var(--color-blue);
  border: 2px solid var(--color-lightblue);
  font-weight: 500;
  cursor: pointer;
}

.row:hover {
  border-color: var(--color-lightblue115);
}

.tableHeader > div,
.row > div {
  flex: 0 0 6.25rem;
  text-align: center;
}

.tableHeader > div.name,
.row > div.name {
  flex: 1;
  text-align: left;
}

.pvp {
  color: var(--color-highlightred);
}

.pve {
  color: var(--color-highlightgreen);
}

.paginator {
  flex: 0 0 10rem;
  text-align: right;
}

.paginator:only-child {
  flex: 1;
}

.paginator button {
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: var(--color-coolgray);
  font: 500 1rem/1.2 var(--font-family-body);
  cursor: pointer;
}
