.titleContainer {
  margin-bottom: 38px;
}

.pageTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: var(--color-babyblue);
}

/* TODO: Add font alternatives */
.gameTitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  text-transform: capitalize;
}

.tableHeader,
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 16px 12px 16px;
  margin-bottom: 8px;
  gap: 16px;
  font-size: 16px;
  line-height: 140%;
}

.tableHeader {
  font-style: normal;
  font-weight: 700;
  color: var(--color-babyblue);
}

.row {
  background-color: var(--color-blue);
  border: 2px solid var(--color-lightblue);
  font-weight: 500;
  cursor: pointer;
}

.row:hover {
  border-color: var(--color-lightblue115);
}

.pvp,
.pve {
  text-align: center;
}

.pvp {
  color: var(--color-highlightred);
}

.pve {
  color: var(--color-highlightgreen);
}

.name {
  flex-grow: 1;
}

.mode,
.mods,
.password {
  width: 100px;
  text-align: center;
}
