@layer components {
  .ts-table {
    --table-border: 1px solid var(--color-surface-a8);

    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    tr > th,
    tr > td {
      padding: 8px 16px;
      border-bottom: var(--table-border);
    }

    tr > td:first-child,
    tr > th:first-child {
      border-left: var(--table-border);
    }

    tr > td:last-child,
    tr > th:last-child {
      border-right: var(--table-border);
    }

    tr:first-child > th {
      border-top: var(--table-border);
    }

    tr:first-child > th:first-child {
      border-top-left-radius: var(--radius-md);
    }

    tr:first-child > th:last-child {
      border-top-right-radius: var(--radius-md);
    }

    tr:first-child > th:only-child {
      border-top-left-radius: var(--radius-md);
      border-top-right-radius: var(--radius-md);
    }

    tr:last-child > td:first-child,
    tr:last-child > th:first-child {
      border-bottom-left-radius: var(--radius-md);
    }

    tr:last-child > td:last-child,
    tr:last-child > th:last-child {
      border-bottom-right-radius: var(--radius-md);
    }
  }

  .ts-table__caption {
    padding: 1rem;
    border-top: var(--table-border);
    border-right: var(--table-border);
    border-left: var(--table-border);
    border-top-left-radius: var(--radius-md);
    border-top-right-radius: var(--radius-md);
    text-align: left;
  }

  .ts-table__header {
    color: var(--color-text-tertiary);
    font-weight: 700;

    font-size: var(--font-size-body-md);
    line-height: 150%; /* 21px */
    text-align: left;
    text-wrap: nowrap;
    background: var(--color-surface-a4);
  }

  .ts-table__sortbutton {
    display: flex;
    gap: 1rem;
    align-items: center;
    background: transparent;
  }

  .ts-table__row {
    :last-child {
      text-align: right;
    }

    :last-child > .ts-table__sortbutton {
      float: right;
      text-align: right;
    }
  }

  .ts-table__item {
    padding: 8px 16px;
  }

  :root {
    --table-border: 1px solid var(--color-surface-a8);
  }
}
