.root {
  display: flex;
}

.label {
  font-weight: var(--font-weight-medium);
}

.content {
  display: flex;
  flex-direction: column;
  padding: var(--space--8) 0;
  border: var(--space--px) var(--color-surface--6) solid;
  border-radius: var(--border-radius--8);
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--color-surface--2);
  box-shadow: var(--box-shadow-default);

  --text-color: var(--color-white);
  --bg-color: var(--color-surface--4);
}

.itemWrapper {
  padding: var(--space--12) var(--space--16);
  overflow: hidden;
}

.itemWrapper[data-highlighted] {
  z-index: 999;
  background-color: var(--color-surface--6);
}

.divider {
  height: var(--space--px);
  margin: var(--space--8) 0;
  background-color: var(--color-surface--6);
}
