.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12rem;
  color: var(--color-text--default);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--m);
  line-height: 1;
}

.label {
  display: flex;
  flex-direction: row;
  gap: var(--space--12);
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  color: var(--color-text--accent);
  aspect-ratio: 1;
}

.arrowUpRightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1em;
  color: var(--color-text--accent);
}
