.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 12rem;
  color: var(--color-text--default);
}

.label {
  display: flex;
  flex-direction: row;
  gap: var(--space--8);
  align-items: center;
  font-weight: 500;
  font-size: var(--font-size--m);
  line-height: 1;
}

.icon {
  color: var(--color-text--accent);
}
