.isSquare {
  --aspect-ratio: 1;
  --image-width: 50%;
}

.is3By4 {
  --aspect-ratio: 3 / 4;
  --image-width: 30%;
}

.fullWidth {
  --image-width: 100%;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius--8);
  overflow: hidden;
  color: var(--color-purple--9);
  background-color: var(--color-purple--4);
  transition: var(--animation-length-l);
  aspect-ratio: var(--aspect-ratio);
}

.imageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--image-width);
  aspect-ratio: 1;
  transition: var(--animation-length-l);
}

.image {
  object-fit: cover;
  aspect-ratio: var(--aspect-ratio);
}
