.isSquare {
  --aspect-ratio: 1;
  --image-width: 50%;
}

.is3By4 {
  --aspect-ratio: 3 / 4;
  --image-width: 30%;
}

.fullWidth {
  --image-width: 100%;
}

.imageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-md);
  overflow: hidden;
  color: var(--old--color-accent-purple-9);
  background-color: var(--old--color-accent-purple-4);
  transition: var(--animation-duration-sm) ease-out;
  aspect-ratio: var(--aspect-ratio);
}

.imageContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--image-width);
  aspect-ratio: 1;
  transition: var(--animation-duration-sm) ease-out;
}

.image {
  object-fit: cover;
  aspect-ratio: var(--aspect-ratio);
}
