.packageInfo {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  align-items: center;
}

.packageInfoDetails {
  display: flex;
  flex-direction: column;
  gap: var(--gap--8);
}

.packageInfoMeta {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
}

.description {
  color: var(--color-text--default);
  font: var(--font-body);
  white-space: pre-wrap;
}

.managementDialogTrigger {
  display: flex;
  flex-grow: 1;
  align-self: flex-start;
  justify-content: flex-end;
}

.metaButtonWrapper {
  display: flex;
  flex-grow: 1;
  gap: var(--gap--4);
}

.metaInfo {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  min-width: 21rem;
}
