.packageInfo {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  align-items: center;
}

.packageInfoDetails {
  display: flex;
  flex-direction: column;
  gap: var(--gap--8);
}

.packageInfoMeta {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
}

.packageInfoDescription {
  color: var(--color-text--default);
  font: var(--font-body);
}

.mainContentWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  margin-top: var(--space--16);
}

.mainContentLeft {
  display: flex;
  flex: 2 1 0;
  flex-direction: column;
  gap: var(--gap--12);
}

.description {
  color: var(--color-text--default);
  font: var(--font-body);
  white-space: pre-wrap;
}

.mainContentRight {
  flex: 1 1 0;
  background-color: var(--color-surface--3);
}

.managementDialogTrigger {
  display: flex;
  flex-grow: 1;
  align-self: flex-start;
  justify-content: flex-end;
}
