.packageInfo {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  justify-content: space-between;
}

.packageInfoDetails {
  display: flex;
  flex-direction: column;
  gap: var(--gap--8);
}

.packageInfoMeta {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
}

.description {
  color: var(--color-text--default);
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.headerActions {
  display: flex;
  flex-basis: 354px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.installButton {
  position: relative;
  bottom: -1rem;
  width: 354px;
}

.installButtonIcon {
  max-width: var(--space--24);
}

.installButtonIcon svg {
  width: 1.655rem;
  height: 1.462rem;
}

.metaButtonWrapper {
  display: flex;
  flex-grow: 1;
  gap: var(--gap--8);
}

.metaDownloadButton {
  display: flex;
  flex-grow: 1;
}

.metaDownloadButton > div {
  display: flex;
  flex-grow: 1;
}

.metaInfo {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  min-width: 354px;
}

.dependencyStringWrapper {
  display: flex;
  gap: var(--gap--8);
  align-items: center;
  max-width: 180px;
  max-height: 21px;
}

.dependencyString {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dependantsLink {
  color: var(--color-highlight);
}

@media (max-width: 60rem) {
  .packageInfo {
    flex-direction: column;
    gap: 0;
  }

  .headerActions {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.tabIcon {
  line-height: normal;
}

.modImage {
  min-width: 9rem;
  max-width: 9rem;
  min-height: 9rem;
  max-height: 9rem;
  border-radius: var(--border-radius--8);
}

.categoriesCard {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  row-gap: 0.5rem;
}
