.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  margin: var(--page-margin-top) var(--page-margin);
}

.topContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.packageInfo {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  align-items: center;
}

.packageInfoDetails {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
}

.mainContentWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  margin-top: var(--space--16);
}

.mainContentLeft {
  display: flex;
  flex: 2 1 0;
  flex-direction: column;
  gap: var(--gap--12);
}

.description {
  color: var(--color-text--default);
  font: var(--font-body);
  white-space: pre-wrap;
}

.mainContentRight {
  flex: 1 1 0;
  background-color: var(--color-surface--3);
}
