.packageInfo {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  align-items: center;
}

.packageInfoDetails {
  display: flex;
  flex-direction: column;
  gap: var(--gap--8);
}

.packageInfoMeta {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
}

.description {
  color: var(--color-text--default);
  white-space: pre-wrap;
}

.headerActions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap--16);
  align-items: flex-end;
  align-self: flex-end;
}

.installButton > div {
  width: 354px;
}

.installButtonIcon {
  max-width: var(--space--24);
}

.metaButtonWrapper {
  display: flex;
  flex-grow: 1;
  gap: var(--gap--4);
}

.metaDownloadButton {
  display: flex;
  flex-grow: 1;
}

.metaDownloadButton > button {
  display: flex;
  flex-grow: 1;
}

.metaInfo {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  min-width: 354px;
}

.dependencyStringWrapper {
  display: flex;
  gap: var(--gap--8);
  align-items: center;
  max-width: 180px;
  max-height: 21px;
}

.dependencyString {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
