@layer colors {
  :root {
    /* Figma common colors */
    --skeletor-bg: var(--color-surface-a3);
    --body-bg-color: var(--color-surface-3);
    --body-bg-color-a: hsl(240deg 38% 13% / 0.85);
    --border-default: var(--color-surface-a7);
    --border-dim: var(--color-surface-a6);
    --datalist-row-bg-color: var(--color-surface-a3);
    --surface-dim: var(--color-surface-a3);
    --surface-dimmer: var(--color-surface-a2);

    /* Misc */
    --color-crown: var(--color-accent-yellow-5);
    --animation-timing-1: cubic-bezier(0.16, 1, 0.3, 1);
    --shadow-lg: 0 12px 24px 5px hsl(0deg 0 0% / 0.65);
    --color-text-a--default: var(--color-cyber-green-7);
    --color-text-a--hover: var(--color-cyber-green-6);

    /* Color tokens */
    --color-black: rgb(0 0 0);
    --color-white: rgb(255 255 255);
    --color-text-primary: hsl(240deg 5% 96% / 1);
    --color-text-secondary: hsl(231deg 46% 86% / 1);
    --color-text-tertiary: hsl(230deg 32% 74% / 1);
    --color-text-accent: hsl(243deg 100% 88% / 1);
    --color-accent-blue-1: hsl(203deg 78% 5%);
    --color-accent-blue-10: hsl(203deg 92% 86%);
    --color-accent-blue-11: hsl(202deg 92% 95%);
    --color-accent-blue-2: hsl(202deg 78% 11%);
    --color-accent-blue-3: hsl(202deg 80% 16%);
    --color-accent-blue-4: hsl(203deg 80% 21%);
    --color-accent-blue-5: hsl(203deg 79% 32%);
    --color-accent-blue-6: hsl(203deg 80% 43%);
    --color-accent-blue-7: hsl(203deg 92% 54%);
    --color-accent-blue-8: hsl(203deg 92% 63%);
    --color-accent-blue-9: hsl(203deg 92% 72%);
    --color-accent-green-1: hsl(154deg 47% 6%);
    --color-accent-green-10: hsl(155deg 65% 83%);
    --color-accent-green-11: hsl(156deg 63% 92%);
    --color-accent-green-2: hsl(156deg 46% 12%);
    --color-accent-green-3: hsl(155deg 46% 17%);
    --color-accent-green-4: hsl(155deg 46% 23%);
    --color-accent-green-5: hsl(154deg 46% 35%);
    --color-accent-green-6: hsl(154deg 46% 47%);
    --color-accent-green-7: hsl(155deg 64% 58%);
    --color-accent-green-8: hsl(154deg 65% 67%);
    --color-accent-green-9: hsl(154deg 64% 75%);
    --color-accent-orange-1: hsl(16deg 61% 6%);
    --color-accent-orange-10: hsl(15deg 90% 84%);
    --color-accent-orange-11: hsl(13deg 90% 92%);
    --color-accent-orange-2: hsl(13deg 58% 12%);
    --color-accent-orange-3: hsl(14deg 59% 18%);
    --color-accent-orange-4: hsl(15deg 59% 24%);
    --color-accent-orange-5: hsl(14deg 59% 36%);
    --color-accent-orange-6: hsl(15deg 60% 48%);
    --color-accent-orange-7: hsl(14deg 91% 61%);
    --color-accent-orange-8: hsl(15deg 91% 68%);
    --color-accent-orange-9: hsl(14deg 92% 76%);
    --color-accent-pink-1: hsl(305deg 42% 6%);
    --color-accent-pink-10: hsl(305deg 68% 84%);
    --color-accent-pink-11: hsl(306deg 70% 92%);
    --color-accent-pink-2: hsl(306deg 45% 12%);
    --color-accent-pink-3: hsl(306deg 44% 18%);
    --color-accent-pink-4: hsl(305deg 45% 24%);
    --color-accent-pink-5: hsl(307deg 44% 36%);
    --color-accent-pink-6: hsl(306deg 44% 48%);
    --color-accent-pink-7: hsl(306deg 68% 61%);
    --color-accent-pink-8: hsl(306deg 68% 68%);
    --color-accent-pink-9: hsl(307deg 68% 76%);
    --color-accent-purple-1: hsl(278deg 50% 6%);
    --color-accent-purple-10: hsl(277deg 87% 85%);
    --color-accent-purple-11: hsl(278deg 84% 93%);
    --color-accent-purple-2: hsl(278deg 50% 13%);
    --color-accent-purple-3: hsl(277deg 51% 19%);
    --color-accent-purple-4: hsl(277deg 50% 25%);
    --color-accent-purple-5: hsl(276deg 50% 38%);
    --color-accent-purple-6: hsl(276deg 52% 51%);
    --color-accent-purple-7: hsl(277deg 86% 63%);
    --color-accent-purple-8: hsl(276deg 87% 71%);
    --color-accent-purple-9: hsl(276deg 86% 78%);
    --color-accent-red-1: hsl(350deg 60% 6%);
    --color-accent-red-10: hsl(349deg 86% 83%);
    --color-accent-red-11: hsl(349deg 86% 92%);
    --color-accent-red-2: hsl(349deg 63% 12%);
    --color-accent-red-3: hsl(349deg 62% 17%);
    --color-accent-red-4: hsl(349deg 63% 23%);
    --color-accent-red-5: hsl(349deg 62% 35%);
    --color-accent-red-6: hsl(349deg 62% 47%);
    --color-accent-red-7: hsl(349deg 87% 58%);
    --color-accent-red-8: hsl(349deg 87% 67%);
    --color-accent-red-9: hsl(349deg 87% 75%);
    --color-accent-yellow-1: hsl(49deg 50% 6%);
    --color-accent-yellow-10: hsl(47deg 87% 85%);
    --color-accent-yellow-11: hsl(45deg 89% 93%);
    --color-accent-yellow-2: hsl(45deg 51% 13%);
    --color-accent-yellow-3: hsl(47deg 51% 19%);
    --color-accent-yellow-4: hsl(47deg 50% 25%);
    --color-accent-yellow-5: hsl(47deg 51% 38%);
    --color-accent-yellow-6: hsl(47deg 52% 50%);
    --color-accent-yellow-7: hsl(47deg 87% 63%);
    --color-accent-yellow-8: hsl(47deg 87% 70%);
    --color-accent-yellow-9: hsl(47deg 88% 78%);
    --color-cyber-green-1: hsl(161deg 98% 3%);
    --color-cyber-green-10: hsl(159deg 100% 78%);
    --color-cyber-green-11: hsl(158deg 100% 91%);
    --color-cyber-green-2: hsl(161deg 79% 5%);
    --color-cyber-green-3: hsl(158deg 76% 11%);
    --color-cyber-green-4: hsl(158deg 76% 23%);
    --color-cyber-green-5: hsl(159deg 76% 34%);
    --color-cyber-green-6: hsl(159deg 76% 45%);
    --color-cyber-green-7: hsl(157deg 100% 57%);
    --color-cyber-green-8: hsl(159deg 100% 65%);
    --color-cyber-green-9: hsl(159deg 100% 74%);
    --color-surface-1: hsl(240deg 65% 8%);
    --color-surface-10: hsl(240deg 38% 47%);
    --color-surface-11: hsl(246deg 50% 42%);
    --color-surface-2: hsl(240deg 42% 11%);
    --color-surface-3: hsl(240deg 38% 13%);
    --color-surface-4: hsl(236deg 38% 16%);
    --color-surface-5: hsl(240deg 36% 19%);
    --color-surface-6: hsl(240deg 37% 22%);
    --color-surface-7: hsl(240deg 38% 26%);
    --color-surface-8: hsl(240deg 37% 32%);
    --color-surface-9: hsl(240deg 38% 38%);
    --color-surface-a1: hsl(240deg 100% 9% / 0.05);
    --color-surface-a10: hsl(240deg 38% 51% / 0.88);
    --color-surface-a11: hsl(247deg 49% 48% / 0.85);
    --color-surface-a2: hsl(240deg 35% 32% / 0.09);
    --color-surface-a3: hsl(240deg 30% 32% / 0.15);
    --color-surface-a4: hsl(236deg 36% 36% / 0.24);
    --color-surface-a5: hsl(240deg 33% 39% / 0.32);
    --color-surface-a6: hsl(240deg 35% 37% / 0.44);
    --color-surface-a7: hsl(240deg 37% 39% / 0.55);
    --color-surface-a8: hsl(240deg 36% 43% / 0.66);
    --color-surface-a9: hsl(240deg 39% 47% / 0.77);
  }
}
