:root {
  --color-black: rgb(0 0 0);
  --color-white: rgb(255 255 255);
  --color-primary: hsl(240deg 5% 96% / 1);
  --color-secondary: hsl(231deg 46% 86% / 1);
  --color-tertiary: hsl(230deg 32% 74% / 1);
  --color-accent: hsl(243deg 100% 88% / 1);
  --color-surface--1: hsl(240deg 65% 8% / 1);
  --color-surface--2: hsl(240deg 43% 11% / 1);
  --color-surface--3: hsl(240deg 39% 13% / 1);
  --color-surface--4: hsl(236deg 38% 16% / 1);
  --color-surface--5: hsl(240deg 36% 19% / 1);
  --color-surface--6: hsl(240deg 37% 22% / 1);
  --color-surface--7: hsl(240deg 38% 26% / 1);
  --color-surface--8: hsl(240deg 37% 32% / 1);
  --color-surface--9: hsl(240deg 38% 38% / 1);
  --color-surface--10: hsl(240deg 38% 47% / 1);
  --color-surface--11: hsl(246deg 50% 42% / 1);
  --color-surface-alpha--1: hsl(240deg 100% 90% / 0.05);
  --color-surface-alpha--2: hsl(240deg 35% 32% / 0.09);
  --color-surface-alpha--3: hsl(240deg 30% 32% / 0.15);
  --color-surface-alpha--4: hsl(236deg 36% 36% / 0.24);
  --color-surface-alpha--5: hsl(240deg 33% 39% / 0.32);
  --color-surface-alpha--6: hsl(240deg 35% 37% / 0.44);
  --color-surface-alpha--7: hsl(240deg 37% 39% / 0.55);
  --color-surface-alpha--8: hsl(240deg 36% 43% / 0.66);
  --color-surface-alpha--9: hsl(240deg 39% 47% / 0.77);
  --color-surface-alpha--10: hsla(240deg 38% 51% / 0.88);
  --color-surface-alpha--11: hsla(246deg 49% 48% / 0.85);
  --color-blue--1: hsl(203deg 78% 5% / 1);
  --color-blue--2: hsl(202deg 78% 11% / 1);
  --color-blue--3: hsl(202deg 80% 16% / 1);
  --color-blue--4: hsl(203deg 80% 21% / 1);
  --color-blue--5: hsl(203deg 79% 32% / 1);
  --color-blue--6: hsl(203deg 80% 43% / 1);
  --color-blue--7: hsl(203deg 92% 54% / 1);
  --color-blue--8: hsl(203deg 92% 63% / 1);
  --color-blue--9: hsl(203deg 92% 72% / 1);
  --color-blue--10: hsl(203deg 92% 86% / 1);
  --color-blue--11: hsl(202deg 92% 95% / 1);
  --color-pink--1: hsl(305deg 42% 6% / 1);
  --color-pink--2: hsl(306deg 45% 12% / 1);
  --color-pink--3: hsl(306deg 44% 18% / 1);
  --color-pink--4: hsl(305deg 45% 24% / 1);
  --color-pink--5: hsl(307deg 44% 36% / 1);
  --color-pink--6: hsl(306deg 44% 48% / 1);
  --color-pink--7: hsl(306deg 68% 61% / 1);
  --color-pink--8: hsl(306deg 68% 68% / 1);
  --color-pink--9: hsl(307deg 68% 76% / 1);
  --color-pink--10: hsl(305deg 68% 84% / 1);
  --color-pink--11: hsl(306deg 70% 92% / 1);
  --color-red--1: hsl(350deg 60% 6% / 1);
  --color-red--2: hsl(349deg 63% 12% / 1);
  --color-red--3: hsl(349deg 62% 17% / 1);
  --color-red--4: hsl(349deg 63% 23% / 1);
  --color-red--5: hsl(349deg 62% 35% / 1);
  --color-red--6: hsl(349deg 62% 47% / 1);
  --color-red--7: hsl(349deg 87% 58% / 1);
  --color-red--8: hsl(349deg 87% 67% / 1);
  --color-red--9: hsl(349deg 87% 75% / 1);
  --color-red--10: hsl(349deg 86% 83% / 1);
  --color-red--11: hsl(349deg 86% 92% / 1);
  --color-orange--1: hsl(16deg 61% 6% / 1);
  --color-orange--2: hsl(13deg 58% 12% / 1);
  --color-orange--3: hsl(14deg 59% 18% / 1);
  --color-orange--4: hsl(15deg 59% 24% / 1);
  --color-orange--5: hsl(14deg 59% 36% / 1);
  --color-orange--6: hsl(15deg 60% 48% / 1);
  --color-orange--7: hsl(14deg 91% 61% / 1);
  --color-orange--8: hsl(15deg 91% 68% / 1);
  --color-orange--9: hsl(14deg 92% 76% / 1);
  --color-orange--10: hsl(15deg 90% 84% / 1);
  --color-orange--11: hsl(13deg 90% 92% / 1);
  --color-green--1: hsl(154deg 47% 6% / 1);
  --color-green--2: hsl(156deg 46% 12% / 1);
  --color-green--3: hsl(155deg 46% 17% / 1);
  --color-green--4: hsl(155deg 46% 23% / 1);
  --color-green--5: hsl(154deg 46% 35% / 1);
  --color-green--6: hsl(154deg 46% 47% / 1);
  --color-green--7: hsl(155deg 64% 58% / 1);
  --color-green--8: hsl(154deg 65% 67% / 1);
  --color-green--9: hsl(154deg 64% 75% / 1);
  --color-green--10: hsl(155deg 65% 83% / 1);
  --color-green--11: hsl(156deg 63% 92% / 1);
  --color-yellow--1: hsl(49deg 50% 6% / 1);
  --color-yellow--2: hsl(45deg 51% 13% / 1);
  --color-yellow--3: hsl(47deg 51% 19% / 1);
  --color-yellow--4: hsl(47deg 50% 25% / 1);
  --color-yellow--5: hsl(47deg 51% 38% / 1);
  --color-yellow--6: hsl(47deg 52% 50% / 1);
  --color-yellow--7: hsl(47deg 87% 63% / 1);
  --color-yellow--8: hsl(47deg 87% 70% / 1);
  --color-yellow--9: hsl(47deg 88% 78% / 1);
  --color-yellow--10: hsl(47deg 87% 85% / 1);
  --color-yellow--11: hsl(45deg 89% 93% / 1);
  --color-purple--1: hsl(277deg 50% 6% / 1);
  --color-purple--2: hsl(277deg 50% 13% / 1);
  --color-purple--3: hsl(277deg 51% 19% / 1);
  --color-purple--4: hsl(277deg 50% 25% / 1);
  --color-purple--5: hsl(276deg 50% 38% / 1);
  --color-purple--6: hsl(276deg 52% 51% / 1);
  --color-purple--7: hsl(277deg 86% 63% / 1);
  --color-purple--8: hsl(276deg 87% 71% / 1);
  --color-purple--9: hsl(276deg 86% 78% / 1);
  --color-purple--10: hsl(277deg 87% 85% / 1);
  --color-purple--11: hsl(277deg 84% 93% / 1);
  --color-cyber-green--1: transparent;
  --color-cyber-green--2: hsl(161deg 79% 5% / 1);
  --color-cyber-green--3: hsl(158deg 76% 11% / 1);
  --color-cyber-green--4: hsl(158deg 76% 23% / 1);
  --color-cyber-green--5: hsl(159deg 76% 34% / 1);
  --color-cyber-green--6: hsl(159deg 76% 45% / 1);
  --color-cyber-green--7: hsl(158deg 100% 57% / 1);
  --color-cyber-green--8: hsl(159deg 100% 65% / 1);
  --color-cyber-green--9: hsl(159deg 100% 74% / 1);
  --color-cyber-green--10: hsl(159deg 100% 78% / 1);
  --color-cyber-green--11: hsl(158deg 100% 91% / 1);
}

[data-color="surface"] {
  --color-1: var(--color-surface--1);
  --color-2: var(--color-surface--2);
  --color-3: var(--color-surface--3);
  --color-4: var(--color-surface--4);
  --color-5: var(--color-surface--5);
  --color-6: var(--color-surface--6);
  --color-7: var(--color-surface--7);
  --color-8: var(--color-surface--8);
  --color-9: var(--color-surface--9);
  --color-10: var(--color-surface--10);
  --color-11: var(--color-surface--11);
}

[data-color="surface-alpha"] {
  --color-1: var(--color-surface-alpha--1);
  --color-2: var(--color-surface-alpha--2);
  --color-3: var(--color-surface-alpha--3);
  --color-4: var(--color-surface-alpha--4);
  --color-5: var(--color-surface-alpha--5);
  --color-6: var(--color-surface-alpha--6);
  --color-7: var(--color-surface-alpha--7);
  --color-8: var(--color-surface-alpha--8);
  --color-9: var(--color-surface-alpha--9);
  --color-10: var(--color-surface-alpha--10);
  --color-11: var(--color-surface-alpha--11);
}

[data-color="blue"] {
  --color-1: var(--color-blue--1);
  --color-2: var(--color-blue--2);
  --color-3: var(--color-blue--3);
  --color-4: var(--color-blue--4);
  --color-5: var(--color-blue--5);
  --color-6: var(--color-blue--6);
  --color-7: var(--color-blue--7);
  --color-8: var(--color-blue--8);
  --color-9: var(--color-blue--9);
  --color-10: var(--color-blue--10);
  --color-11: var(--color-blue--11);
}

[data-color="pink"] {
  --color-1: var(--color-pink--1);
  --color-2: var(--color-pink--2);
  --color-3: var(--color-pink--3);
  --color-4: var(--color-pink--4);
  --color-5: var(--color-pink--5);
  --color-6: var(--color-pink--6);
  --color-7: var(--color-pink--7);
  --color-8: var(--color-pink--8);
  --color-9: var(--color-pink--9);
  --color-10: var(--color-pink--10);
  --color-11: var(--color-pink--11);
}

[data-color="red"] {
  --color-1: var(--color-red--1);
  --color-2: var(--color-red--2);
  --color-3: var(--color-red--3);
  --color-4: var(--color-red--4);
  --color-5: var(--color-red--5);
  --color-6: var(--color-red--6);
  --color-7: var(--color-red--7);
  --color-8: var(--color-red--8);
  --color-9: var(--color-red--9);
  --color-10: var(--color-red--10);
  --color-11: var(--color-red--11);
}

[data-color="orange"] {
  --color-1: var(--color-orange--1);
  --color-2: var(--color-orange--2);
  --color-3: var(--color-orange--3);
  --color-4: var(--color-orange--4);
  --color-5: var(--color-orange--5);
  --color-6: var(--color-orange--6);
  --color-7: var(--color-orange--7);
  --color-8: var(--color-orange--8);
  --color-9: var(--color-orange--9);
  --color-10: var(--color-orange--10);
  --color-11: var(--color-orange--11);
}

[data-color="green"] {
  --color-1: var(--color-green--1);
  --color-2: var(--color-green--2);
  --color-3: var(--color-green--3);
  --color-4: var(--color-green--4);
  --color-5: var(--color-green--5);
  --color-6: var(--color-green--6);
  --color-7: var(--color-green--7);
  --color-8: var(--color-green--8);
  --color-9: var(--color-green--9);
  --color-10: var(--color-green--10);
  --color-11: var(--color-green--11);
}

[data-color="yellow"] {
  --color-1: var(--color-yellow--1);
  --color-2: var(--color-yellow--2);
  --color-3: var(--color-yellow--3);
  --color-4: var(--color-yellow--4);
  --color-5: var(--color-yellow--5);
  --color-6: var(--color-yellow--6);
  --color-7: var(--color-yellow--7);
  --color-8: var(--color-yellow--8);
  --color-9: var(--color-yellow--9);
  --color-10: var(--color-yellow--10);
  --color-11: var(--color-yellow--11);
}

[data-color="purple"] {
  --color-1: var(--color-purple--1);
  --color-2: var(--color-purple--2);
  --color-3: var(--color-purple--3);
  --color-4: var(--color-purple--4);
  --color-5: var(--color-purple--5);
  --color-6: var(--color-purple--6);
  --color-7: var(--color-purple--7);
  --color-8: var(--color-purple--8);
  --color-9: var(--color-purple--9);
  --color-10: var(--color-purple--10);
  --color-11: var(--color-purple--11);
}

[data-color="cyber-green"] {
  --color-1: var(--color-cyber-green--1);
  --color-2: var(--color-cyber-green--2);
  --color-3: var(--color-cyber-green--3);
  --color-4: var(--color-cyber-green--4);
  --color-5: var(--color-cyber-green--5);
  --color-6: var(--color-cyber-green--6);
  --color-7: var(--color-cyber-green--7);
  --color-8: var(--color-cyber-green--8);
  --color-9: var(--color-cyber-green--9);
  --color-10: var(--color-cyber-green--10);
  --color-11: var(--color-cyber-green--11);
}
