@layer theme-layout {
  .flex {
    display: flex;
  }

  .width-100 {
    width: 100%;
  }

  .flex--grow-1 {
    display: flex;
    flex-grow: 1;
  }

  .flex--y {
    display: flex;
    flex-direction: column;
  }

  .flex--x {
    display: flex;
    flex-direction: row;
  }
}
