.root {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  color: var(--color-text-tertiary);
}

.root > input {
  outline: none;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: var(--space-8) var(--space-14);
  border: var(--border-width--2) solid var(--border-color);

  border-radius: var(--radius-md);
  font-weight: var(--font-weight-medium);

  font-size: var(--font-size-body-xxxxl);
  line-height: normal;
  background-color: var(--color-surface-4);
  cursor: text;
  transition: ease-out var(--animation-duration-lg);

  --border-color: transparent;
}

.input:hover {
  --border-color: rgb(82 82 178 / 0.88);
}

.input:focus-within {
  color: var(--color-text--default);
  background-color: var(--color-black);

  --border-color: rgb(82 82 178 / 0.88);
}

.input::placeholder {
  color: var(--color-text-tertiary);
}

.input[data-color="red"] {
  --border-color: var(--old--color-accent-red-5);
}

.input[data-color="red"]:hover {
  --border-color: var(--old--color-accent-red-3);
}

.input[data-color="green"] {
  --border-color: var(--old--color-cyber-green-50);
}

.input[data-color="green"]:hover {
  --border-color: var(--old--color-cyber-green-80);
}

.hasLeftIcon {
  padding-left: 2.875rem;
}

.hasClearValue {
  padding-right: 2.875rem;
}

.leftIcon {
  position: absolute;
  margin: var(--space-10) var(--space-16);
  color: var(--color-text-tertiary);
  line-height: normal;
  pointer-events: none;
}

.rightIcon {
  position: absolute;
  padding: var(--space-14) var(--space-16);
  color: var(--color-text-tertiary);
}

.clearValueButton {
  position: absolute;
  right: 1rem;
  display: flex;
  color: inherit;
  background: inherit;
}
