.root {
  align-items: center;
  width: auto;
  color: var(--color-text--tertiary);
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: var(--space--12) var(--space--16);
  border: var(--border-width--2) solid var(--border-color);

  border-radius: var(--border-radius--8);
  font-weight: 500;

  font-size: var(--font-size--l);
  line-height: normal;
  background-color: var(--color-surface--4);

  --border-color: transparent;
}

.hasLeftIcon {
  padding-left: 3rem;
}

.input:focus-within {
  color: var(--color-text--default);
  background-color: var(--color-surface--0);

  --border-color: var(--color-border);
}

.input::placeholder {
  color: var(--color-text--tertiary);
}

.leftIcon {
  position: absolute;
  padding: var(--space--14) var(--space--16);
  color: var(--color-text--tertiary);
}

.rightIcon {
  position: absolute;
  padding: var(--space--14) var(--space--16);
  color: var(--color-text--tertiary);
}
