.root {
  display: flex;
  align-items: center;
  width: auto;
  color: var(--color-text--tertiary);
}

.root > input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: var(--space--10) var(--space--14);
  border: var(--border-width--2) solid var(--border-color);

  border-radius: var(--border-radius--8);
  font-weight: var(--font-weight-medium);

  font-size: var(--font-size--l);
  line-height: normal;
  background-color: var(--color-surface--4);

  --border-color: transparent;
}

.root > input:hover {
  --border-color: var(--color-border--highlight);

  transition: ease-out 80ms;
}

.root > input:focus-within {
  color: var(--color-text--default);
  background-color: var(--color-black);

  --border-color: var(--color-border--highlight);
}

.root > input::placeholder {
  color: var(--color-text--tertiary);
}

.root > input[data-state="invalid"] {
  --border-color: var(--color-red--5);

  transition: ease-out 80ms;
}

.root > input[data-state="invalid"]:hover {
  --border-color: var(--color-red--3);

  transition: ease-out 80ms;
}

.root > input[data-state="valid"] {
  --border-color: var(--color-cyber-green--50);

  transition: ease-out 80ms;
}

.root > input[data-state="valid"]:hover {
  --border-color: var(--color-cyber-green--80);

  transition: ease-out 80ms;
}

.hasLeftIcon {
  padding-left: 2.875rem;
}

.leftIcon {
  position: absolute;
  width: 1em;
  height: 0.875em;
  margin: var(--space--16);
  color: var(--color-text--tertiary);
  line-height: normal;
  pointer-events: none;
}

.rightIcon {
  position: absolute;
  padding: var(--space--14) var(--space--16);
  color: var(--color-text--tertiary);
}
