@layer components {
  .button {
    display: flex;
    flex: none;
    flex-direction: row;
    gap: var(--button-gap);
    align-items: center;

    height: var(--button-height);

    padding: var(--button-padding);

    border: var(--button-border);
    border-color: var(--button-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-text-color);

    font-weight: var(--button-font-weight);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);
    white-space: nowrap;

    text-align: center;
    text-decoration: none;
    background-color: var(--button-background-color);
    transition: var(--button-transition);
    user-select: none;
    padding-block: var(--button-padding-block);
    padding-inline: var(--button-padding-inline);
  }
}
