@layer components {
  .icon-button {
    display: flex;
    flex-shrink: 0;
    gap: var(--icon-button-gap);
    align-items: center;
    justify-content: center;
    width: var(--icon-button-width);
    height: var(--icon-button-height);
    padding: var(--icon-button-padding);
    padding-block: var(--icon-button-padding-block);
    padding-inline: var(--icon-button-padding-inline);
    border: var(--icon-button-border);
    border-color: var(--icon-button-border-color);
    border-radius: var(--icon-button-border-radius);
    color: var(--icon-button-icon-color);
    background-color: var(--icon-button-background-color);
    user-select: none;
  }

  .icon-button__icon {
    --icon-inline-size: 1rem;
  }
}
