@layer cyberstorm {
  .empty-state {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xl);
    color: var(--color-text--default);
  }

  .empty-state__icon {
    height: 6.5rem;
    color: var(--empty-state-icon-color);
    background: transparent;
  }

  .empty-state__title {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);

    line-height: var(--line-height-md);
    text-align: center;
  }

  .empty-state__message {
    color: var(--empty-state-message-color);
    font-weight: var(--font-weight-medium);

    line-height: var(--line-height-md);
    text-align: center;
  }
}
