{
  "extends": ["stylelint-config-standard", "stylelint-config-rational-order"],
  "rules": {
    "alpha-value-notation": "number",
    "declaration-block-no-duplicate-properties": [
      true,
      {
        "ignore": ["consecutive-duplicates-with-different-values"]
      }
    ],
    "declaration-empty-line-before": [
      "always",
      {
        "except": ["after-comment", "first-nested"],
        "ignore": ["after-declaration"]
      }
    ],
    "font-weight-notation": "numeric",
    "import-notation": "string",
    "number-max-precision": 3,
    "custom-property-pattern": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-no-vendor-prefix": null,
    "selector-pseudo-element-colon-notation": "double",
    "property-no-vendor-prefix": [
      true,
      { "ignoreProperties": ["background-clip"] }
    ],

    "plugin/rational-order": [
      true,
      {
        "border-in-box-model": true
      }
    ]
  }
}
