## Shared config for local file sync containers
x-rsync-common: &rsync-common
  image: alpine:3.20
  volumes:
    - ./:/src:ro
    - workspace_src:/workspace
    - thunderstore_nginx_conf:/etc/nginx/user-conf
  environment:
    RSYNC_ARGS: "-a --delete --info=progress2 --exclude=.git --exclude=build-secrets --exclude=.npmrc --exclude=node_modules --exclude=.turbo --exclude=.cache --exclude=packages/*/dist --exclude=packages/*/dist/** --exclude=packages/*/types/dist --exclude=packages/*/types/dist/** --exclude=apps/cyberstorm-remix/build --exclude=apps/cyberstorm-remix/.react-router"
    SYNC_INTERVAL: "5"

services:
  cyberstorm-remix-sync:
    <<: *rsync-common
    container_name: cyberstorm-remix-sync
    restart: "no"
    command: >-
      /bin/sh -c "set -e; apk add --no-cache rsync; rsync $$RSYNC_ARGS /src/ /workspace/; tmp=/etc/nginx/user-conf/.new-thunderstore-localhost.conf.tmp; cp -f /src/tools/nginx/new-thunderstore-localhost.conf \"$$tmp\"; mv -f \"$$tmp\" /etc/nginx/user-conf/new-thunderstore-localhost.conf; echo sync complete"

  cyberstorm-remix-watch:
    <<: *rsync-common
    container_name: cyberstorm-remix-watch
    restart: unless-stopped
    depends_on:
      cyberstorm-remix-sync:
        condition: service_completed_successfully
    command: >-
      /bin/sh -c "set -e; apk add --no-cache rsync; while true; do rsync $$RSYNC_ARGS /src/ /workspace/; tmp=/etc/nginx/user-conf/.new-thunderstore-localhost.conf.tmp; cp -f /src/tools/nginx/new-thunderstore-localhost.conf \"$$tmp\"; mv -f \"$$tmp\" /etc/nginx/user-conf/new-thunderstore-localhost.conf; sleep $$SYNC_INTERVAL; done"

  cyberstorm-remix:
    container_name: cyberstorm-remix
    build:
      context: ./
      dockerfile: ./Dockerfile.dev
    working_dir: /workspace
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      cyberstorm-remix-sync:
        condition: service_completed_successfully
    volumes:
      - workspace_src:/workspace
      - thunderstore_ui_node_modules:/workspace/node_modules
      - nimbus_node_modules:/workspace/apps/cyberstorm-remix/node_modules
      - thunderstore_nginx_conf:/etc/nginx/user-conf
      - yarn_cache:/usr/local/share/.cache/yarn
    networks:
        - thunderstore_default
    environment:
      - NODE_ENV=development
      - NPM_CONFIG_USERCONFIG=/run/secrets/npmrc
      - ENABLE_BROKEN_PAGES=True
      - VITE_DEVELOPMENT=True
      - VITE_SITE_URL=http://thunderstore.localhost
      - VITE_BETA_SITE_URL=http://new.thunderstore.localhost
      - VITE_API_URL=http://thunderstore.localhost
      - VITE_COOKIE_DOMAIN=.thunderstore.localhost
      - VITE_AUTH_BASE_URL=http://thunderstore.localhost
      - VITE_AUTH_RETURN_URL=http://new.thunderstore.localhost
      - __VITE_ADDITIONAL_SERVER_ALLOWED_HOSTS=.thunderstore.localhost
    secrets:
      - npmrc

volumes:
  workspace_src:
  thunderstore_ui_node_modules:
  nimbus_node_modules:
  yarn_cache:
  thunderstore_nginx_conf:
    external: true

secrets:
  npmrc:
    file: "./build-secrets/.npmrc"

networks:
  thunderstore_default:
    name: thunderstore_default
    external: true
