@layer nimbus-layout {
  .nimbus-settings-teams {
    > .__row {
      gap: 5rem;

      > .__meta {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xs);
        align-items: flex-start;
        align-self: stretch;

        > .__title {
          align-self: stretch;
          color: var(--color-text-primary);
          font-weight: var(--font-weight-bold);

          font-size: var(--font-size-body-lg);
          line-height: var(--line-height-md);
        }

        > .__description {
          align-self: stretch;
          color: var(--color-text-tertiary);
          font-weight: var(--font-weight-medium);

          font-size: var(--font-size-body-md);
          line-height: var(--line-height-md);
        }
      }

      > .__content {
        display: flex;
        flex-direction: column;
        gap: var(--gap-md);
        align-items: flex-start;
        width: 57.5rem;
      }
    }
  }
}
