.root {
  background-color: transparent;
}

.copy {
  color: var(--color-text--tertiary);
  background-color: transparent;
}

.checkmark {
  color: var(--color-cyber-green--50);
  background-color: transparent;
}

.copy:hover {
  color: var(--color-cyber-green--50);
}
