.root {
  color: var(--text-color);
  background-color: var(--bg-color);

  --text-color: var(--color-text--tertiary);
  --bg-color: transparent;
}

.active {
  color: var(--text-color);
  background-color: var(--bg-color);

  --text-color: var(--color-cyber-green--50);
  --bg-color: transparent;
}
