@layer components {
  .link {
    color: var(--link-color);
    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--link-color-hover);
      }
    }
  }

  .link[aria-disabled="true"],
  .link-disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}
