.root {
  display: block;
  flex-grow: 0;
  gap: var(--gap--4);
  align-items: center;
  width: auto;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text {
  color: var(--color-text--secondary);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.opened {
  text-wrap: wrap;
}

@media (max-width: 30rem) {
  .text {
    font-size: var(--font-size--s);
    line-height: var(--line-height--s);
  }
}
