.root {
  display: flex;
  flex-grow: 0;
  gap: var(--gap--4);
  align-items: center;
  width: auto;
  overflow: hidden;
}

.text {
  color: var(--color-text--secondary);
}

.opened {
  flex-direction: column;
  align-items: flex-start;
}
