.root {
  display: block;
}

.text {
  overflow: hidden;
  color: var(--color-text--secondary);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.opened {
  white-space: normal;
}

@media (max-width: 30rem) {
  .text {
    font-size: var(--font-size--s);
    line-height: var(--line-height--s);
  }
}

.show {
  color: var(--color-text--accent);
  font-weight: var(--font-weight-bold);
  font-size: 0.875rem;
  line-height: normal;
  background-color: transparent;
}
