/* Common Button styles */
.button {
  display: flex;
  flex: none;
  flex-direction: row;
  align-items: center;
  text-align: center;
  user-select: none;

  font-weight: var(--button---font-weight);
  line-height: var(--button---line-height);

  font-size: var(--button-font-size);
  gap: var(--button-gap);
  height: var(--button-height);
  padding: var(--button-padding);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  background-color: var(--button-bg-color);
}

.button:where(:not(:focus)) {
  transition: var(--button---animation-length);
}

/* Button variants */
/* primary */
.button__primary {
  --button-color: var(--button--primary---color);
  --button-bg-color: var(--button--primary---bg-color);
  --button--variant--subtle---color: var(--button--primary--subtle---color);
  --button--variant--subtle---bg-color: var(--button--primary--subtle---bg-color);
}
.button__primary:hover {
  --button-bg-color: var(--button--primary--hover---bg-color);
  --button--variant--subtle---color: var(--button--primary--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--primary--subtle--hover---bg-color);
}
.button__primary:active {
  --button-bg-color: var(--button--primary--active---bg-color);
  --button--variant--subtle---color: var(--button--primary--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--primary--subtle--active---bg-color);
}
/* secondary */
.button__secondary {
  --button-color: var(--button--secondary---color);
  --button-bg-color: var(--button--secondary---bg-color);
  --button--variant--subtle---color: var(--button--secondary--subtle---color);
  --button--variant--subtle---bg-color: var(--button--secondary--subtle---bg-color);
}
.button__secondary:hover {
  --button-bg-color: var(--button--secondary--hover---bg-color);
  --button--variant--subtle---color: var(--button--secondary--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--secondary--subtle--hover---bg-color);
}
.button__secondary:active {
  --button-bg-color: var(--button--secondary--active---bg-color);
  --button--variant--subtle---color: var(--button--secondary--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--secondary--subtle--active---bg-color);
}
/* tertiary */
.button__tertiary {
  --button-color: var(--button--tertiary---color);
  --button-bg-color: var(--button--tertiary---bg-color);
  --button--variant--subtle---color: var(--button--tertiary--subtle---color);
  --button--variant--subtle---bg-color: var(--button--tertiary--subtle---bg-color);
}
.button__tertiary:hover {
  --button-bg-color: var(--button--tertiary--hover---bg-color);
  --button--variant--subtle---color: var(--button--tertiary--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--tertiary--subtle--hover---bg-color);
}
.button__tertiary:active {
  --button-bg-color: var(--button--tertiary--active---bg-color);
  --button--variant--subtle---color: var(--button--tertiary--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--tertiary--subtle--active---bg-color);
}
/* accent */
.button__accent {
  --button-color: var(--button--accent---color);
  --button-bg-color: var(--button--accent---bg-color);
  --button--variant--subtle---color: var(--button--accent--subtle---color);
  --button--variant--subtle---bg-color: var(--button--accent--subtle---bg-color);
}
.button__accent:hover {
  --button-bg-color: var(--button--accent--hover---bg-color);
  --button--variant--subtle---color: var(--button--accent--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--accent--subtle--hover---bg-color);
}
.button__accent:active {
  --button-bg-color: var(--button--accent--active---bg-color);
  --button--variant--subtle---color: var(--button--accent--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--accent--subtle--active---bg-color);
}
/* special */
.button__special {
  background: var(--button-bg);
  --button-color: var(--button--special---color);
  --button-bg: var(--button--special---bg);
  --button-border: var(--button--special---border);
  --button--variant--subtle---color: var(--button--special--subtle---color);
  --button--variant--subtle---bg: var(--button--special--subtle---bg);
}
.button__special:hover {
  --button-bg: var(--button--special--hover---bg);
  --button--variant--subtle---color: var(--button--special--subtle--hover---color);
  --button--variant--subtle---bg: var(--button--special--subtle--hover---bg);
}
.button__special:active {
  --button-bg: var(--button--special--active---bg);
  --button--variant--subtle---color: var(--button--special--subtle--active---color);
  --button--variant--subtle---bg: var(--button--special--subtle--active---bg);
}
/* info */
.button__info {
  --button-color: var(--button--info---color);
  --button-bg-color: var(--button--info---bg-color);
  --button--variant--subtle---color: var(--button--info--subtle---color);
  --button--variant--subtle---bg-color: var(--button--info--subtle---bg-color);
}
.button__info:hover {
  --button-bg-color: var(--button--info--hover---bg-color);
  --button--variant--subtle---color: var(--button--info--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--info--subtle--hover---bg-color);
}
.button__info:active {
  --button-bg-color: var(--button--info--active---bg-color);
  --button--variant--subtle---color: var(--button--info--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--info--subtle--active---bg-color);
}
/* success */
.button__success {
  --button-color: var(--button--success---color);
  --button-bg-color: var(--button--success---bg-color);
  --button--variant--subtle---color: var(--button--success--subtle---color);
  --button--variant--subtle---bg-color: var(--button--success--subtle---bg-color);
}
.button__success:hover {
  --button-bg-color: var(--button--success--hover---bg-color);
  --button--variant--subtle---color: var(--button--success--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--success--subtle--hover---bg-color);
}
.button__success:active {
  --button-bg-color: var(--button--success--active---bg-color);
  --button--variant--subtle---color: var(--button--success--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--success--subtle--active---bg-color);
}
/* warning */
.button__warning {
  --button-color: var(--button--warning---color);
  --button-bg-color: var(--button--warning---bg-color);
  --button--variant--subtle---color: var(--button--warning--subtle---color);
  --button--variant--subtle---bg-color: var(--button--warning--subtle---bg-color);
}
.button__warning:hover {
  --button-bg-color: var(--button--warning--hover---bg-color);
  --button--variant--subtle---color: var(--button--warning--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--warning--subtle--hover---bg-color);
}
.button__warning:active {
  --button-bg-color: var(--button--warning--active---bg-color);
  --button--variant--subtle---color: var(--button--warning--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--warning--subtle--active---bg-color);
}
/* danger */
.button__danger {
  --button-color: var(--button--danger---color);
  --button-bg-color: var(--button--danger---bg-color);
  --button--variant--subtle---color: var(--button--danger--subtle---color);
  --button--variant--subtle---bg-color: var(--button--danger--subtle---bg-color);
}
.button__danger:hover {
  --button-bg-color: var(--button--danger--hover---bg-color);
  --button--variant--subtle---color: var(--button--danger--subtle--hover---color);
  --button--variant--subtle---bg-color: var(--button--danger--subtle--hover---bg-color);
}
.button__danger:active {
  --button-bg-color: var(--button--danger--active---bg-color);
  --button--variant--subtle---color: var(--button--danger--subtle--active---color);
  --button--variant--subtle---bg-color: var(--button--danger--subtle--active---bg-color);
}
/* Button sizes */
/* xs */
.button--size-xs {
  --button-font-size: var(--button--size-xs---font-size);
  --button-height: var(--button--size-xs---height);
  --button-padding: var(--button--size-xs---padding);
  --button-gap: var(--button--size-xs---gap);
  --button-border-radius: var(--button--size-xs---border-radius);
}
/* s */
.button--size-s {
  --button-font-size: var(--button--size-s---font-size);
  --button-height: var(--button--size-s---height);
  --button-padding: var(--button--size-s---padding);
  --button-gap: var(--button--size-s---gap);
  --button-border-radius: var(--button--size-s---border-radius);
}
/* m */
.button--size-m {
  --button-font-size: var(--button--size-m---font-size);
  --button-height: var(--button--size-m---height);
  --button-padding: var(--button--size-m---padding);
  --button-gap: var(--button--size-m---gap);
  --button-border-radius: var(--button--size-m---border-radius);
}
/* l */
.button--size-l {
  --button-font-size: var(--button--size-l---font-size);
  --button-height: var(--button--size-l---height);
  --button-padding: var(--button--size-l---padding);
  --button-gap: var(--button--size-l---gap);
  --button-border-radius: var(--button--size-l---border-radius);
}
/* Button modifiers */
/* dimmed */
.button--dimmed {
  filter: brightness(80%);
}
/* subtle (AKA "bg on hover") */
.button--subtle {
  color: var(--button--variant--subtle---color);
  --button-bg-color: var(--button--variant--subtle---bg-color);
}
.button__special.button--subtle {
  --button-bg: var(--button--variant--subtle---bg); 
}

/* disabled */
.button--disabled {
  opacity: 0.5;
}