/* Common IconButton styles */
.iconButton {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--button-rect-size);

  height: var(--button-rect-size);
  border-radius: var(--border-radius--8);
  color: var(--button-color);
  background-color: var(--button-bg-color);
  user-select: none;
}

.iconButton:where(:not(:focus)) {
  transition: var(--button-animation-length);

  --button-animation-length: ease-in-out var(--animation-length-s);
}

/* IconButton variants */

/* default */

.iconButton[data-variant="default"] {
  --button-color: var(--color-11);
  --button-bg-color: var(--color-4);
}

.iconButton[data-variant="default"]:hover {
  --button-bg-color: var(--color-3);
}

.iconButton[data-variant="default"]:active {
  --button-bg-color: var(--color-2);
}

/* primary */

.iconButton[data-variant="primary"] {
  --button-color: var(--color-primary);
  --button-bg-color: hsl(256deg 60% 52% / 1);
}

.iconButton[data-variant="primary"]:hover {
  --button-bg-color: hsl(256deg 67% 56% / 1);
}

.iconButton[data-variant="primary"]:active {
  background-color: hsl(256deg 60% 52% / 1);
}

/* secondary */

.iconButton[data-variant="secondary"] {
  --button-color: hsl(243deg 100% 88% / 1);
  --button-bg-color: var(--color-surface-alpha--7);
}

.iconButton[data-variant="secondary"]:hover {
  --button-color: var(--color-primary);
  --button-bg-color: var(--color-surface-alpha--8);
}

.iconButton[data-variant="secondary"]:active {
  --button-color: var(--color-primary);
  --button-bg-color: var(--color-surface-alpha--6);
}

/* tertiary */

.iconButton[data-variant="tertiary"] {
  --button-color: hsl(243deg 100% 88% / 1);
  --button-bg-color: transparent;
}

.iconButton[data-variant="tertiary"]:hover {
  --button-color: var(--color-primary);
  --button-bg-color: var(--color-surface-alpha--7);
}

.iconButton[data-variant="tertiary"]:active {
  --button-color: var(--color-primary);
  --button-bg-color: var(--color-surface-alpha--6);
}

/* tertiaryDimmed */

.iconButton[data-variant="tertiaryDimmed"] {
  --button-color: hsl(243deg 28% 49% / 1);
  --button-bg-color: transparent;
}

.iconButton[data-variant="tertiaryDimmed"]:hover {
  --button-color: hsl(243deg 100% 88% / 1);
  --button-bg-color: var(--color-surface-alpha--7);
}

.iconButton[data-variant="tertiaryDimmed"]:active {
  --button-color: hsl(243deg 100% 88% / 1);
  --button-bg-color: var(--color-surface-alpha--6);
}

/* accent */

.iconButton[data-variant="minimal"] {
  --button-color: hsl(243deg 28% 49% / 1);
  --button-bg-color: transparent;
}

.iconButton[data-variant="minimal"]:hover {
  --button-color: hsl(243deg 100% 88% / 1);
}

.iconButton[data-variant="minimal"]:active {
  --button-color: hsl(243deg 100% 88% / 1);
}

/* Button sizes */

/* xs */

.iconButton[data-size="xs"] {
  --button-rect-size: var(--space--30);
}

/* s */

.iconButton[data-size="s"] {
  --button-rect-size: var(--space--36);
}

/* m */

.iconButton[data-size="m"] {
  --button-rect-size: var(--space--44);
}
