@layer nimbus-layout {
  .community {
    --nimbus-layout-content-max-width: 120rem;
  }

  .community__heading {
    display: flex;
    gap: var(--gap-xl);
    align-items: center;
    align-self: stretch;
    padding: var(--space-8) 0 var(--space-20);
  }

  .community__small-image {
    width: 3.5rem;
    height: 3.5rem;

    --aspect-ratio: 1;

    > svg {
      width: 50%;
    }
  }

  .community__content {
    flex-wrap: wrap;
  }

  .community__info {
    flex-shrink: 0;
    min-width: 8ch;
    overflow-wrap: anywhere;
  }

  .community__meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xxxl);
    align-items: center;
  }

  .community__item {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
    white-space: nowrap;

    > svg {
      inline-size: var(--space-16);
    }
  }

  @media (width <= 48rem) {
    .community__meta {
      gap: var(--gap-xxs);
    }

    .community__item {
      font-size: var(--font-size-body-sm);
    }
  }

  @media (width <= 24rem) {
    .community__info {
      font-size: 2rem;
      line-height: var(--line-height-sm);
    }
  }
}
