.root {
  display: flex;
  flex-direction: row;
  gap: var(--space-32);
}

.image {
  flex: 0 0 9rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 0;
}

@media (width <= 30rem) {
  .root {
    gap: var(--space-16);
  }
}

.meta {
  display: flex;
  flex-direction: row;
  gap: var(--space-16);
  padding-top: var(--space-16);
}

.skeletonImage {
  height: 12rem;
  aspect-ratio: 3/4;
}

.skeletonTitle {
  width: 22rem;
  height: 2.875rem;
}

.skeletonMetas {
  width: 6.5rem;
  height: 1rem;
}

.backgroundImg {
  --w: 56vw;

  position: absolute;
  top: calc(-1 * (var(--header-height) + var(--content-padding-top-desktop)));
  right: 0;

  z-index: -1;
  width: var(--w);
  height: calc(var(--w) * 0.45);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  opacity: 0.3;

  /* stylelint-disable property-no-vendor-prefix */
  -webkit-mask-image: var(--gradients);
  -webkit-mask-composite: source-in;
  /* stylelint-enable property-no-vendor-prefix */
  mask-image: var(--gradients);
  mask-composite: intersect;

  --gradients: linear-gradient(
      90deg,
      transparent 0%,
      white 70%,
      transparent 100%
    ),
    linear-gradient(180deg, white 40%, transparent 95%);
}
