@layer nimbus-layout {
  .community {
    --nimbus-layout-content-max-width: 120rem;

    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    align-self: stretch;
    padding: 7.5rem 3rem 2rem;
  }

  .community__background {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 20rem;
    border-radius: var(--section-border-radius);
    overflow: hidden;
  }

  .community__background-image {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: var(--color-body-bg-color, #101028);

    opacity: 0.4;
    mix-blend-mode: luminosity;
  }

  .community__background-tint {
    position: absolute;
    width: 100%;
    height: 20rem;
    background: linear-gradient(180deg, rgb(16 16 40 / 0.4) 0%, #101028 85.94%);
  }

  .community__small-image {
    width: 3.5rem;
    height: 3.5rem;

    --aspect-ratio: 1;

    > svg {
      width: 50%;
    }
  }

  .community__content {
    flex-wrap: wrap;
  }

  .community__info {
    flex-shrink: 0;
    min-width: 8ch;
    overflow-wrap: anywhere;
  }

  .community__meta {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-xxxl);
    align-items: center;
  }

  .community__item {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
    white-space: nowrap;

    > svg {
      inline-size: var(--space-16);
    }
  }

  @media (width <= 48rem) {
    .community__meta {
      gap: var(--gap-xxs);
    }

    .community__item {
      font-size: var(--font-size-body-sm);
    }
  }

  @media (width <= 24rem) {
    .community__info {
      font-size: 2rem;
      line-height: var(--line-height-sm);
    }
  }
}
