.root {
  align-self: stretch;
  width: 100%;
  padding: var(--space--16);
  border: 1px solid #333370;

  border-radius: var(--border-radius--8);
  overflow-x: auto;
  overflow-y: auto;
  font-weight: var(--font-weight-regular);
  font-size: 0.875rem;

  font-family: "Courier New", monospace;
  font-style: normal;
  line-height: 1.5;

  white-space: pre;
  background-color: #0f0f1f;

  --border-color: transparent;
}
