@layer cyberstorm {
  .codebox-wrapper {
    position: relative;
    display: flex;
    flex: 1;
    min-width: 0;
  }

  .codebox-wrapper--inline {
    display: inline-flex;
  }

  .codebox-copy-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    /* Ensure it is above the code/scrollbar */
    z-index: 10;
  }
}
