.root {
  align-self: stretch;
  width: 100%;
  padding: var(--space--16);
  border: var(--border-width--2) solid var(--border-color);

  border-radius: var(--border-radius--8);
  overflow-x: auto;
  overflow-y: auto;
  font-weight: 700;

  font-size: var(--font-size--l);
  font-family: "Courier New", monospace;
  line-height: var(--line-height--l);
  white-space: pre;
  background-color: var(--color-surface--5);

  --border-color: transparent;
}
