@layer nimbus-layout {
  .package-versions__skeleton {
    height: 500px;
  }

  .package-versions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
  }

  .package-versions__table-wrapper {
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .package-versions__actions {
    display: flex;
    gap: 24px;
    align-items: flex-start;
    align-self: stretch;
    justify-content: flex-end;
  }

  .package-versions__version {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .package-versions__upload-date {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .package-versions__downloads {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }
}
