@layer nimbus-layout {
  .package-readme__skeleton {
    height: 500px;
  }

  .package-readme__error {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 3rem 0;
  }

  .package-readme__error-description {
    max-width: 40rem;
    color: var(--Color-text-muted, rgb(180 189 255 / 0.8));
  }
}
