.dependencyStringWrapper {
  display: flex;
  gap: var(--gap-xs);
  align-items: center;
  max-width: 180px;
  max-height: 21px;
}

.dependencyString {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dependantsLink {
  color: var(--color-highlight);
}
