:root {
  --color-black: #000;
  --color-white: #fff;
  --color-default-purple--1: #090710;
  --color-default-purple--2: #15131d;
  --color-default-purple--3: #231f36;
  --color-default-purple--4: #252336;
  --color-default-purple--5: #35324f;
  --color-default-purple--6: #39345b;
  --color-default-purple--7: #635a9f80;
  --color-default-purple--8: #635a9f;
  --color-cyber-green--90: #d3ffef;
  --color-cyber-green--80: #91ffd8;
  --color-cyber-green--70: #7bffd0;
  --color-cyber-green--60: #4fffc0;
  --color-cyber-green--50: #23ffb0;
  --color-cyber-green--40: #1ccc8d;
  --color-cyber-green--30: #15996a;
  --color-cyber-green--20: #0e6646;
  --color-cyber-green--10: #031912;
  --color-purple--90: #ebd6fa;
  --color-purple--80: #d8acf4;
  --color-purple--70: #c483ef;
  --color-purple--60: #b159e9;
  --color-purple--50: #9d30e4;
  --color-purple--40: #7e26b6;
  --color-purple--30: #5e1d89;
  --color-purple--20: #3f135b;
  --color-purple--10: #1f0a2e;
  --color-blue--90: #e8f6fe;
  --color-blue--80: #bbe3fc;
  --color-blue--70: #77c8f9;
  --color-blue--60: #49b5f7;
  --color-blue--50: #1ca3f5;
  --color-blue--40: #1682c4;
  --color-blue--30: #116293;
  --color-blue--20: #0b4162;
  --color-blue--10: #062131;
  --color-green--90: #dcf7ec;
  --color-green--80: #b9f0d9;
  --color-green--70: #96e8c5;
  --color-green--60: #73e1b2;
  --color-green--50: #50d99f;
  --color-green--40: #40ae7f;
  --color-green--30: #30825f;
  --color-green--20: #205740;
  --color-green--10: #102b20;
  --color-yellow--90: #fdf5dc;
  --color-yellow--80: #faecb9;
  --color-yellow--70: #f8e295;
  --color-yellow--60: #f5d972;
  --color-yellow--50: #f3cf4f;
  --color-yellow--40: #c2a63f;
  --color-yellow--30: #927c2f;
  --color-yellow--20: #615320;
  --color-yellow--10: #312910;
  --color-orange--90: #fde1d9;
  --color-orange--80: #fbc4b2;
  --color-orange--70: #faa68c;
  --color-orange--60: #f88965;
  --color-orange--50: #f66b3f;
  --color-orange--40: #c55632;
  --color-orange--30: #944026;
  --color-orange--20: #622b19;
  --color-orange--10: #31150d;
  --color-pink--90: #f9ddf6;
  --color-pink--80: #f2bbed;
  --color-pink--70: #ec9ae3;
  --color-pink--60: #e578da;
  --color-pink--50: #df56d1;
  --color-pink--40: #b245a7;
  --color-pink--30: #86347d;
  --color-pink--20: #592254;
  --color-pink--10: #2d112a;
  --color-red--90: #fcd7de;
  --color-red--80: #f9afbd;
  --color-red--70: #f7889c;
  --color-red--60: #f4607b;
  --color-red--50: #f1385a;
  --color-red--40: #c12d48;
  --color-red--30: #912236;
  --color-red--20: #601624;
  --color-red--10: #300b12;
  --color-cyber-green: var(--color-cyber-green--50);
  --color-purple: var(--color-purple--50);
  --color-blue: var(--color-blue--50);
  --color-green: var(--color-green--50);
  --color-yellow: var(--color-yellow--50);
  --color-orange: var(--color-orange--50);
  --color-pink: var(--color-pink--50);
  --color-red: var(--color-red--50);
  --color-surface--0: var(--color-default-purple--1);
  --color-surface--1: var(--color-default-purple--2);
  --color-surface--2: var(--color-default-purple--3);
  --color-surface--3: var(--color-default-purple--4);
  --color-surface--4: var(--color-default-purple--5);
  --color-border: var(--color-default-purple--6);
  --color-border-2: var(--color-default-purple--7);
  --color-border-3: var(--color-default-purple--8);
  --color-shadow-1: #000000a6;
  --color-text--default: #f3f1fa;
  --color-text--secondary: #d7d0ff;
  --color-text--tertiary: #b2a6f7;
  --color-gradient-blue-green--darker: linear-gradient(to left top, #062131 0%, #102b20 100%);
  --color-gradient-blue-green--dark: linear-gradient(to left top, #0b4162 0%, #205740 100%);
  --color-gradient-blue-green: linear-gradient(to left top, #1ca3f5 0%, #23ffb0 100%);
  --color-gradient-blue-green--light: linear-gradient(to left top, #49b5f7 0%, #73e1b2 100%);
  --color-gradient-purple-green--darker: linear-gradient(to left top, #1f0a2e 0%, #102b20 100%);
  --color-gradient-purple-green--dark: linear-gradient(to left top, #2f0e44 0%, #0a4c35 100%);
  --color-gradient-purple-green: linear-gradient(to left top, #9d30e4 0%, #23ffb0 100%);
  --color-gradient-purple-green--light: linear-gradient(to left top, #b159e9 0%, #73e1b2 100%);
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --size--xxxxxxs: 0.125em;
  --size--xxxxxs: 0.25em;
  --size--xxxxs: 0.375em;
  --size--xxxs: 0.5em;
  --size--xxs: 0.625em;
  --size--xs: 0.75em;
  --size--s: 0.875em;
  --size--m: 1em;
  --size--l: 1.125em;
  --size--xl: 1.25em;
  --size--xxl: 1.375em;
  --size--xxxl: 1.5em;
  --size--xxxxl: 1.625em;
  --size--xxxxxl: 1.75em;
  --size--xxxxxxl: 1.875em;
  --size--xxxxxxxl: 2em;
  --size--tiny: var(--size--xxxxxs);
  --border-radius-xs: var(--size--xs);
  --border-radius-m: var(--size--m);
  --border-radius-l: var(--size--l);
  --border-width-m: var(--size--xxxxxxs);
  --box-shadow-1: 0 var(--size--xs) var(--size--xxxl) var(--size--tiny) #000000a6;
  --gap-tiny: var(--size--tiny);
  --gap-xxs: var(--size--xxs);
  --gap-xs: var(--size--xs);
  --gap-s: var(--size--s);
  --gap-m: var(--size--m);
  --line-height-l: var(--size--l);
  --line-height-xxl: var(--size--xxl);
  --padding-tiny: var(--size--tiny);
  --padding-xxxxs: var(--size--xxxxs);
  --padding-xxs: var(--size--xxs);
  --padding-xs: var(--size--xs);
  --padding-s: var(--size--s);
  --padding-m: var(--size--m);
  --text-xxs: var(--size--xxs);
  --text-xs: var(--size--xs);
  --text-s: var(--size--s);
  --text-m: var(--size--m);
  --text-xl: var(--size--xl);
  --font-sora: normal var(--text-m) sora, sans-serif;
  --font-inter: normal var(--text-m) inter, sans-serif;
}
