.root {
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.button {
  padding: 2px 8px;
  color: black;
}

.inputBase,
.inputDrag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  border-radius: 6px;
  background-color: rgb(255 255 255 / 0.2);
}

.inputBase {
  height: 40px;
  cursor: pointer;
}

.inputDrag {
  height: 200px;
  border: 4px solid #fff;
}
