.icon {
  color: var(--icon-color, "currentColor");
}

.icon[data-variant="default"] {
  --icon-color: var(--color-7);
}

.icon[data-variant="primary"] {
  --icon-color: var(--color-primary);
}

.icon[data-variant="secondary"] {
  --icon-color: var(--color-secondary);
}

.icon[data-variant="tertiary"] {
  --icon-color: var(--color-tertiary);
}

.icon[data-variant="accent"] {
  --icon-color: var(--color-accent);
}
