@layer nimbus-layout {
  .settings-user {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: flex-start;
  }

  .settings-user__body {
    display: flex;
    flex: 1 1 0;
    align-self: stretch;
  }
}
