@layer nimbus-layout {
  .settings-user {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    min-height: 20rem;
  }

  .settings-user__body {
    display: flex;
    flex: 1 1 0;
    align-self: stretch;
  }

  @media (width <= 48rem) {
    .settings-user {
      gap: 1rem;
    }
  }
}
