.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  margin: 0 var(--page-margin);
}

.tabContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxl);
}

.separator {
  border-bottom: var(--border-width--px) solid var(--color-surface-4);
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xxxl);
  justify-content: space-between;
}

.teamContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
