@layer nimbus-components {
  .footer {
    --footer-width: min(var(--container-width), 90rem);
    --footer-inner-padding-inline: var(--container-padding);
    --footer-inner-padding-block: 2.5rem;
    --footer-inner-width: 100%;

    display: grid;
    width: 100%;
    line-height: 160%;
    container: footer / inline-size;
    reading-flow: source-order;

    @media (width >= 60rem) {
      --footer-inner-padding-block: 3.5rem;

      grid-template:
        "socials manager" auto
        "links manager" auto
        "copyright copyright" auto
        / 1fr 1fr;
    }
  }

  .footer__inner {
    display: flex;
    justify-content: center;

    width: min(100%, var(--footer-inner-width));
    min-width: 0;
    max-width: var(--footer-width);

    padding: var(--footer-inner-padding-block)
      var(--footer-inner-padding-inline);

    @media (width >= 60rem) {
      justify-content: start;
    }
  }

  .footer__section {
    @media (width >= 60rem) {
      display: grid;

      &:where(.footer__section--socials) {
        grid-area: socials;
        justify-items: end;
        reading-order: 1;
      }

      &:where(.footer__section--links) {
        grid-area: links;
        justify-items: end;
        reading-order: 2;
      }

      &:where(.footer__section--manager) {
        grid-area: manager;
        justify-items: start;
        reading-order: 3;
      }

      &:where(.footer__section--copyright) {
        grid-area: copyright;
        justify-items: center;
        reading-order: 4;
      }

      /* If the section is socials, links, or manager,
      set the width to half of the container width
      footnote always stays at full width */
      &:where(.footer__section--socials),
      &:where(.footer__section--links),
      &:where(.footer__section--manager) {
        .footer__inner {
          --footer-inner-width: calc(
            (var(--footer-width) / 2) - (var(--island-gap) / 2)
          );
        }
      }
    }
  }

  .footer__section--manager {
    position: relative;
    overflow: hidden;

    &::before {
      position: absolute;
      inset: 0;
      background-image: linear-gradient(
        165deg,
        hsl(276deg 39% 38% / 0) 45%,
        hsl(276deg 39% 38%) 121%
      );
      content: "";
    }

    .footer__inner {
      position: relative;
      padding-block-end: 0;
    }
  }

  .footer__section--copyright {
    .footer__inner {
      gap: 1rem;
      justify-content: center;
      padding-block: 2rem;
      color: var(--color-text-tertiary);
      font-size: var(--font-size-body-sm);
    }
  }

  .footer-link {
    color: var(--color-text-tertiary);

    &:where(.footer-link--secondary) {
      text-decoration: underline dotted;
    }

    &:hover,
    &:focus-visible {
      color: var(--color-text-primary);
    }
  }
}
