/* Common Tag styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;

  gap: var(--gap--4);
  align-items: center;
  justify-content: center;
  border: var(--border-width--2) solid var(--border-color);
  border-radius: var(--border-radius--8);
  font-weight: 700;

  font-size: var(--font-size--s);
  line-height: 1;
  background-color: var(--bg-color);

  cursor: default;

  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--5);
  --border-color: var(--color-surface--9);
  --icon-color: var(--color-text--tertiary);
}

.label {
  color: var(--text-color);
}

.icon {
  color: var(--icon-color);
}

/* Different Tag sizes */
.tiny {
  padding: var(--space--2) var(--space--4);
  border-radius: var(--border-radius--4);
}

.small {
  padding: var(--space--4) var(--space--10);
}

.medium {
  padding: var(--space--6) var(--space--8);
}

/* Different Tag color schemes */
.tag__default:hover {
  --bg-color: var(--color-surface--7);
}

.tag__borderless_removable {
  --border-color: transparent;
  --text-color: var(--color-text--secondary);

  text-transform: uppercase;
}

.tag__borderless_removable:hover {
  --bg-color: var(--color-surface--7);
  --text-color: var(--color-text--default);
}

/* TODO: This css rule will change all icons to red, not just the x one
    shown when colorScheme is "removable". Would be good to revisit when
    building that functionality. This will become relevant once the package
    list filtering is taken under construction. */
.tag__borderless_removable:hover > .icon {
  color: var(--color-danger);
  cursor: pointer;
}

.tag__removable:hover {
  --bg-color: var(--color-surface--7);
}

/* TODO: This css rule will change all icons to red, not just the x one
    shown when colorScheme is "removable". Would be good to revisit when
    building that functionality. This will become relevant once the package
    list filtering is taken under construction. */
.tag__removable:hover > .icon {
  color: var(--color-danger);
  cursor: pointer;
}

.tag__static {
  --border-color: transparent;
}

.tag__borderless {
  --border-color: transparent;
}

.tag__borderless:hover {
  --bg-color: var(--color-surface--7);
}

.tag__simple {
  --bg-color: var(--color-surface--4);
  --border-color: transparent;
  --text-color: var(--color-text--tertiary);
}

.tag__success {
  --bg-color: var(--color-green--10);
  --border-color: transparent;
  --text-color: var(--color-green--5);
}

.tag__success:hover {
  --bg-color: var(--color-green--10);
  --border-color: var(--color-green--5);
  --text-color: var(--color-green--5);
}

.tag__info {
  --bg-color: var(--color-info-background);
  --border-color: var(--color-blue--20);
  --text-color: var(--color-info);
  --icon-color: var(--color-info);

  border-width: var(--space--px);
}

.tag__borderless_no_hover {
  --border-color: transparent;
}
