/* Common Tag styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;

  gap: var(--gap--8);
  align-items: center;
  justify-content: center;
  border: var(--border-width--2) solid var(--border-color);
  border-color: ;
  border-radius: 999em;
  color: var(--text-color);

  font: var(--font-body);
  font-weight: 700;
  background-color: var(--bg-color);

  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--3);
  --border-color: transparent;

  cursor: default;
}

.root:hover {
  --bg-color: var(--color-surface--0);
  --border-color: var(--color-border-default);
}

.label {
  text-transform: uppercase;
}

.icon {
  color: var(--color-border-default);
}

/* Different Tag sizes */
.tiny {
  padding: var(--space--2) var(--space--4);
  border-radius: var(--border-radius--4);
  font-size: var(--font-size--12);
  line-height: var(--line-height--14);
}

.tiny:hover {
  --bg-color: var(--color-surface--1) !important;
  --border-color: transparent;
}

.small {
  padding: var(--space--4) var(--space--10);
  font-size: var(--font-size--10);
}

.medium {
  padding: var(--space--6) var(--space--12);
  font-size: var(--font-size--12);
}

/* TODO: This css rule will change all icons to red, not just the x one
    shown when isBoolean is true. Would be good to revisit when building
     that functionality. This will become relevant once the package list
      filtering is taken under construction. */

/* Different Tag color schemes */
.tag__removable:hover > .icon {
  color: var(--color-danger);
  cursor: pointer;
}

.tag__default {
  --bg-color: var(--color-surface--2);
}

.tag__simple {
  --bg-color: var(--color-surface--1);
  --border-color: transparent;
  --text-color: var(--color-text--tertiary);
}

.tag__success {
  --bg-color: var(--color-success-background);
  --border-color: transparent;
  --text-color: var(--color-success);
}

.tag__success:hover {
  --bg-color: var(--color-success-background);
  --border-color: var(--color-success);
  --text-color: var(--color-success);
}
