/* Common Title styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;

  gap: var(--gap--8);
  align-items: center;
  justify-content: center;
  border: var(--border-width--2) solid;
  border-color: var(--border-color);
  border-radius: 999em;
  color: var(--text-color);

  font: var(--font-body);
  font-weight: 700;
  background-color: var(--bg-color);

  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--2);
  --border-color: transparent;

  cursor: default;
}

.root:hover {
  --bg-color: var(--color-surface--0);
  --border-color: var(--color-border-default);
}

/* Different Title sizes */

.small {
  padding: var(--space--4) var(--space--10);
  font-size: var(--font-size--10);
}

.medium {
  padding: var(--space--6) var(--space--12);
  font-size: var(--font-size--12);
}

/* Styles for Title's text */
.label {
  text-transform: uppercase;
}

/* Styles for Title's Icons */
.icon {
  color: var(--color-border-default);
}

/* TODO: This css rule will change all icons to red, not just the x one
    shown when isBoolean is true. Would be good to revisit when building
     that functionality. This will become relevant once the package list
      filtering is taken under construction. */

/* Different Title color schemes */
.tag__removable:hover > .icon {
  color: var(--color-danger);
  cursor: pointer;
}

.tag__default {
  --bg-color: var(--color-surface--2);
}
