.root {
  display: flex;

  flex-shrink: 0;
  fill: currentcolor;
  stroke: currentcolor;
  block-size: 100%;
  inline-size: auto;
  min-inline-size: 100%;

  stroke-width: 0;

  /* Override reset.css 100% value */
  max-inline-size: none;
}

.inline {
  display: inline-flex;
  block-size: 1em;
  vertical-align: -0.125em;
}
