@layer nimbus-layout {
  .markdown-preview {
    gap: var(--gap-xxxxxxxl);
  }

  .markdown-preview__row {
    gap: 5rem;
  }

  .markdown-preview__meta {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: flex-start;
    align-self: stretch;
  }

  .markdown-preview__title {
    align-self: stretch;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);

    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-md);
  }

  .markdown-preview__description {
    align-self: stretch;
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);

    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .markdown-preview__content {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: flex-start;
  }

  .markdown-preview__divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    height: 0.063rem;
    background-color: var(--border-default);
  }

  /* Mobile breakpoint */
  @media (width <= 475px) {
    .markdown-preview__row {
      flex-direction: column;
      gap: var(--gap-xxxl);
    }

    .markdown-preview__content {
      width: auto;
    }
  }
}
