.list {
  position: relative;
}

.item {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  width: 100%;
  padding: 0.5rem;
  border-radius: var(--radius-md);
}

.item:hover {
  background-color: var(--color-surface-4);
}

.itemTitleWrapper {
  min-width: 0;
}

.itemTitle {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.itemTitleUsername {
  overflow: hidden;
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: var(--font-size-body-md);
  line-height: 150%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemDescription {
  color: var(--color-text-tertiary);
  font-weight: 400;
  font-size: var(--font-size-body-sm);
  line-height: 170%;
}

.teamLink {
  display: flex;
  gap: var(--gap-xs);
  align-items: center;
  color: var(--color-cyber-green-7, #23ffab);
  font-weight: 400;
  font-size: var(--font-size-body-md);
  line-height: 150%;

  --icon-color: var(--color-cyber-green-7, #23ffab);
}

.crown {
  display: inline-flex;
  align-items: center;
  width: 1em;
  height: 1em;
  color: var(--color-crown);
  line-height: 160%;
}
