.list {
  position: relative;
}

.item {
  display: flex;
  gap: var(--gap-md);
  padding: var(--space-8);
  border-radius: var(--radius-md);
}

.item:hover {
  background-color: var(--color-surface-4);
}

.itemTitle {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height--m);
}

.itemDescription {
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height--m);
}

.teamLink {
  display: flex;
  gap: var(--gap-xs);
  align-items: center;
  color: var(--color-highlight);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height--m);
}

.teamLinkIcon {
  width: 1em;
  height: 1em;
}

.teamLink:hover {
  color: var(--color-highlight--hover);
}

.crown {
  display: inline-flex;
  width: 1em;
  height: 1em;
  margin-left: var(--space-4);
  color: var(--color-crown);
}
