.listItem {
  color: var(--list-item-color);
}

.list[data-variant="default"] {
  --list-item-color: var(--color-5);
}

.list[data-variant="primary"] {
  --list-item-color: var(--color-primary);
}

.list[data-variant="secondary"] {
  --list-item-color: var(--color-secondary);
}

.list[data-variant="tertiary"] {
  --list-item-color: var(--color-tertiary);
}

.list[data-variant="accent"] {
  --list-item-color: var(--color-accent);
}
