@layer theme-components {
  /* VARIANTS DEFAULT STATE */
  .link:where(.link--variant--primary) {
    --link-color: var(--link-primary-color--default);

    &:where(:hover) {
      --link-color-hover: var(--link-primary-color--hover);
    }
  }

  .link:where(.link--variant--cyber) {
    --link-color: var(--link-cyber-color--default);

    &:where(:hover) {
      --link-color-hover: var(--link-cyber-color--hover);

      text-decoration: underline;
    }
  }

  .link > svg {
    filter: var(--dropshadow-default);
  }
}
