/* Common text styles */
.text {
  color: var(--text-color);

  --text-color: var(--color-primary);
}

.text[data-variant="default"] {
  --text-color: var(--color-7);
}

.text[data-variant="primary"] {
  --text-color: var(--color-primary);
}

.text[data-variant="secondary"] {
  --text-color: var(--color-secondary);
}

.text[data-variant="tertiary"] {
  --text-color: var(--color-tertiary);
}

.text[data-variant="accent"] {
  --text-color: var(--color-accent);
}
