@layer nimbus-layout {
  .manage-package__block {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: var(--gap-md);
    justify-items: start;
  }

  .manage-package__label {
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 1rem;
    line-height: normal;
  }

  .manage-package__description {
    color: var(--color-text-tertiary);
  }

  .manage-package__deprecate-button {
    margin-right: auto;
  }
}
