@layer nimbus {
  .package-categories-and-tags {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: var(--radius-md);
    background-color: var(--color-surface-default);
  }

  .package-categories-and-tags__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .package-categories-and-tags__body {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}
