@layer nimbus-layout {
  .package-actions__install-link-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--font-size-body-xxxxl);
    height: var(--font-size-body-xxxxl);
    overflow: hidden;
  }

  .package-actions__install-link-icon svg,
  .package-actions__install-link-icon img {
    max-width: 100%;
    max-height: 100%;
  }
}
