@layer nimbus {
  .package-actions {
    display: grid;
    grid-template-rows: 57px auto;
    gap: 0.75rem;
  }

  .package-actions__install-link-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    overflow: hidden;
  }

  .package-actions__install-link-icon svg,
  .package-actions__install-link-icon img {
    width: 100%;
    height: 100%;
  }
}
