.root {
  display: flex;
  flex-direction: column;
}

.topNavigation {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.filters {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.searchTextInput {
  width: 100%;
}

@media (min-width: 40rem) {
  .searchTextInput {
    width: 50%;
  }

  .filters {
    flex-direction: row;
    justify-content: space-between;
  }
}

.searchFilters {
  display: flex;
  flex: 1 1 auto;
  gap: var(--gap--16);
  align-content: center;
  justify-content: flex-end;
  min-height: 3rem;
}

.searchFiltersSortLabel {
  align-self: center;
  color: var(--color-text--tertiary);
  font-weight: 700;
}
