@layer theme-components {
  /* VARIANTS STATELESS */
  .breadcrumbs__outer:where(.breadcrumbs__outer--variant--default) {
    --breadcrumbs__outer-background-color: var(
      --breadcrumb-item-bg-color--default
    );

    &:where(:hover) {
      --breadcrumbs__outer-background-color: var(
        --breadcrumb-item-bg-color--hover
      );
    }
  }

  .breadcrumbs__outerend:where(.breadcrumbs__outerend--variant--default) {
    --breadcrumbs__outer-background-color: var(
      --breadcrumb-item-bg-color--hover
    );
  }

  .breadcrumbs__innerend:where(.breadcrumbs__innerend--variant--default) {
    --breadcrumbs__innerend-text-color: var(
      --breadcrumb-item-text-color--current
    );
  }
}
