.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: var(--content-padding-top-desktop) 1rem 6rem;
}

.middleContainer {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 83.5rem;
}

.sideContainers {
  position: sticky;
  top: var(--header-height);
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;
  align-items: flex-start;
  padding-top: 1rem;
}

.pageHeader {
  padding: 0;
}

.pageBody {
  display: flex;
  flex-direction: column;
}

.layoutSidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 60rem) {
  .layoutSidebar {
    flex-flow: row wrap;
  }

  .sidebar {
    flex: 0 1 16rem;
  }

  .main {
    flex: 1;
  }

  .fullWidth {
    flex: 0 0 100%;
  }

  .pageHeader {
    padding: 2.5rem 0;
  }

  .middleContainer {
    gap: 0;
  }
}

@media (max-width: 92.125rem) {
  .sideContainers {
    display: none;
  }
}
