@layer theme-components {
  /* VARIANTS DEFAULT STATE */
  .ts-adcontainer__fallback:where(.ts-variant--primary) {
    --adcontainer__fallback-color: var(--ad-text-color--default);
    --adcontainer__fallback-background-color: var(--ad-bg-color--default);
  }

  /* TOKENS */
  :root {
    --ad-bg-color--default: var(--color-surface-4);
    --ad-text-color--default: var(--color-text-tertiary);
  }
}
