.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--tag-color);
  background: var(--tag-background-color);

  --tag-color: var(--color-primary);
  --tag-background-color: var(--color-primary);
}

.tag[data-variant="default"] {
  --tag-color: var(--color-1);
  --tag-background-color: var(--color-7);
}

.tag[data-variant="default"].hoverable:hover {
  --tag-background-color: var(--color-8);
}

.tag[data-variant="default"].dark {
  --tag-color: var(--color-9);
  --tag-background-color: var(--color-2);
}

.tag[data-variant="default"].dark.hoverable:hover {
  --tag-background-color: var(--color-3);
}

/* As surface color has different text color, override here */

.tag[data-variant="default"][data-color="surface"] {
  --tag-color: var(--color-primary);
  --tag-background-color: var(--color-9);
}

.tag[data-variant="default"][data-color="surface"].hoverable:hover {
  --tag-background-color: hsl(240deg 44% 55% / 1);
}

.tag[data-variant="default"][data-color="surface"].dark {
  --tag-color: var(--color-primary);
  --tag-background-color: var(--color-surface-alpha--8);
}

.tag[data-variant="default"][data-color="surface"].dark.hoverable:hover {
  --tag-background-color: var(--color-surface-alpha--9);
}

.tag[data-size="m"] {
  gap: var(--space--8);
  padding: var(--space--6) var(--border-radius--8);
  border-radius: var(--border-radius--8);
}

.tag[data-size="s"] {
  gap: var(--gap--4);
  padding: var(--space--4) var(--space--6);
  border-radius: var(--border-radius--6);
}
