.root {
  height: var(--height);

  --height: 272px;

  border-radius: 8px;
}

.list {
  width: 100%;
  height: 100%;
  padding: var(--space--8) var(--space--8) 0 var(--space--8);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list::-webkit-scrollbar {
  display: none;
}

.listWrapper {
  position: absolute;
  height: var(--height);
  border-radius: var(--border-radius--8);
  overflow: hidden;
}

.listWrapper::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(transparent, var(--color-background)) left repeat;
  content: "";
  pointer-events: none;
}

.item {
  display: flex;
  gap: var(--gap--16);
  padding: var(--space--8) var(--space--12);
  border-radius: var(--border-radius--8);
}

.item:hover {
  background-color: var(--color-surface--4);
}

.itemImage {
  width: auto;
  height: 3rem;
  border-radius: var(--border-radius--8);
}

.itemTitle {
  overflow: hidden;
  font-weight: 700;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.itemDescription {
  overflow: hidden;
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 60rem) {
  .itemDescription,
  .itemTitle {
    max-width: 250px;
  }
}

.dependencyDialogTrigger {
  align-items: center;
}
