.root {
  display: flex;
  border-radius: var(--border-radius--4);
  background: #191b38;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: #191b38;
  }

  25% {
    background-color: #191b387c;
  }

  75% {
    background-color: #191b387c;
  }

  100% {
    background-color: #191b38;
  }
}
