@layer components {
  .dropdown {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: var(--dropdown-gap);
    padding: var(--dropdown-padding);
    border: var(--dropdown-border);
    border-color: var(--dropdown-border-color);
    border-radius: var(--dropdown-border-radius);
    overflow: hidden;
    color: var(--dropdown-text-color);
    background-color: var(--dropdown-background-color);
    box-shadow: var(--dropdown-box-shadow);
    transform-origin: var(--radix-dropdown-menu-content-transform-origin);
    animation: var(--dropdown-animation);
  }

  .dropdown > *:where(:not(.dropdown__divider)) {
    gap: var(--dropdown__item-gap);
    padding: var(--dropdown__item-padding);
    overflow: hidden;
    color: var(--dropdown__item-color);
    font-weight: var(--dropdown__item-font-weight);
    font-size: var(--dropdown__item-font-size);
    background-color: var(--dropdown__item-background-color);
    outline: none;

    --icon-color: var(--dropdown__item-icon-color);
  }

  .dropdown > *:where(:not(.dropdown__divider))[data-highlighted] {
    z-index: 999;
  }

  .dropdown__divider {
    height: var(--dropdown__divider-height);
    margin: var(--dropdown__divider-margin);
    background-color: var(--dropdown__divider-background-color);
  }
}
