@layer nimbus {
  .report-package--centered {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .report-package__block {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .report-package__label {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .report-package__textarea {
    > textarea {
      height: 10.75rem;
      padding: 0.75rem;
    }
  }

  .report-package__submitted-icon {
    align-self: center;
    overflow: visible;
    color: var(--color-cyber-green-7);
    font-size: 2.5rem;
  }

  .report-package__heading {
    color: var(--color-text-primary);
  }

  .report-package__paragraph {
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }
}
