.dependants {
  display: flex;
  flex-direction: column;

  .dependants__header {
    padding: var(--space-40) 0;
    color: var(--color-text--default);
    font-weight: var(--font-weight-bold);
    font-size: 1.75rem;
    line-height: var(--line-height-xs);
  }
}

@media (width <= 48rem) {
  .dependants {
    gap: var(--space-16);
  }
}
