.root,
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap--32);
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap--24);
}

.sidebar {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}
