.listTopNavigation {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  margin-bottom: var(--space--16);
}

.displayAndSort {
  display: flex;
  justify-content: space-between;
}

.displayButtons {
  display: flex;
  gap: var(--gap--8);
}

.sort {
  display: flex;
  gap: var(--gap--16);
}

.sortLabel {
  align-self: center;
  color: var(--color-text--tertiary);
  font-weight: 700;
  font-size: var(--font-size--m);
}

.showing {
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--gap--24);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap--32);
}

.filterItemList {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
}

.packageCardList {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1.5rem;
  margin-bottom: var(--space--24);
}

.selectedTags {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--8);
  padding: var(--space--8);
}
