:root {
  --color-black: rgb(0 0 0 / 1);
  --color-white: rgb(255 255 255 / 1);
  --color-purple--0: rgb(13 13 28 / 1);
  --color-purple--1: rgb(18 18 38 / 1);
  --color-purple--2: rgb(21 21 45 / 1);
  --color-purple--3: rgb(25 25 56 / 1);
  --color-purple--4: rgb(29 29 68 / 1);
  --color-purple--5: rgb(33 33 79 / 1);
  --color-purple--6: rgb(39 39 93 / 1);
  --color-purple--7: rgb(48 48 115 / 1);
  --color-purple--8: rgb(75 54 161 / 1);
  --color-purple--alt: rgb(54 52 91 / 1);
  --color-cyber-green--90: #d3ffef;
  --color-cyber-green--80: #91ffd8;
  --color-cyber-green--70: #7bffd0;
  --color-cyber-green--60: #4fffc0;
  --color-cyber-green--50: #23ffb0;
  --color-cyber-green--40: #1ccc8d;
  --color-cyber-green--30: #15996a;
  --color-cyber-green--20: #0e6646;
  --color-cyber-green--10: #031912;
  --color-blue--90: #e8f6fe;
  --color-blue--80: #bbe3fc;
  --color-blue--70: #77c8f9;
  --color-blue--60: #49b5f7;
  --color-blue--50: #1ca3f5;
  --color-blue--40: #1682c4;
  --color-blue--30: #116293;
  --color-blue--20: #0b4162;
  --color-blue--10: #062131;
  --color-blue--9: #083149;
  --color-green--90: #dcf7ec;
  --color-green--80: #b9f0d9;
  --color-green--70: #96e8c5;
  --color-green--60: #73e1b2;
  --color-green--50: #50d99f;
  --color-green--40: #40ae7f;
  --color-green--30: #30825f;
  --color-green--20: #205740;
  --color-green--10: #102b20;
  --color-green--9: #184130;
  --color-yellow--90: #fdf5dc;
  --color-yellow--80: #faecb9;
  --color-yellow--70: #f8e295;
  --color-yellow--60: #f5d972;
  --color-yellow--50: #f3cf4f;
  --color-yellow--40: #c2a63f;
  --color-yellow--30: #927c2f;
  --color-yellow--20: #615320;
  --color-yellow--10: #312910;
  --color-yellow--9: #493E18;
  --color-orange--90: #fde1d9;
  --color-orange--80: #fbc4b2;
  --color-orange--70: #faa68c;
  --color-orange--60: #f88965;
  --color-orange--50: #f66b3f;
  --color-orange--40: #c55632;
  --color-orange--30: #944026;
  --color-orange--20: #622b19;
  --color-orange--10: #31150d;
  --color-pink--90: #f9ddf6;
  --color-pink--80: #f2bbed;
  --color-pink--70: #ec9ae3;
  --color-pink--60: #e578da;
  --color-pink--50: #df56d1;
  --color-pink--40: #b245a7;
  --color-pink--30: #86347d;
  --color-pink--20: #592254;
  --color-pink--10: #2d112a;
  --color-red--90: #fcd7de;
  --color-red--80: #f9afbd;
  --color-red--70: #f7889c;
  --color-red--60: #f4607b;
  --color-red--50: #f1385a;
  --color-red--40: #c12d48;
  --color-red--30: #912236;
  --color-red--20: #601624;
  --color-red--10: #300b12;
  --color-red--9: #48111b;
  --color-lilac--lightest: #f3f1fa;
  --color-lilac--lighter: #d7d0ff;
  --color-lilac--light: #b2a6f7;
}
