:root {
  /* OLD COLORS FOR COMPATIBILITY UNTIL ALL PAGES ARE CONVERTED */
  --old--color-accent-purple-0: rgb(13 13 28);
  --old--color-accent-purple-1: rgb(18 18 38);
  --old--color-accent-purple-2: rgb(21 21 45);
  --old--color-accent-purple-3: rgb(25 25 56);
  --old--color-accent-purple-4: rgb(29 29 68);
  --old--color-accent-purple-5: rgb(33 33 79);
  --old--color-accent-purple-6: rgb(39 39 93);
  --old--color-accent-purple-7: rgb(48 48 115);
  --old--color-accent-purple-8: rgb(55 55 134);
  --old--color-accent-purple-9: rgb(67 67 163);
  --old--color-accent-purple-10: rgb(75 54 161);
  --old--color-cyber-green-90: rgb(211 255 239);
  --old--color-cyber-green-80: rgb(145 255 216);
  --old--color-cyber-green-70: rgb(123 255 208);
  --old--color-cyber-green-60: rgb(79 255 192);
  --old--color-cyber-green-50: rgb(35 255 176);
  --old--color-cyber-green-40: rgb(28 204 141);
  --old--color-cyber-green-30: rgb(21 153 106);
  --old--color-cyber-green-20: rgb(14 102 70);
  --old--color-cyber-green-10: rgb(3 25 18);
  --old--color-accent-blue-90: rgb(232 246 254);
  --old--color-accent-blue-80: rgb(187 227 252);
  --old--color-accent-blue-70: rgb(119 200 249);
  --old--color-accent-blue-60: rgb(73 181 247);
  --old--color-accent-blue-50: rgb(28 163 245);
  --old--color-accent-blue-40: rgb(22 130 196);
  --old--color-accent-blue-30: rgb(17 98 147);
  --old--color-accent-blue-20: rgb(11 65 98);
  --old--color-accent-blue-10: rgb(6 33 49);
  --old--color-accent-green-1: rgb(220 247 236);
  --old--color-accent-green-2: rgb(185 240 217);
  --old--color-accent-green-3: rgb(150 232 197);
  --old--color-accent-green-4: rgb(115 225 178);
  --old--color-accent-green-5: rgb(80 217 159);
  --old--color-accent-green-6: rgb(64 174 127);
  --old--color-accent-green-7: rgb(48 130 95);
  --old--color-accent-green-8: rgb(32 87 64);
  --old--color-accent-green-9: rgb(24 65 48);
  --old--color-accent-green-10: rgb(16 43 32);
  --old--color-accent-green-11: rgba(8 22 16);
  --old--color-accent-yellow-1: rgb(253 245 220);
  --old--color-accent-yellow-2: rgb(250 236 185);
  --old--color-accent-yellow-3: rgb(248 226 149);
  --old--color-accent-yellow-4: rgb(245 217 114);
  --old--color-accent-yellow-5: rgb(243 207 79);
  --old--color-accent-yellow-6: rgb(194 166 63);
  --old--color-accent-yellow-7: rgb(146 124 47);
  --old--color-accent-yellow-8: rgb(97 83 32);
  --old--color-accent-yellow-9: rgb(73 62 24);
  --old--color-accent-yellow-10: rgb(49 41 16);
  --old--color-accent-yellow-11: rgb(24 21 8);
  --old--color-accent-orange-90: rgb(253 225 217);
  --old--color-accent-orange-80: rgb(251 196 178);
  --old--color-accent-orange-70: rgb(250 166 140);
  --old--color-accent-orange-60: rgb(248 137 101);
  --old--color-accent-orange-50: rgb(246 107 63);
  --old--color-accent-orange-40: rgb(197 86 50);
  --old--color-accent-orange-30: rgb(148 64 38);
  --old--color-accent-orange-20: rgb(98 43 25);
  --old--color-accent-orange-10: rgb(49 21 13);
  --old--color-accent-pink-90: rgb(249 221 246);
  --old--color-accent-pink-80: rgb(242 187 237);
  --old--color-accent-pink-70: rgb(236 154 227);
  --old--color-accent-pink-60: rgb(229 120 218);
  --old--color-accent-pink-50: rgb(223 86 209);
  --old--color-accent-pink-40: rgb(178 69 167);
  --old--color-accent-pink-30: rgb(134 52 125);
  --old--color-accent-pink-20: rgb(89 34 84);
  --old--color-accent-pink-10: rgb(45 17 42);
  --old--color-accent-red-1: rgb(252 215 222);
  --old--color-accent-red-2: rgb(249 175 189);
  --old--color-accent-red-3: rgb(247 136 156);
  --old--color-accent-red-4: rgb(244 96 123);
  --old--color-accent-red-5: rgb(241 56 90);
  --old--color-accent-red-6: rgb(193 45 72);
  --old--color-accent-red-7: rgb(145 34 54);
  --old--color-accent-red-8: rgb(96 22 36);
  --old--color-accent-red-9: rgb(72 17 27);
  --old--color-accent-red-10: rgb(48 11 18);
  --old--color-accent-red-11: rgb(24 6 9);
}
