@font-face {
  font-weight: 100 1000;
  font-family: Sora;
  src: url("../fonts/Sora.woff2") format("woff2-variations");
}

@font-face {
  font-weight: 100 1000;
  font-family: Inter;
  src: url("../fonts/Inter.woff2") format("woff2-variations");
}
