@font-face {
  font-weight: 100 1000;
  font-family: Sora;
  src: url("../fonts/Sora.ttf") format("truetype-variations");
}

@font-face {
  font-weight: 100 1000;
  font-family: Inter;
  src: url("../fonts/Inter.ttf") format("truetype-variations");
}
