:root {
  --border-width-medium: 0.125em;
  --line-height-tiny: 0.675rem;
  --line-height-smaller: 0.875rem;
  --line-height-small: 1rem;
  --line-height-medium: 1.125rem;
  --line-height-large: 1.375rem;
  --font-size-tiny: 0.625em;
  --font-size-smaller: 0.75em;
  --font-size-small: 0.875em;
  --font-size-default: 1em;
  --font-size-huge: 3.375em;
  --font-heading: normal 1em sora, sans-serif;
  --font-body: normal 1em inter, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
