:root {
  /* Base values */
  --space--px: 1px;
  --space--2: 0.125rem;
  --space--4: 0.25rem;
  --space--6: 0.375rem;
  --space--8: 0.5rem;
  --space--10: 0.625rem;
  --space--12: 0.75rem;
  --space--14: 0.875rem;
  --space--16: 1rem;
  --space--18: 1.125rem;
  --space--20: 1.25rem;
  --space--22: 1.375rem;
  --space--24: 1.5rem;
  --space--32: 1.5rem;

  /* Space affecting layout values */
  --gap--2: var(--space--2);
  --gap--4: var(--space--4);
  --gap--8: var(--space--8);
  --gap--12: var(--space--12);
  --gap--16: var(--space--16);
  --gap--32: 2rem;
  --page-margin: 16rem;
  --page-margin-top: 25px;

  /* Other re-used values */
  --blur-default: 0.25rem;
  --border-width--px: 1px;
  --border-width--2: 0.125rem;
  --border-radius--4: 0.25rem;
  --border-radius--8: 0.5rem;
  --border-radius--12: 0.75rem;
  --border-radius--16: 1rem;
  --font-size--10: 0.625rem;
  --font-size--12: 0.75rem;
  --font-size--14: 0.875rem;
  --font-size--16: 1rem;
  --font-size--24: 1.5rem;
  --line-height--10: 0.625rem;
  --line-height--18: 1.125rem;
  --line-height--22: 1.375rem;
  --line-height--24: 1.5rem;
  --line-height--26: 1.625rem;

  /* Common fonts */
  --font-body: normal 1rem inter, sans-serif;
  --font-heading: normal 1rem sora, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: var(--color-text--default);
  font: var(--font-body);
  background-color: var(--color-background);
}

@media (hover: hover) {
  :focus-visible {
    outline: 0 !important;
  }
}
