:root {
  /* Base values */
  --space--px: 1px;
  --space--2: 0.125rem;
  --space--4: 0.25rem;
  --space--6: 0.375rem;
  --space--8: 0.5rem;
  --space--10: 0.625rem;
  --space--12: 0.75rem;
  --space--14: 0.875rem;
  --space--16: 1rem;
  --space--18: 1.125rem;
  --space--20: 1.25rem;
  --space--22: 1.375rem;
  --space--24: 1.5rem;
  --space--30: 1.875rem;
  --space--32: 2rem;
  --space--36: 2.25rem;
  --space--38: 2.375rem;
  --space--40: 2.5rem;
  --space--44: 2.75rem;
  --space--48: 3rem;
  --space--51: 3.188rem;
  --space--54: 3.375rem;

  /* Space affecting layout values */
  --gap--2: var(--space--2);
  --gap--4: var(--space--4);
  --gap--8: var(--space--8);
  --gap--12: var(--space--12);
  --gap--16: var(--space--16);
  --gap--24: var(--space--24);
  --gap--32: var(--space--32);
  --gap--40: var(--space--40);
  --gap--48: var(--space--48);
  --page-margin: 16rem;
  --page-margin-top: 25px;

  /* Other re-used values */
  --blur-default: 0.25rem;
  --border-width--px: 1px;
  --border-width--2: 0.125rem;
  --border-radius--2: 0.125rem;
  --border-radius--4: 0.25rem;
  --border-radius--8: 0.5rem;
  --border-radius--12: 0.75rem;
  --border-radius--16: 1rem;
  --border-radius--48: 3rem;
  --font-size--xs: var(--space--10);
  --font-size--s: var(--space--12);
  --font-size--m: var(--space--14);
  --font-size--l: var(--space--16);
  --font-size--xl: var(--space--18);
  --font-size--xxl: var(--space--22);
  --line-height--s: 1.7;
  --line-height--m: 1.7;
  --line-height--l: 1.6;
  --line-height--xl: 1.6;
  --line-height--xxl: 1.2;

  /* Common fonts */
  --font-body: normal var(--font-size--l) inter, sans-serif;
  --font-heading: normal var(--font-size--l) "Hubot-Sans", sans-serif;
  --font-family-monospace: sfmono-regular, menlo, consolas, courier, monospace;
  --fa-fw-width: 1em;

  /* Font weigths */
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-semibold: 500;
  --font-weight-bold: 600;
  --font-weight-boldest: 700;
  --font-weight-heavy: 800;

  /* Header dimensions */
  --header-height: 3.5rem;
  --content-padding-top-desktop: 2rem;

  /* Animation lengths */
  --animation-length-xs: 80ms;
  --animation-length-s: 120ms;
  --animation-length-m: 150ms;
  --animation-length-l: 300ms;

  font-synthesis: none;
  font-feature-settings: "liga" 1, "calt" 1; /* workaround for bug in Chrome, dunno if still present or not */
}

/* DESIGN SYSTEM TODO: Add different sizes of scaling? */

/* e.g --scaling-s --scaling-m --scaling-l */

@media (max-width: calc(40rem - 1px)) {
  :root {
    --scaling: 0.7;
  }
}

@media (min-width: 40rem) {
  :root {
    --scaling: 0.9;
  }
}

@media (min-width: 63.5rem) {
  :root {
    --scaling: 1;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: var(--color-text--default);
  font: var(--font-body);
  line-height: normal;
  background-color: var(--color-background);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-surface--8) var(--color-surface--0);
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
  background-color: var(--color-surface--0);
}

*::-webkit-scrollbar-track:active {
  background-color: var(--color-surface--0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--color-surface--8);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-surface--9);
}

*::-webkit-scrollbar-thumb:active {
  background-color: var(--color-surface--7);
}

[data-mode="auto"] {
  --line-height: normal;
}

[data-mode="body"] {
  --line-height: 170%;
}

[data-weight="regular"] {
  --font-weight: 400;
}

[data-weight="medium"] {
  --font-weight: 600;
}

[data-weight="semiBold"] {
  --font-weight: 700;
}

[data-weight="bold"] {
  --font-weight: 700;
}

[data-size="xs"] {
  --font-size: 0.75rem;
}

[data-size="s"] {
  --font-size: 0.875rem;
}

[data-size="m"] {
  --font-size: 1rem;
}

[data-size="l"] {
  --font-size: 1.25rem;
}
