:root {
  --skeletor-bg: var(--color-surface-alpha--3);
  --body-bg-color: var(--color-surface--3);
  --body-bg-color-a: hsl(240deg 38% 13% / 0.85);
  --border-default: var(--color-surface-alpha--7);
  --border-dim: var(--color-surface-alpha--6);
  --datalist-row-bg-color: var(--color-surface-alpha--3);
  --surface-dim: var(--color-surface-alpha--3);
  --surface-dimmer: var(--color-surface-alpha--2);

  /* OLD STYLES FROM THIS POINT ONWARDS */
  --color-danger: var(--old--color-red--5);
  --color-danger-background: var(--old--color-red--8);
  --color-danger-background--hover: var(--old--color-red--9);
  --color-danger--hover: var(--old--color-red--6);
  --color-danger-text: var(--old--color-red--1);
  --color-warning-text: var(--old--color-yellow--1);
  --color-warning-background: var(--old--color-yellow--8);
  --color-warning-background--hover: var(--old--color-yellow--9);
  --color-success-text: var(--old--color-green--1);
  --color-success-background: var(--old--color-green--8);
  --color-success-background--hover: var(--old--color-green--9);
  --color-crown: var(--old--color-yellow--5);
  --color-info: var(--old--color-blue--70);
  --color-info-background: var(--old--color-blue--10);
  --old--color-surface--0: var(--old--color-purple--0);
  --old--color-surface--1: var(--old--color-purple--1);
  --old--color-surface--2: var(--old--color-purple--2);
  --old--color-surface--3: var(--old--color-purple--3);
  --old--color-surface--4: var(--old--color-purple--4);
  --old--color-surface--5: var(--old--color-purple--5);
  --old--color-surface--6: var(--old--color-purple--6);
  --old--color-surface--7: var(--old--color-purple--7);
  --old--color-surface--8: var(--old--color-purple--8);
  --old--color-surface--9: var(--old--color-purple--9);
  --old--color-surface--10: var(--old--color-purple--10);
  --old--color-surface--10--hover: rgb(59 42 126 / 1);
  --color-border: rgb(54 52 91 / 1);
  --color-border--highlight: rgb(93 90 159);
  --color-shadow-1: rgb(0 0 0 / 0.7);
  --color-gradient-blue-green--darker: linear-gradient(
    to left top,
    rgb(6 33 49) 0%,
    rgb(16 43 32) 100%
  );
  --color-gradient-blue-green--dark: linear-gradient(
    to left top,
    rgb(11 65 98) 0%,
    rgb(32 87 64) 100%
  );
  --color-gradient-blue-green: linear-gradient(
    to left top,
    rgb(28 163 245) 0%,
    rgb(35 255 176) 100%
  );
  --color-gradient-blue-green--light: linear-gradient(
    to left top,
    rgb(73 181 247) 0%,
    rgb(115 225 178) 100%
  );
  --color-gradient-purple-green--darker: linear-gradient(
    to left top,
    rgb(31 10 46) 0%,
    rgb(16 43 32) 100%
  );
  --color-gradient-purple-green--dark: linear-gradient(
    to left top,
    rgb(47 14 68) 0%,
    rgb(10 76 53) 100%
  );
  --color-gradient-purple-green: linear-gradient(
    to left top,
    rgb(157 48 228) 0%,
    rgb(35 255 176) 100%
  );
  --color-gradient-purple-green--light: linear-gradient(
    to left top,
    rgb(177 89 233) 0%,
    rgb(115 225 178) 100%
  );
  --color-gradient-vibrant: linear-gradient(
    to left,
    rgb(157 48 228) 0%,
    rgb(28 167 245) 50%,
    rgb(35 255 176) 100%
  );
  --color-highlight--hover: var(--old--color-cyber-green--40);
  --color-highlight: var(--old--color-cyber-green--50);
  --box-shadow-default: 0 0.75em 1.5em 0.25em rgb(0 0 0 / 0.65);
  --box-shadow-small: 0 0.25em 0.75em 0.125em rgb(0 0 0 / 0.65);
  --box-shadow-special-green: 0 0 1em rgb(80 217 159 / 0.32);
  --box-shadow-special-green--highlight: 0 0 0.75em rgb(255 255 255 / 0.2),
    0 0 1.125em rgb(80 217 159 / 0.6);
  --box-shadow-special-purple--highlight: 0 0 0.75em rgb(255 255 255 / 0.2),
    0 0 1.125em rgb(157 48 228 / 0.5);
  --color-text--default: rgb(245 245 246);
  --color-text--secondary: rgb(196 192 216);
  --color-text--accent: rgb(198 195 255);
  --color-text--tertiary: rgb(156 156 196);
  --alert-info-bg-color: rgb(8 49 73);
  --alert-success-bg-color: rgb(24 65 48);
  --alert-warning-bg-color: rgb(73 62 24);
  --alert-danger-bg-color: rgb(72 17 27);
  --alert-info-accent-color: rgb(28 163 245);
  --alert-success-accent-color: rgb(80 217 159);
  --alert-warning-accent-color: rgb(243 207 79);
  --alert-danger-accent-color: rgb(241 56 90);
  --alert-info-text-color: rgb(187 227 252);
  --alert-success-text-color: rgb(185 240 217);
  --alert-warning-text-color: rgb(250 236 185);
  --alert-danger-text-color: rgb(249 175 189);
  --animation-timing-1: cubic-bezier(0.16, 1, 0.3, 1);
}
