:root {
  --color-background: var(--color-surface--0);
  --color-background-alpha-90: rgb(18 18 38 / 0.9);
  --color-danger: var(--color-red--5);
  --color-danger-background: var(--color-red--8);
  --color-danger-background--hover: var(--color-red--9);
  --color-danger--hover: var(--color-red--6);
  --color-danger-text: var(--color-red--1);
  --color-warning-text: var(--color-yellow--1);
  --color-warning-background: var(--color-yellow--8);
  --color-warning-background--hover: var(--color-yellow--9);
  --color-success-text: var(--color-green--1);
  --color-success-background: var(--color-green--8);
  --color-success-background--hover: var(--color-green--9);
  --color-crown: var(--color-yellow--5);
  --color-info: var(--color-blue--60);
  --color-info-background: var(--color-blue--10);
  --color-surface--0: var(--color-purple--0);
  --color-surface--1: var(--color-purple--1);
  --color-surface--2: var(--color-purple--2);
  --color-surface--3: var(--color-purple--3);
  --color-surface--4: var(--color-purple--4);
  --color-surface--5: var(--color-purple--5);
  --color-surface--6: var(--color-purple--6);
  --color-surface--7: var(--color-purple--7);
  --color-surface--8: var(--color-purple--8);
  --color-surface--9: var(--color-purple--9);
  --color-surface--10: var(--color-purple--10);
  --color-surface--10--hover: rgb(59 42 126 / 1);
  --color-border: rgb(54 52 91 / 1);
  --color-border--highlight: rgb(93 90 159);
  --color-shadow-1: rgb(0 0 0 / 0.7);
  --color-gradient-blue-green--darker: linear-gradient(to left top, rgb(6 33 49) 0%, rgb(16 43 32) 100%);
  --color-gradient-blue-green--dark: linear-gradient(to left top, rgb(11 65 98) 0%, rgb(32 87 64) 100%);
  --color-gradient-blue-green: linear-gradient(to left top, rgb(28 163 245) 0%, rgb(35 255 176) 100%);
  --color-gradient-blue-green--light: linear-gradient(to left top, rgb(73 181 247) 0%, rgb(115 225 178) 100%);
  --color-gradient-purple-green--darker: linear-gradient(to left top, rgb(31 10 46) 0%, rgb(16 43 32) 100%);
  --color-gradient-purple-green--dark: linear-gradient(to left top, rgb(47 14 68) 0%, rgb(10 76 53) 100%);
  --color-gradient-purple-green: linear-gradient(to left top, rgb(157 48 228) 0%, rgb(35 255 176) 100%);
  --color-gradient-purple-green--light: linear-gradient(to left top, rgb(177 89 233) 0%, rgb(115 225 178) 100%);
  --color-highlight--hover: var(--color-cyber-green--40);
  --color-highlight: var(--color-cyber-green--50);
  --box-shadow-default: 0 0.75em 1.5em 0.25em rgb(0 0 0 / 0.65);
  --box-shadow-small: 0 0.25em 0.75em 0.125em rgb(0 0 0 / 0.65);
  --box-shadow-special-green: 0 0 1em rgb(80 217 159 / 0.32);
  --box-shadow-special-green--highlight: 0 0 0.75em rgb(255 255 255 / 0.2), 0 0 1.125em rgb(80 217 159 / 0.6);
  --box-shadow-special-purple--highlight: 0 0 0.75em rgb(255 255 255 / 0.2), 0 0 1.125em rgb(157 48 228 / 0.5);
  --color-text--default: rgb(245 245 246);
  --color-text--secondary: rgb(196 192 216);
  --color-text--accent: rgb(198 195 255);
  --color-text--tertiary: rgb(164 164 188);
  --animation-duration-default: 400ms;
  --animation-timing-1: cubic-bezier(0.16, 1, 0.3, 1);
}
