@layer theme-components {
  .pagination {
    --pagination-gap: var(--gap-xs);
  }

  /* VARIANTS STATELESS */
  .pagination__item {
    --pagination-item-height: var(--space-36);
    --pagination-item-padding: var(--space-8) var(--space-12);
    --pagination-item-font-weight: var(--font-weight-regular);
    --pagination-item-border-radius: var(--radius-md);
    --pagination-item-font-size: var(--font-size-body-lg);
    --pagination-item-text-color: var(--pagination-item-text-color--default);
    --pagination-item-background: var(--pagination-item-bg-color--default);
  }

  /* Only apply triggers to buttons */
  button.pagination__item {
    &:hover {
      --pagination-item-text-color: var(--pagination-item-text-color--hover);
      --pagination-item-background: var(--pagination-item-bg-color--hover);
    }

    &:active {
      --pagination-item-text-color: var(--pagination-item-text-color--active);
      --pagination-item-background: var(--pagination-item-bg-color--active);
    }

    &.pagination__item--selected {
      --pagination-item-text-color: var(--pagination-item-text-color--current);
      --pagination-item-background: var(--pagination-item-bg-color--current);

      &:hover {
        --pagination-item-text-color: var(--pagination-item-text-color--hover);
        --pagination-item-background: var(--pagination-item-bg-color--hover);
      }

      &:active {
        --pagination-item-text-color: var(--pagination-item-text-color--active);
        --pagination-item-background: var(--pagination-item-bg-color--active);
      }
    }
  }
}
