@layer components {
  .ts-link {
    color: var(--link-color);
    text-decoration: none;

    &:hover {
      color: var(--link-color-hover);
    }
  }

  .ts-link[disabled],
  .ts-link-disabled {
    pointer-events: none;
  }

  .ts-link-strikethrough {
    display: flex;
  }
}
