/* Common Link styles */
.link {
  color: var(--link-color);

  --link-color: var(--text-color);
}

.link:hover {
  --link-color: var(--text-color);
}

.link:active {
  --link-color: var(--text-color);
}

.link[data-variant="default"] {
  --link-color: var(--color-7);
}

.link[data-variant="default"]:hover {
  --link-color: var(--color-9);
}

.link[data-variant="default"]:active {
  --link-color: var(--color-9);
}

.link[data-variant="primary"] {
  --link-color: var(--color-primary);
}

.link[data-variant="primary"]:hover {
  --link-color: var(--color-primary);
}

.link[data-variant="primary"]:active {
  --link-color: var(--color-primary);
}

.link[data-variant="secondary"] {
  --link-color: var(--color-secondary);
}

.link[data-variant="secondary"]:hover {
  --link-color: var(--color-primary);
}

.link[data-variant="secondary"]:active {
  --link-color: var(--color-primary);
}

.link[data-variant="accent"] {
  --link-color: var(--color-accent);
}

.link[data-variant="accent"]:hover {
  --link-color: var(--color-primary);
}

.link[data-variant="accent"]:active {
  --link-color: var(--color-primary);
}

/* Link variants */

/* auto */

.link[data-variant="auto"] {
  display: inline-flex;
  align-items: flex-start;
}

/* body */

.link[data-mode="body"] {
  display: flex;
  align-items: flex-start;
}
