@layer theme-components {
  .select-search:where(.select-search--variant--disabled) {
    cursor: not-allowed;
    opacity: 0.5;

    .select-search__input {
      cursor: not-allowed;

      &::placeholder {
        opacity: 0.5;
      }
    }

    .select-search__selected-button {
      cursor: not-allowed;
    }

    .select-search__clear-search,
    .select-search__show-menu-button {
      pointer-events: none;
    }
  }

  .select-search__input:focus::placeholder {
    opacity: 0;
  }
}
