.root {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}
