.root {
  display: flex;
  gap: var(--space--4);
  padding-left: var(--space--16);
  color: var(--color-cyber-green--60);
}

.outer {
  --bg-color: var(--color-surface--4);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space--8) var(--space--16);
  background-color: var(--bg-color);

  /* skew the container */
  transform: skew(-30deg);
}

.outer:hover {
  --bg-color: var(--color-surface--6);
}

.outer__start {
  padding-left: 0;
}

.outer__end {
  padding-right: 0;

  --bg-color: var(--color-surface--6);
}

.outer__start::before,
.outer__end::after {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: var(--space--32);
  background-color: var(--bg-color);
  transform: skew(30deg);
  content: "\0020";
}

.outer__start::before {
  left: -1rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.outer__end::after {
  right: -1rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.inner {
  gap: var(--space--14);
  align-items: center;
  font-weight: 500;
  font-size: var(--font-size--s);
  line-height: 1;

  /* unskew the content */
  transform: skew(30deg);
}

.inner > a {
  margin: calc(-1 * var(--space--8)) calc(-1 * var(--space--16));
  padding: var(--space--8) var(--space--16);
}

.inner__end {
  color: var(--color-text--default);
}

.home {
  text-decoration: none;
}
