.root {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--8);
  list-style: none;
}

.tag {
  display: flex;
  flex: none;
  gap: var(--gap--4);
  align-items: center;
  justify-content: center;
  padding: var(--space--6) var(--space--8);
  border-radius: var(--border-radius--8);
  color: var(--text-color);
  font-weight: 700;
  font-size: var(--font-size--s);
  background-color: var(--bg-color);

  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--5);
}

.tag.exclude {
  --text-color: var(--color-red--3);
  --bg-color: var(--color-red--10);
}

.icon {
  height: var(--space--16);
  color: var(--text-color);
}

.tag.exclude .icon {
  --text-color: var(--color-red--3);
}

.clearAll {
  margin-left: var(--space--4);
}
