.root {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxl);
}

.privacyPolicyLink {
  color: var(--color-highlight);
}

.connectionList {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

.itemWrapper {
  padding: var(--space-16) var(--space-32);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: space-between;
}

.disabled > .item {
  opacity: 0.5;
}

.enabled {
  background-color: var(--color-surface-3);
}

.disabled {
  background-color: var(--color-surface-1);
}

.connectionTypeInfo {
  display: flex;
  gap: var(--space-24);
  align-items: center;
  justify-content: center;
}

.connectionTypeInfoIcon {
  display: flex;
  justify-content: center;
  width: 2.5em;
  aspect-ratio: 1;
}

.connectionTypeInfoName {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-xxxxl);
  line-height: 1;
}

.rightSection {
  display: flex;
  gap: var(--gap-xxxl);
  align-items: center;
  justify-content: center;
}

.connectedAs {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxs);
  align-items: flex-end;
}

.connectedAsDescription {
  color: var(--color-text-tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-lg);
  line-height: 1;
}

.connectedAsUsername {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-lg);
  line-height: normal;
}

@media (width <= 48rem) {
  .item {
    flex-direction: column;
    gap: var(--gap-xs);
  }
}
