.root {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  gap: var(--gap--32);
  align-items: center;
  width: 100%;
  height: 3.5rem;
  padding: 0 var(--space--24);
  border-bottom: var(--space--px) var(--color-surface--4) solid;
  background-color: hsl(240deg 36% 11% / 0.9);
  backdrop-filter: blur(var(--space--20));
}

.item {
  display: none;
  flex: 2 1 100%;
}

@media (min-width: 60rem) {
  .item {
    display: flex;
  }
}

.item:last-child {
  justify-content: flex-end;
}

.nav {
  display: flex;
  gap: var(--gap--16);
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  display: flex;
  flex: 1 2 100%;
  justify-content: center;
}

.logoWrapper {
  width: 1.655rem;
  height: 1.463rem;
  margin: 0 var(--space--18);
  color: var(--color-highlight);
}

.navButtons {
  display: flex;
  gap: var(--space--8);
  min-width: 252px;
}

.dropDownUserInfo {
  display: flex;
  gap: var(--gap--16);
  margin: 0 var(--space--8);
  padding: var(--space--8) var(--space--16);
  border-radius: var(--border-radius--8);
}

.dropDownUserInfo:hover {
  background-color: var(--color-surface--6);
}

.dropdownUserInfoDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdownUserInfoDetails_userName {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  line-height: 1;
}

.dropdownUserInfoDetails_description {
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
  line-height: 1;
}
