.root {
  position: sticky;
  top: 0;
  z-index: auto;
  display: flex;
  gap: var(--gap--32);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  background-color: rgb(16 16 40 / 0.85);
  backdrop-filter: blur(10px);
}

.item {
  display: flex;
  flex: 2 1 100%;
}

.item:last-child {
  justify-content: flex-end;
  padding-right: 0.75rem;
}

.nav {
  display: flex;
  gap: var(--gap--16);
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  display: flex;
  flex: 1 2 100%;
  justify-content: center;
}

.logoWrapper {
  width: 1.655rem;
  height: 1.463rem;
  margin: 0 var(--space--18);
  margin: 0 0.75rem 0 1.25rem;
  color: var(--color-highlight);
}

.navButtons {
  display: flex;
  gap: var(--space--8);
}

.dropDownUserInfo {
  display: flex;
  gap: var(--gap--16);
  margin: 0 var(--space--8);
  padding: var(--space--8) var(--space--16);
  border-radius: var(--border-radius--8);
}

.dropDownUserInfo:hover {
  background-color: var(--color-surface--6);
}

.dropdownUserInfoDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdownUserInfoDetails_userName {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  line-height: 1;
}

.dropdownUserInfoDetails_description {
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
  line-height: 1;
}

.narrowHeader {
  display: none;
}

.narrowHeader > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developersSquareButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 63.5rem) {
  .root {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .narrowHeader {
    display: flex;
    gap: 1rem;
  }

  .wideHeader,
  .navButtons {
    display: none;
  }
}
