.root {
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  gap: var(--gap--32);
  align-items: center;
  height: 3.5rem;
  padding: 0 var(--space--24);
}

.item {
  display: none;
  flex: 2 1 100%;
}

@media (min-width: 60rem) {
  .item {
    display: flex;
  }
}

.item:last-child {
  justify-content: flex-end;
}

.nav {
  display: flex;
  gap: var(--gap--16);
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  display: flex;
  flex: 1 2 100%;
  justify-content: center;
  min-width: 420px;
}

.logoWrapper {
  width: 26px;
  color: var(--color-highlight);
}

.navButtons {
  display: flex;
  gap: var(--space--8);
}

.dropDownUserInfo {
  display: flex;
  gap: var(--gap--16);
  padding: var(--space--8);
}

.dropdownUserInfoDetails {
  font: var(--font-body);
}

.dropdownUserInfoDetails_userName {
  color: var(--color-text--default);
  font-weight: 700;
}

.dropdownUserInfoDetails_description {
  color: var(--color-text--tertiary);
}
