.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--space--8) var(--space--12);
  border-radius: var(--border-radius--8);
}

.root:hover {
  background-color: var(--color-surface--4);

  --mark-color: var(--color-purple--2);
}

.checkBoxContainer {
  display: flex;
  flex-direction: row;
  gap: var(--gap--12);
  align-items: center;
}

.checkBoxRoot {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: var(--space--18);
  height: var(--space--18);
  border-radius: var(--border-radius--2);
  background-color: var(--mark-color);
  transition: ease-out 60ms;

  --mark-color: var(--filter-color, var(--color-purple--6));
}

.root:hover .checkBoxRoot {
  --mark-color: var(--filter-color, #4343a3);
}

.label {
  color: var(--filter-color, var(--color-text--secondary));
  font-weight: 700;
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  transition: 50ms;
  user-select: none;
}

.icon {
  width: var(--space--12);
  height: var(--space--16);
  color: var(--color-surface--0);
}

.tag {
  margin-left: auto;
}
