.overlay {
  position: fixed;
  z-index: 9999;
  background-color: var(--color-shadow-1);
  inset: 0;
}

.content {
  position: fixed;
  top: var(--top);
  left: var(--left);
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 40rem;
  max-height: 80vh;
  border: var(--border);
  border-radius: var(--border-radius--8);
  background-color: var(--color-surface--2);
  box-shadow: var(--box-shadow-default);
  transform: translate(calc(var(--left) * -1), calc(var(--top) * -1));

  --top: 50%;
  --left: 50%;
  --border: var(--border-width--px) solid var(--color-surface--5);
}

.body {
  max-height: 100%;
  overflow: auto;
}

.bodyPadding > * {
  padding-right: var(--space--32);
  padding-left: var(--space--32);
}

.bodyPadding > :first-child {
  padding-top: var(--space--16);
}

.bodyPadding > :last-child {
  padding: var(--space--16) var(--space--24);
  border-top: var(--border);
}

.bodyPadding > :nth-last-child(2) {
  padding-bottom: var(--space--32);
}

.header {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--gap--16);
  align-items: center;
  justify-content: space-between;
  padding: var(--space--16) var(--space--16) var(--space--8) var(--space--32);
}

.headerBorder {
  border-bottom: var(--border);
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
  line-height: 1;
}

.separator {
  border-top: var(--border-width--px) solid var(--color-surface--5);
}

.closeIcon {
  display: flex;
  color: var(--color-border--highlight);
  font-weight: var(--font-weight-heavy);
}
