.overlay {
  position: fixed;
  background-color: var(--color-shadow-1);
  inset: 0;
}

.content {
  position: fixed;
  top: var(--top);
  left: var(--left);
  display: flex;
  flex-direction: column;
  width: 30vw;
  border: var(--border-width--px) solid var(--color-surface--5);

  border-radius: var(--border-radius--16);
  background-color: var(--color-background);
  box-shadow: var(--box-shadow-default);
  transform: translate(calc(var(--left) * -1), calc(var(--top) * -1));

  --top: 20%;
  --left: 50%;
}

.body {
  padding: var(--space--16) var(--space--32) var(--space--32) var(--space--32);
}

.heading {
  display: flex;
  flex-direction: row-reverse;
  gap: var(--gap--16);
  align-items: center;
  justify-content: space-between;
  padding: var(--space--16) var(--space--16) var(--space--8) var(--space--32);
}

.title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1;
}

.separator {
  border-top: var(--border-width--px) solid var(--color-surface--5);
}

.footer {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  justify-content: space-between;
  padding: var(--space--24) var(--space--32);
}

.footerSection {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
}
