@layer nimbus-layout {
  .team-profile__donationLink {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    align-self: stretch;
  }

  .team-profile__label {
    display: flex;
    flex-direction: row;
    min-width: 7rem;
    color: #fff;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
  }

  .team-profile__input {
    width: 100%;
  }

  .team-profile__save {
    align-self: flex-end;
  }
}
