@layer nimbus-layout {
  .nimbus-settings-team-profile {
    > .__form {
      /* .__meta {

        } */
      > .__content {
        > .__save {
          align-self: flex-end;
        }

        > .nimbus-settingsItems__item {
          > .__donationLink {
            display: flex;
            flex-direction: row;
            gap: var(--gap-md);
            align-items: center;
            align-self: stretch;

            > .__label {
              display: flex;
              flex-direction: row;
              min-width: 7rem;
              color: #fff;
              font-weight: var(--font-weight-bold);
              font-size: var(--font-size-body-md);
            }

            > .__input {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
