@layer nimbus-layout {
  .team-profile__donationLink {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    min-width: min-content;
  }

  .team-profile__label {
    display: flex;
    flex-direction: row;
    min-width: 7rem;
    color: #fff;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
  }

  .team-profile__input {
    flex: 1 1 0;
    min-width: 7rem;
  }

  .team-profile__island {
    padding: var(--space-16) var(--space-32);
    border-radius: var(--radius-md);
    overflow-x: auto;
    background-color: var(--color-surface-default);
  }

  @container form-section-content (width <= 40rem) {
    .team-profile__island {
      padding: var(--space-12) var(--space-24);
    }

    .team-profile__label {
      min-width: 4rem;
    }
  }

  @container form-section-content (width <= 24rem) {
    .team-profile__island {
      padding: var(--space-10) var(--space-20);
    }

    .team-profile__label {
      min-width: 2rem;
    }
  }

  .team-profile__save {
    align-self: flex-end;
  }
}
