.root {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #1f1f42;
}

.fallback {
  display: flex;
  flex-flow: wrap;
  gap: var(--gap--8);
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 18.75rem;
  height: 15.625rem;
  padding: var(--space--24);
  color: var(--color-tertiary);
  background: var(--color-3);
}

.icon {
  width: var(--space--16);
  animation: heart-beat 2s cubic-bezier(0, -0.76, 0.89, 1.64) infinite;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes heart-beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}
