@layer components {
  .ad-container {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #1f1f42;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-lg);
  }

  .ad-container__fallback {
    display: flex;
    flex-flow: wrap;
    gap: var(--gap-xs);
    place-content: center center;
    align-items: center;
    width: 18.75rem;
    height: 15.625rem;
    padding: var(--space-24);
    color: var(--ad-container__fallback-color);
    background-color: var(--ad-container__fallback-background-color);
  }

  .ad-container__icon {
    width: var(--space-16);
    animation: heart-beat 2s cubic-bezier(0, -0.76, 0.89, 1.64) infinite;
  }

  .ad-container__content {
    position: absolute;
    top: 0;
    left: 0;
  }

  @keyframes heart-beat {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.9);
    }

    100% {
      transform: scale(1);
    }
  }
}
