.menuRoot {
  width: 80%;
  height: 100%;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  padding-top: 7rem;
  background: #15152d;
}

.menuCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
}
