.root {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  padding: var(--space--16) var(--space--24);
  border-radius: var(--border-radius--8);
  background-color: var(--color-surface--4);
}

.basicInfo {
  display: flex;
  flex: 2;
  flex-direction: row;
  gap: var(--gap--16);
  align-items: center;
}

.userName {
  font: var(--font-heading);
}

.role {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.actions {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
