.root {
  display: flex;
  flex-direction: column;
}

.allFilter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.line {
  display: flex;
  align-items: center;
  margin: var(--space--4) var(--space--8);
  border-bottom: 1px var(--color-surface--3) solid;
}
