.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--space--12);
  align-items: center;
  justify-content: center;

  padding: var(--space--12) var(--space--16);
  border-radius: var(--border-radius--8);
  color: var(--color-text--default);
  background-color: var(--bg-color);

  --bg-color: var(--color-surface--4);
}

.icon {
  display: flex;
  height: 1em;
}

.label {
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: 1.3;
}

.button__default {
  --bg-color: var(--color-surface--4);

  color: var(--color-text--default);
}

.button__default > .icon {
  color: var(--color-border--highlight);
}

.button__default:hover > .icon {
  color: var(--color-text--tertiary);
}

.button__default:hover {
  --bg-color: var(--color-surface--7);
}

.button__default_selected {
  --bg-color: var(--color-surface--10);
}
