@layer nimbus-layout {
  .team-settings__leave-and-disband-button {
    align-self: flex-start;
  }

  .team-settings__text--bold {
    font-weight: var(--font-weight-bold);
  }

  .disband-team-form__form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }
}
