@layer nimbus-layout {
  .team-settings__leave-and-disband-button {
    align-self: flex-start;
  }

  .disband-team-form__form {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  .disband-team-form__text--bold {
    color: var(--color-text-primary);

    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-bold);
  }
}
