.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.description {
  font-size: var(--font-size-body-lg);
  line-height: normal;
}

.separator {
  margin: var(--space-32) 0;
  border-bottom: var(--border-width--px) solid var(--color-surface-5);
}

.disbandVerificationInput {
  display: flex;
}
