@layer nimbus-components {
  .connection {
    display: flex;
    gap: var(--gap-xxxl);
    align-items: center;
    align-self: stretch;
    padding: var(--space-16) var(--space-32);
    border-radius: var(--radius-md);
    background: var(--color-surface-default);
  }

  .connection__body {
    display: flex;
    flex: 1 1 0;
    gap: var(--gap-xl);
    align-items: center;
    justify-content: center;
  }

  .connection__icon {
    width: var(--space-40);
    height: var(--space-40);
  }

  .connection__name {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: flex-start;
    justify-content: center;
    font-weight: var(--font-weight-bold);

    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-md);
  }

  .connection.connection--disabled {
    background: var(--surface-dim);

    > .connection__body {
      > .connection__icon,
      > .connection__name {
        opacity: 0.5;
      }
    }
  }

  .connection__actions {
    display: flex;
    gap: var(--gap-xxxl);
    align-items: center;
    justify-content: flex-end;
  }

  .connection__description {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxxs);
    align-items: flex-end;
    justify-content: center;
  }

  .connection__connected {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
  }

  .connection__username {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
  }
}
