@layer nimbus-components {
  .connection {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: var(--gap-3xl);
    align-items: center;
    min-width: min-content;
    padding: var(--space-16) var(--space-32);
    border-radius: var(--radius-md);
    background: var(--surface-dim);

    @container (width < 625px) {
      padding: var(--space-16);

      .connection__info {
        grid-template-columns: 1fr;
      }

      .connection__description {
        justify-items: start;
      }

      .connection__username {
        word-break: break-all;
      }
    }
  }

  .connection--active {
    background: var(--color-surface-default);
  }

  .connection__info {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: var(--gap-xl);
    align-items: center;
  }

  .connection__provider {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    gap: var(--gap-xl);
    align-items: center;
  }

  .connection__icon {
    width: var(--space-40);
    height: var(--space-40);

    & svg {
      width: 100%;
      height: 100%;
    }
  }

  .connection__name {
    min-width: 0;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-md);
  }

  .connection__description {
    display: grid;
    gap: var(--gap-3xs);
    align-content: center;
    justify-items: end;
  }

  .connection__connected {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
  }

  .connection__username {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
  }
}
