@layer theme-components {
  /* VARIANTS DEFAULT STATE */
  .icon:where(.icon--variant--primary) {
    --icon-color: var(--icon-primary-color--default);
  }

  .icon:where(.icon--variant--secondary) {
    --icon-color: var(--icon-secondary-color--default);
  }

  .icon:where(.icon--variant--tertiary) {
    --icon-color: var(--icon-tertiary-color--default);
  }

  .icon:where(.icon--variant--accent) {
    --icon-color: var(--icon-accent-color--default);
  }

  .icon:where(.icon--variant--special) {
    --icon-color: var(--icon-special-color--default);
  }

  .icon:where(.icon--variant--success) {
    --icon-color: var(--icon-success-color--default);
  }

  .icon:where(.icon--variant--info) {
    --icon-color: var(--icon-info-color--default);
  }

  .icon:where(.icon--variant--warning) {
    --icon-color: var(--icon-warning-color--default);
  }

  .icon:where(.icon--variant--danger) {
    --icon-color: var(--icon-danger-color--default);
  }

  .icon:where(.icon--variant--cyber) {
    --icon-color: var(--icon-cyber-color--default);
  }
}
