@layer nimbus-layout {
  .mobile-navigation {
    display: none;

    button {
      background: transparent;
    }
  }

  .mobile-navigation__menu,
  .mobile-navigation__user {
    display: none;
  }

  .mobile-navigation__popover-controls {
    display: flex;
  }

  .mobile-navigation__popover-close-button {
    margin-left: auto;
  }

  .mobile-navigation__popover-item {
    display: flex;
    gap: var(--gap-lg);
    align-items: center;
    align-self: stretch;
    padding: var(--space-12);
    border-radius: var(--radius-md);
    color: var(--color-text-primary);

    &:hover {
      background-color: var(--color-surface-9);
    }
  }

  .mobile-navigation__popover-text {
    display: block;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mobile-navigation__popover--thick {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);

    > svg {
      flex-shrink: 0;
      width: 0.875rem;
      height: 0.875rem;
      color: var(--color-text-tertiary);
    }
  }

  .mobile-navigation__popover--thin {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
  }

  .mobile-navigation__divider {
    align-self: stretch;
    height: 1px;
    margin: var(--space-16) 0;
    background: var(--color-surface-7);
  }

  /* Menu popover from here onwards */
  .mobile-navigation__developers-button {
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
    background: transparent;
  }

  /* User popover from here onwards */
  .mobile-navigation__avatar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    align-self: stretch;
    padding: var(--space-8);
  }

  .mobile-navigation__user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
  }

  /* Mobile breakpoint */
  @media (width <= 750px) {
    .mobile-navigation {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 0.5rem 1.5rem 0.25rem;
      background: var(--body-bg-color-a);
      backdrop-filter: blur(10px);
    }

    .mobile-navigation__menu,
    .mobile-navigation__user {
      display: flex;
    }

    .mobile-navigation__popover {
      display: flex;
      flex-direction: column;
      gap: var(--space-16);
      width: 100%;
    }
  }
}
