@layer nimbus-layout {
  .nimbus-commonComponents-mobile-navigation {
    display: none;

    button {
      background: transparent;
    }
  }

  .nimbus-commonComponents-mobile-navigation__item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    color: var(--color-text-tertiary);
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.2rem;

    &:active {
      color: var(--color-cyber-green-5);
    }

    &:hover {
      color: var(--color-text-secondary);
    }

    svg {
      height: 1.375rem;
    }
  }

  .nimbus-commonComponents-mobile-navigation-menu,
  .nimbus-commonComponents-mobile-navigation-user {
    display: none;
  }

  /* .nimbus-commonComponents-mobile-navigation-popover {
  } */

  /* General popover from here onwards */
  .nimbus-commonComponents-mobile-navigation-popover__item {
    display: flex;
    gap: var(--gap-md);
    align-items: center;
    align-self: stretch;
    padding: var(--space-16);
    border-radius: var(--radius-md);
    color: var(--color-text-primary);

    &:hover {
      background-color: var(--color-surface-9);
    }
  }

  .nimbus-commonComponents-mobile-navigation-popover--thick {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
  }

  .nimbus-commonComponents-mobile-navigation-popover--thin {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
  }

  .nimbus-commonComponents-mobile-navigation-popover__divider {
    align-self: stretch;
    height: 1px;
    margin: var(--space-16) var(--space-8);
    background: var(--color-surface-7);
  }

  /* Menu popover from here onwards */
  .nimbus-commonComponents-mobile-navigation-menu__developersButton {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    background: transparent;

    > svg {
      height: 0.875rem;
      color: var(--color-text-tertiary);
    }
  }

  /* User popover from here onwards */
  .nimbus-commonComponents-mobile-navigation-user__avatar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    align-self: stretch;
    padding: 1rem;
  }

  .nimbus-commonComponents-mobile-navigation-user__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
  }

  /* Mobile breakpoint */
  @media (width <= 475px) {
    .nimbus-commonComponents-mobile-navigation {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 99999;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      padding: 0.5rem 1.5rem 0.25rem;
      background: var(--body-bg-color-a);
      backdrop-filter: blur(10px);
    }

    .nimbus-commonComponents-mobile-navigation-menu,
    .nimbus-commonComponents-mobile-navigation-user {
      display: flex;
    }

    .nimbus-commonComponents-mobile-navigation-popover {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
