@layer nimbus-layout {
  .navigation-header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-shrink: 0;
    gap: var(--gap-md);
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    height: var(--header-height, 64px);
    padding: 5px 0;
    overflow-x: auto;
  }

  .navigation-header__global {
    display: flex;
    flex-shrink: 0;
    gap: var(--gap-xs);
    align-items: center;
    align-self: stretch;
  }

  .navigation-header__logo {
    display: flex;
    flex-shrink: 0;
    gap: var(--gap-sm);
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--space-20);

    > svg {
      width: 26.479px;
      height: 23.4px;
    }
  }

  .navigation-header__main {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
  }

  .navigation-header__user {
    display: flex;
    flex-shrink: 0;
    gap: var(--gap-md);
    align-items: center;
    justify-content: flex-end;
    padding-right: var(--space-12);
  }

  .navigation-header__extra {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
  }

  .navigation-header__profile-actions {
    display: flex;
    gap: var(--gap-xs);
    align-items: flex-start;
  }

  /* .navigation-header__user-dropdown {
  } */

  .navigation-header__user-button {
    display: inline-flex;
    flex-shrink: 0;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    padding: 0.25rem;
    border-radius: var(--radius-full);
    background: transparent;
    background: var(--color-ui-element-1);

    > .avatar {
      --size: 1.75rem;
    }

    &:hover {
      background: var(--color-ui-element-3);
    }
  }

  .navigation-header__avatar {
    display: flex;
    gap: var(--gap-md);
    padding: var(--space-6) var(--space-16);
    cursor: unset;
  }

  .navigation-header__avatar[data-highlighted] {
    --dropdown-item-background-color: var(--dropdown-item-bg-color--default);
  }

  .navigation-header__dropdown-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
  }

  .navigation-header__dropdown-item {
    display: flex;
    gap: var(--space-16);
    align-items: center;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
  }

  .navigation-header__dropdown-item[data-highlighted] svg,
  .navigation-header__dropdown-item[data-highlighted],
  .navigation-header__dropdown-item {
    color: var(--color-text-primary);
  }

  .navigation-header__developers-dropdown {
    min-width: 14rem;
  }

  .navigation-header__externalLink {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navigation-header--focus:not([data-highlighted]) a svg {
    color: var(--color-text-tertiary);
  }

  .navigation-login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: min-content;
  }

  .navigation-login__logo {
    width: 3.12rem;
    height: 2.79rem;
    color: currentcolor;
    fill: currentcolor;
  }

  .navigation-login__title {
    text-align: center;
  }

  .navigation-login__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }

  .navigation-login__link {
    display: flex;
    flex: 1 0 0;
    gap: 2.5rem;
    align-items: center;
    padding: 0.75rem 3rem 0.75rem 1rem;
    border-radius: 0.5rem;
    color: #f5f5f6;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
    text-wrap: nowrap;
  }

  .navigation-login__discord {
    background: #5865f2;
  }

  .navigation-login__github {
    background: #333;
  }

  .navigation-login__overwolf {
    background: #d34037;
  }

  .navigation-login__legal {
    align-self: stretch;
    color: #8683be;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-lg);
    text-align: center;

    > a {
      color: var(--color-text-tertiary);
    }
  }

  /* Mobile breakpoint */
  @media (width <= 475px) {
    .navigation-header {
      display: none;
    }
  }
}
