.root {
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height--m);
}

.image {
  width: 5rem;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-xxxxl);
  line-height: var(--line-height--l);
}

.description {
  color: var(--color-text-tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height--m);
}

.item {
  display: flex;
  gap: var(--gap-xl);
  padding: var(--space-16) var(--space-32);
}

.item:hover {
  gap: var(--gap-xl);
  padding: var(--space-16) var(--space-32);
  background-color: var(--color-surface-5);
}

.preferredVersion {
  padding-top: var(--space-6);
  color: var(--color-text-accent);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height--s);
}

.preferredVersion__version {
  color: var(--color-highlight);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-md);
  line-height: var(--line-height--s);
}
