.root {
  display: flex;
  gap: var(--size-s);
  align-items: center;
}

.crumb {
  gap: var(--size-s);
  align-items: center;
  color: var(--color-cyber-green--50);
}

.home {
  text-decoration: none;
}
