/* Common Button styles */
.button {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap-m);
  align-items: center;
  justify-content: center;

  padding: var(--padding-s) var(--padding-m);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--border-radius-xs);
  color: var(--text-color);
  background-color: var(--bg-color);

  --text-color: var(--color-white);
  --bg-color: var(--color-surface--3);
  --button-border-color: transparent;
  --button-border-width: var(--border-width-m);
}

/* Styles for Button's text */
.buttonLabel {
  font: var(--font-sora);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--text-m);
  line-height: var(--line-height-l);
}

/* Different Button color schemes */

.button__default {
  --text-color: var(--color-white);
  --bg-color: var(--color-surface--3);
}

.button__default:hover {
  --bg-color: var(--color-surface--4);
  --button-border-color: var(--color-border-2);
}

.button__defaultDark {
  --text-color: var(--color-white);
  --bg-color: var(--color-surface--1);
}

.button__defaultDark:hover {
  --bg-color: var(--color-surface--2);
  --button-border-color: var(--color-border-2);
}

.button__primary {
  --text-color: var(--color-black);
  --bg-color: var(--color-cyber-green);
}

.button__primary:hover {
  --bg-color: var(--color-cyber-green--40);
}

.button__danger {
  --text-color: var(--color-white);
  --bg-color: var(--color-red);
}

.button__danger:hover {
  --bg-color: var(--color-red--40);
}

.button__defaultWithBorder {
  --bg-color: var(--color-surface--3);
  --text-color: var(--color-white);
  --button-border-color: var(--color-border-2);
}

.button__defaultWithBorder:hover {
  --bg-color: var(--color-surface--4);
  --button-border-color: var(--color-border-3);
}

/* Special-style Buttons */

.button__specialPurple,
.button__specialGreen {
  position: relative;
  z-index: 1;
  transition: all 0.12s;
}

.button__specialGreen {
  background: var(--color-gradient-blue-green--darker) padding-box, var(--color-gradient-blue-green) border-box;
  box-shadow: 0 0 var(--size--m) rgb(80 217 159 / 0.32);
}

.button__specialPurple {
  background: var(--color-gradient-purple-green--darker) padding-box, var(--color-gradient-purple-green) border-box;
}

.button__specialGreen:hover {
  --button-border-color: transparent;

  box-shadow: 0 0 var(--size--xs) rgb(255 255 255 / 0.2), 0 0 var(--size--l) rgb(80 217 159 / 0.6);
}

.button__specialPurple:hover {
  --button-border-color: transparent;

  box-shadow: 0 0 var(--size--xs) rgb(255 255 255 / 0.2), 0 0 var(--size--l) rgb(157 48 228 / 0.5);
}

.button__specialGreen::before,
.button__specialPurple::before {
  position: absolute;
  top: calc(0px - var(--button-border-width));
  right: calc(0px - var(--button-border-width));
  bottom: calc(0px - var(--button-border-width));
  left: calc(0px - var(--button-border-width));
  z-index: -1;
  border: var(--button-border-width) solid transparent;
  border-radius: var(--border-radius-xs);
  opacity: 0;
  transition: all 0.12s;
  content: "";

  --text-color: var(--color-white);
}

.button__specialGreen::before {
  background: var(--color-gradient-blue-green--dark) padding-box, var(--color-gradient-blue-green--light) border-box;
}

.button__specialPurple::before {
  background: var(--color-gradient-purple-green--dark) padding-box, var(--color-gradient-purple-green--light) border-box;
}

.button__specialPurple:hover::before,
.button__specialGreen:hover::before {
  opacity: 1;
}
