.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  gap: var(--gap-m);

  padding: var(--padding-s) var(--padding-m);
  border-radius: var(--size-xs);
  border: 2px solid;

  --bg-color: var(--color-surface--3);
  background-color: var(--bg-color);
  --text-color: var(--color-white);
  color: var(--text-color);
  --border-color: transparent;
  border-color: var(--border-color);
}

.buttonLabel {
  font-family: 'Sora', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.button__default {
  --text-color: var(--color-white);
  --bg-color: var(--color-surface--3);
}
.button__default:hover {
  --bg-color: var(--color-surface--4);
  --border-color: var(--color-border-2);
}

.button__defaultDark {
  --text-color: var(--color-white);
  --bg-color: var(--color-surface--1);
}

.button__defaultDark:hover {
  --bg-color: var(--color-surface--2);
  --border-color: var(--color-border-2);
}

.button__primary {
  --text-color: var(--color-black);
  --bg-color: var(--color-cyber-green);
}

.button__primary:hover {
  --bg-color: var(--color-cyber-green--40);
}

.button__danger {
  --text-color: var(--color-white);
  --bg-color: var(--color-red);
}

.button__danger:hover {
  --bg-color: var(--color-red--40);
}

.button__defaultWithBorder {
  --bg-color: var(--color-surface--3);
  --text-color: var(--color-white);
  --border-color: var(--color-border-2);
}

.button__defaultWithBorder:hover {
  --bg-color: var(--color-surface--4);
  --border-color: var(--color-border-3);
}

.button__specialGreen {
  background-clip: padding-box, border-box;
  --text-color: var(--color-white);
  background-image: var(--color-gradient-blue-green--darker),
  var(--color-gradient-blue-green);
  border-image-source: var(--color-gradient-blue-green);
  box-shadow: 0 0 var(--size-m) 0 var(--color-cyber-green--20);
}

.button__specialGreen:hover {
  background-image: var(--color-gradient-blue-green--dark),
  var(--color-gradient-blue-green--light);
  border-image-source: var(--color-gradient-blue-green--light);
  box-shadow: 0 0 var(--size-m) var(--color-cyber-green--40);
}

.button__specialPurple {
  background-clip: padding-box, border-box;
  background-image: var(--color-gradient-purple-green--darker),
  var(--color-gradient-purple-green);
  --text-color: var(--color-white);
  border-image-source: var(--color-gradient-purple-green);
}

.button__specialPurple:hover {
  background-image: var(--color-gradient-purple-green--dark), var(--color-gradient-purple-green--light);
  border-image-source: var(--color-gradient-purple-green--light);
  box-shadow: 0 var(--size-xs) var(--size-m) 0 var(--color-purple--30);
}
