.root {
  display: flex;
}

.label {
  font-weight: var(--font-weight-500);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-tiny);
  padding: var(--padding-3xs);
  border-radius: var(--border-radius-3xs);
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-1);
}

/* Different CustomDropDown color schemes */
.content__default {
  --text-color: var(--color-white);
  --bg-color: var(--color-surface--3);
}

.content__defaultDark {
  --text-color: var(--color-white);
  --bg-color: var(--color-surface--1);
}

.content__primary {
  color: var(--color-black);
  background-color: var(--color-cyber-green);
}
