.root {
  display: flex;
  flex-direction: row;

  gap: 1em;
  min-width: 10rem;
  padding: 0.625em 0.75em;
  border-radius: 0.5em;
  overflow: hidden;
  color: var(--text-color);

  font: var(--font-body);
  font-size: var(--font-size-small);
  background-color: var(--bg-color);
  cursor: pointer;

  --text-color: var(--color-text--default);
  --bg-color: transparent;
}

.label {
  font-weight: 500;
  line-height: var(--line-height-large);
}

/* Different MenuItem color schemes */
.selectItem__default:hover {
  --bg-color: var(--color-default--hover);
}

.selectItem__defaultDark:hover {
  --bg-color: var(--color-default-dark--hover);
}

.selectItem__primary {
  --text-color: var(--color-black);
}

.selectItem__primary:hover {
  --bg-color: var(--color-highlight--hover);
}

.icon {
  color: var(--color-text--tertiary);
}

.selectItem__primary .icon {
  color: var(--color-black);
}
