/* Common MetaItem styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap-xs);
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: var(--text-xs);
  background-color: var(--bg-color);

  --text-color: var(--color-default-purple--8);
  --bg-color: transparent;
}

/* Styles for MetaItem's text */
.label {
  font: var(--font-body);
  font-weight: var(--font-weight-700);
}

/* Different MetaItem color schemes */
.metaItem__default {
  --text-color: var(--color-default-purple--8);
}

.metaItem__tertiary {
  --text-color: var(--color-text--tertiary);
}
