.root {
  display: flex;
  flex-direction: row;
  gap: var(--gap--m);
  align-items: center;

  padding: var(--space--10) var(--space--12);
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  color: var(--color-highlight);
  font-size: var(--font-size--12);
  background-color: var(--color-default);

  --border-color: transparent;
  --border-radius: var(--border-radius--4);
}

.label {
  font: var(--font-body);
  font-weight: 800;
  font-size: var(--font-size--12);
  line-height: var(--line-height--14);
}

.icon {
  line-height: var(--line-height--10);
  transform: rotate(30deg);
}
