.root {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;

  padding: 0.625em 0.75em;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  color: var(--color-highlight);
  font-size: var(--font-size-smaller);
  background-color: var(--color-default);

  --border-color: transparent;
  --border-radius: 0.25em;
}

.label {
  font: var(--font-body);
  font-weight: 800;
  line-height: var(--line-height-smaller);
}

.icon {
  line-height: var(--line-height-tiny);
  transform: rotate(30deg);
}
