/* Common PackageCard styles */
.packageCard {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: var(--size-m);
  align-items: flex-start;

  width: 248px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.packageCard:hover {
  box-shadow: 0 var(--size-xs) var(--text-xxxl) var(--size-tiny) #000000a6;
}

.packageCardImageWrapper {
  max-height: 248px;
  overflow: clip;
}

.packageCard:hover * img {
  position: relative;
  left: -32px;
  min-width: 311px;
  margin-top: -16px;
}

.packageCardContent {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: var(--size-s);
  padding: 0 var(--size-m);
}

/* Styles for PackageCard's image */
.packageCardImage {
  width: 100%;
}

/* Styles for PackageCard's Package name (title) */
.packageCardPackageName {
  color: var(--color-text--default);
  font-weight: 700;
  font-size: var(--size-m);
  font-family: Sora, sans-serif;
  line-height: var(--text-xl);
}

/* Styles for PackageCard's Author */
.packageCardAuthor {
  font-size: var(--text-xs);
  font-family: Inter, sans-serif;
  line-height: var(--text-m);
}

.packageCardAuthor_author {
  color: var(--color-cyber-green);
  font-weight: 700;
  text-decoration: none;
}

.packageCardAuthor_prefix {
  color: var(--color-text--tertiary);
  font-weight: 400;
}

/* Styles for PackageCard's description */
.packageCardDescription {
  max-height: 3rem;
  overflow: hidden;
  color: var(--color-text--secondary);
  font-weight: 400;
  font-size: var(--text-s);
  font-family: Inter, sans-serif;
  line-height: var(--text-xxl);

  text-overflow: ellipsis;
}

/* Styles for PackageCard's "Last updated" info */
.packageCardLastUpdated {
  color: var(--color-text--tertiary);
  font-weight: 400;
  font-size: var(--text-xs);
  font-family: Inter, sans-serif;
  line-height: var(--text-m);
}

.packageCardFooter {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: var(--size-m);
  padding: 0 var(--size-m) var(--size-m)  var(--size-m);
}

.packageCardCategoryWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--size-tiny);
  align-items: flex-start;
}

.packageCardMetaItemWrapper {
  display: flex;
  flex-direction: row;
  gap: var(--size-m);
  align-items: flex-start;
}

/* Different PackageCard variations */
.packageCard__default {
  background-color: var(--color-surface--1);
}
