.root {
  display: flex;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-width: 32px;
  height: 32px;
  margin: auto 4px;
  padding: 0 12px;
  border-radius: 16px;
  color: rgb(0 0 0 / 0.87);
  font-size: 13px;
  line-height: 1.43;
  letter-spacing: 0.01em;
  text-align: center;
}

.dots {
  color: var(--text-primary);
}

.dots:hover {
  background-color: transparent;
  cursor: default;
}

.item:hover {
  background-color: rgb(0 0 0 / 0.04);
  cursor: pointer;
}

.selected {
  background-color: rgb(0 0 0 / 0.08);
}

.arrow::before {
  position: relative;

  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-top: 0.12em solid rgb(0 0 0 / 0.87);
  border-right: 0.12em solid rgb(0 0 0 / 0.87);

  /* top: 3pt;
  Uncomment this to lower the icons as requested in comments */
  content: "";
}

.leftArrow {
  transform: rotate(-135deg) translate(-50%);
}

.rightArrow {
  transform: rotate(45deg);
}

.disabled {
  pointer-events: none;
}

.disabled:hover {
  background-color: transparent;
  cursor: default;
}
