.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap-3xs);
  align-items: center;
  justify-content: center;
  min-width: 2.25em;
  min-height: 2.25em;

  padding: var(--padding-3xs) var(--padding-xs);
  border-radius: var(--border-radius-3xs);
  color: var(--color-text--secondary);
  background-color: var(--bg-color);

  --bg-color: var(--color-surface--3);
}

.label {
  font: var(--font-body);
  font-weight: var(--font-weight-500);
  line-height: var(--line-height-l);
}

.button__default {
  --bg-color: var(--color-surface--1);
}

.button__default:hover {
  --bg-color: var(--color-surface--3);
}

.button__default_selected {
  --bg-color: #40328b;
}
