.root {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;

  width: 407px;
  height: 36px;
  padding: 0;
}

.disabled {
  pointer-events: none;
}

.disabled:hover {
  background-color: transparent;
  cursor: default;
}
