.root {
  display: flex;
}

.label {
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap--tiny);
  padding: var(--space--8);
  border-radius: var(--border-radius--8);
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow-default);
}

.content [data-highlighted] {
  z-index: 999;
}

/* Different Select color schemes */
.content__default {
  --text-color: var(--color-white);
  --bg-color: var(--color-default);
}

.content__defaultDark {
  --text-color: var(--color-white);
  --bg-color: var(--color-default-dark);
}

.content__primary {
  color: var(--color-black);
  background-color: var(--color-highlight);
}
