.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size-11xl);
  height: var(--size-3xl);
  border-radius: var(--border-radius-15xl);
  background-color: var(--color-default-purple--4);
}

.root:hover {
  background-color: var(--color-default-purple--5);
}

.root[data-state="checked"] {
  border-radius: var(--border-radius-13xl);
  background-color: var(--color-cyber-green--40);
}

.thumb {
  width: var(--size-m);
  height: var(--size-m);
  border-radius: var(--border-radius-14xl);
  background-color: var(--color-text--tertiary);
  transition: 0.4s;
}

.root[data-state="unchecked"] .thumb {
  border-radius: var(--border-radius-13xl);
  transform: translateX(-0.5rem);
}

.root[data-state="checked"] > .thumb {
  background-color: var(--color-text--default);
  transform: translateX(0.5rem);
}
