/* Common Tag styles */
.tag {
  display: flex;
  flex: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border: 2px solid;
  border-color: var(--border-color);
  border-radius: var(--border-radius-l);
  color: var(--text-color);
  background-color: var(--bg-color);

  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--2);
  --border-color: transparent;
}

.tag:hover {
  --bg-color: var(--color-surface--0);
  --border-color: var(--color-border-3);
}

/* Different Tag sizes */

.small {
  gap: var(--gap-tiny);
  padding: var(--padding-tiny) var(--padding-xxs);
  font: var(--font-inter);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-xxs);
}

.medium {
  gap: var(--gap-tiny);
  padding: var(--padding-xxs) var(--text-xs);
  font: var(--font-inter);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-xs);
}

.large {
  gap: var(--gap-xxs);
  padding: var(--padding-xs) var(--text-xs);
  font: var(--font-inter);
  font-weight: var(--font-weight-bold);
  font-size: var(--text-m);
}

/* Styles for Tag's text */
.tagLabel {
  text-transform: uppercase;
}

/* Styles for Tag's Icons */
.tagIcon {
  color: var(--color-border-3);
  line-height: var(--text-s);
}

/* Different Tag color schemes */
.tag__default:hover > .tagIcon {
  color: var(--color-red);
}
