/* Common Tag styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;

  gap: var(--size-0-625);
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-color: var(--border-color);
  border-radius: 999em;
  color: var(--text-color);

  font: var(--font-body);
  font-weight: var(--font-weight-700);
  background-color: var(--bg-color);

  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--2);
  --border-color: transparent;

  cursor: default;
}

.root:hover {
  --bg-color: var(--color-surface--0);
  --border-color: var(--color-border-3);
}

/* Different Tag sizes */

.small {
  padding: var(--size-0-250) var(--size-0-625);
  font-size: var(--size-0-625);
}

.medium {
  padding: var(--size-0-375) var(--size-0-750);
  font-size: var(--size-0-750);
}

/* Styles for Tag's text */
.label {
  text-transform: uppercase;
}

/* Styles for Tag's Icons */
.icon {
  color: var(--color-border-3);
}

/* TODO: This css rule will change all icons to red, not just the x one
    shown when isBoolean is true. Would be good to revisit when building
     that functionality. This will become relevant once the package list
      filtering is taken under construction. */

/* Different Tag color schemes */
.tag__removable:hover > .icon {
  color: var(--color-red);
  cursor: pointer;
}

.tag__default {
  --bg-color: var(--color-surface--2);
}
