/* Common textInput styles */
.root {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: var(--gap-m);
  align-items: center;

  padding: var(--padding-xs) var(--padding-m);
  border: var(--size-6xs) solid var(--color-default-purple--3);
  border-radius: var(--border-radius-3xs);
  color: var(--color-text--tertiary);
  background-color: var(--color-default-purple--3);
}

.root:hover {
  border: var(--size-6xs) solid var(--color-default-purple--6);

  border-color: var(--color-default-purple--6);
}

.root:focus-within {
  border: var(--size-6xs) solid var(--color-default-purple--8);
  border-color: var(--color-default-purple--6);
  background-color: var(--color-default-purple--2);
}

.inputIcon {
  display: flex;
  align-items: center;
  background-color: inherit;
}

.rootClear {
  display: flex;
  align-items: center;
  color: var(--color-default-purple--8);
  background-color: inherit;
}

.textInput {
  flex-grow: 1;
  color: var(--color-text--default);
  background-color: inherit;
}

.textInput::placeholder {
  color: var(--color-text--tertiary);
  opacity: 1; /* Firefox */
}

.textInput::-ms-input-placeholder {
  color: var(--color-text--tertiary);
}

/* Different TextInput sizes */

.small {
  padding: var(--padding-3xs) var(--padding-xs);
}
