/* Common textInput styles */
.root {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: var(--gap-m);
  align-items: center;

  padding: 0.75rem 1rem;
  border: 2px solid var(--color-default-purple--3);
  border-radius: 0.5rem;
  color: var(--color-text--tertiary);
  font-weight: 400;
  font-family: Inter, sans-serif;
  background-color: var(--color-default-purple--3);
}

.root:hover {
  border: 2px solid var(--color-default-purple--6);

  --bg-color: var(--color-surface--4);

  border-color: var(--color-default-purple--6);
}

.root:focus-within {
  border: 2px solid var(--color-default-purple--8);
  border-color: var(--color-default-purple--6);
  background-color: #030305;
}

.leftIcon {
  background-color: inherit;
}

.rightIcon {
  background-color: inherit;
}

.rootClear {
  color: var(--color-default-purple--8);
  background-color: inherit;
}

.root > input {
  flex-grow: 1;
  color: var(--color-text--default);
  background-color: inherit;
}

.root > input::placeholder {
  color: var(--color-text--tertiary);
  opacity: 1; /* Firefox */
}

.root > input::-ms-input-placeholder {
  color: var(--color-text--tertiary);
}

/* Different TextInput sizes */

.root__small {
  padding: 0.5rem 0.75rem;
}
