@layer components {
  .tabs__overflow-wrapper {
    display: flex;
    flex: 1 1 0;
    align-self: stretch;
    max-width: 100%;
    min-height: 50px;
    overflow-x: scroll;
  }

  .tabs {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    align-self: stretch;
    height: calc(var(--tabs-height) - var(--tabs-border-bottom-width));
    border-bottom: var(--tabs-border-bottom-width)
      var(--tabs-border-bottom-style) var(--tabs-border-bottom-color);
  }

  .tabs__item {
    position: relative;
    display: inline-flex;
    flex-shrink: 0;
    gap: var(--tabs-item-gap);
    align-items: center;
    justify-content: center;

    height: var(--tabs-item-height);
    padding: var(--tabs-item-padding);
    border-bottom: var(--tabs-item-border-bottom-width)
      var(--tabs-item-border-bottom-style) var(--tabs-item-border-bottom-color);
    color: var(--tabs-item-color);
    font-weight: var(--tabs-item-font-weight);
    font-size: var(--tabs-item-font-size);
    line-height: normal;

    --icon-color: var(--tabs-item-icon-color);

    &.tabs__item--current {
      pointer-events: none;
    }
  }

  .tabs__number-slate {
    display: flex;
    gap: var(--tabs-item-number-slate-gap);
    align-items: center;
    justify-content: center;
    padding: var(--tabs-item-number-slate-padding);
    border-radius: var(--tabs-item-number-slate-border-radius);
    color: var(--tabs-item-number-slate-color);
    background-color: var(--tabs-item-number-slate-background-color);
  }
}
