.display {
  font-weight: 700;
  font-family: inter, sans-serif;
  font-style: normal;
  line-height: normal;
}

h1.display {
  font-weight: var(--font-weight-heavy);
  font-size: calc(var(--space--54) * var(--scaling, 1));
  font-family: Hubot-Sans, sans-serif;
  line-height: 115%; /* 62.1px */
}

h2.display {
  font-weight: var(--font-weight-heavy);
  font-size: calc(var(--space--51) * var(--scaling, 1));
  font-family: Hubot-Sans, sans-serif;
}

h3.display {
  font-weight: 700;
  font-size: calc(var(--space--38) * var(--scaling, 1));
  font-family: Hubot-Sans, sans-serif;
}

h4.display {
  font-size: calc(var(--space--16) * var(--scaling, 1));
}

h5.display {
  font-size: calc(var(--space--14) * var(--scaling, 1));
}

h6.display {
  font-size: calc(var(--space--12) * var(--scaling, 1));
}
