.heading {
  font-weight: 700;
  font-family: inter, sans-serif;
  font-style: normal;
  line-height: normal;
}

.heading[data-stylelevel="1"] {
  font-weight: var(--font-weight-heavy);
  font-size: var(--space--54);
  font-family: Hubot-Sans, sans-serif;
  line-height: 115%; /* 62.1px */
}

.heading[data-stylelevel="2"] {
  font-size: var(--space--32);
  line-height: 140%; /* 44.8px */
}

.heading[data-stylelevel="3"] {
  font-size: var(--space--20);
}

.heading[data-stylelevel="4"] {
  font-size: var(--space--16);
}

.heading[data-stylelevel="5"] {
  font-size: var(--space--14);
}

.heading[data-stylelevel="6"] {
  font-size: var(--space--12);
}
