.heading {
  font-weight: 700;
  font-family: inter, sans-serif;
  font-style: normal;
  line-height: normal;
}

h1.heading {
  font-weight: var(--font-weight-heavy);
  font-size: var(--space--54);
  font-family: Hubot-Sans, sans-serif;
  line-height: 115%; /* 62.1px */
}

h2.heading {
  font-size: var(--space--32);
  line-height: 140%; /* 44.8px */
}

h3.heading {
  font-size: var(--space--20);
}

h4.heading {
  font-size: var(--space--16);
}

h5.heading {
  font-size: var(--space--14);
}

h6.heading {
  font-size: var(--space--12);
}
