/* Wrapper, not necessary */
.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper svg,
.icon {
  display: flex;

  flex-shrink: 0;
  fill: currentcolor;
  stroke: currentcolor;
  block-size: 100%;
  inline-size: auto;
  min-inline-size: 100%;

  stroke-width: 0;
}

.inline {
  display: inline-flex;
  height: 1em;
  min-inline-size: 1em;
}
