@layer nimbus-layout {
  .package-format-docs {
    gap: var(--gap-xxxxxl);
  }

  .package-format-docs__green {
    color: var(--old--color-cyber-green-60);
  }

  .package-format-docs__table-wrapper {
    display: flex;
    overflow-x: scroll;
  }
}
