.root {
  display: flex;
  flex-direction: column;
  gap: var(--space--12);
}

.image {
  aspect-ratio: 3 / 4;
}

.title {
  width: 75%;
  height: var(--space--18);
}

.meta {
  height: var(--font-size--m);
}
