.root {
  display: flex;
  flex-direction: column;
  gap: var(--space--12);
}

.root:hover .imageWrapper {
  filter: brightness(1.15);
}

.root:hover .imageWrapper > div {
  transform: scale(1.05);
}

.title {
  overflow: hidden;
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--l);
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.metaItemList {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  margin-top: auto;
}
