.root {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  border-radius: var(--border-radius--8);
  overflow: hidden;
  transition: 0.2s;
  aspect-ratio: 3 / 4;
}

.root:hover .imageWrapper {
  filter: brightness(1.15);
}

.image {
  position: absolute;
  object-fit: cover;
  transition: 0.2s;
  aspect-ratio: 3 / 4;

  --transform-translate: translate(0);
}

.root:hover .image {
  transform: var(--transform-translate) scale(1.05);
}

.title {
  padding-top: var(--space--12);
  color: var(--color-text--default);
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: normal;
}

.metaItemList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: var(--space--12);
}
