.root {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  border-radius: var(--border-radius--8);
  overflow: hidden;
  transition: 0.2s;
  aspect-ratio: 3 / 4;
}

.root:hover .imageWrapper {
  filter: brightness(1.15);
}

.image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  transition: 0.2s;
  aspect-ratio: 3 / 4;

  --transform-translate: translate(0);
}

.root:hover .image {
  transform: var(--transform-translate) scale(1.05);
}

.title {
  max-height: calc(var(--font-size--l) + var(--space--12));
  padding-top: var(--space--12);
  overflow: hidden;
  color: var(--color-text--default);
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.metaItemList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
  padding-top: var(--space--12);
}
