.root {
    display: flex;
    flex-direction: column;
    gap: var(--space--12);
  }
  
 /*  .card {
  height: 470px;
  width: 248px;
  background-color: #191B38;
  gap: 16px;
  border-radius: var(--border-radius--8);
  }
 */
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius--8);
    overflow: hidden;
    color: var(--color-purple--9);
    background-color: red;
  }
  

  .title {
background-color: blue;
  }

  .meta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    background-color: green;
  }
  