@layer components {
  .container {
    container-type: inline-size;
    flex: 0 1 auto;
    width: min(100%, var(--container-width));
    margin-inline: auto;
    padding-inline: var(--container-padding);
    padding-bottom: 4rem;
  }

  .container:where([data-size="wide"]) {
    --container-width: 120rem;
  }

  .container:where([data-size="default"]) {
    --container-width: 90rem;
  }
}
