@layer components {
  .container {
    width: min(100%, var(--container-max-width));
    max-width: var(--container-max-width);
    margin-inline: auto;
    padding: var(--space-16) var(--space-16) 4rem;
  }

  .container:where([data-size="wide"]) {
    --container-max-width: 120rem;
  }

  .container:where([data-size="narrow"]) {
    --container-max-width: 90rem;
  }

  .container:where([data-size="full"]) {
    width: 100%;
    max-width: none;
  }
}
