.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 300px;
  padding: var(--space--12) var(--space--16);
  border: var(--border-width--2) solid var(--border-color);

  border-radius: var(--border-radius--8);
  font-weight: var(--font-weight-medium);

  font-size: var(--font-size--l);
  font-family: "Courier New", monospace;
  line-height: var(--line-height--l);
  background-color: var(--color-surface--4);
  resize: vertical;

  --border-color: transparent;
}

.root:hover {
  --border-color: var(--color-border--highlight);
}

.root:focus-within {
  color: var(--color-text--default);
  background-color: var(--color-black);

  --border-color: var(--color-border--highlight);
}

.root::placeholder {
  color: var(--color-text--tertiary);
}
