.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 9rem;
  height: 2rem;

  font-size: 0.875rem;
  font-weight: 700;

  border: 1px solid var(--color-babyblue);
  background: #202941;
  color: var(--color-babyblue);
}
