.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0.3em 1em;
  border: 1px solid var(--color-babyblue);

  font-size: 0.875rem;
  font-weight: 700;

  background: var(--bg-regular);
  color: var(--color-babyblue);
}
