.externalLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body-md);
}

.focus:not([data-highlighted]) a svg {
  color: var(--color-text-tertiary);
}

.root {
  min-width: 14rem;
}

.link {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body-md);
}
