.root {
  width: 100%;
  height: 100%;
}

.desktopNavRoot {
  position: sticky;
  top: 0;
  z-index: 99999;
  display: flex;
  gap: var(--gap--32);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--space--12);
  background: var(--body-bg-color-a);
  background-color: rgb(16 16 40 / 0.85);
  box-shadow: 0 1px 10px 0 var(--body-bg-color);
  backdrop-filter: blur(10px);
}

.item {
  display: flex;
  gap: var(--gap--16);
  align-items: center;
}

.search {
  display: flex;
  flex: 1 2 100%;
  justify-content: center;
}

.logoWrapper {
  display: flex;
  width: 1.655rem;
  height: 1.463rem;
  margin: 0 0.75rem;
}

.dropDownItem {
  display: flex;
  gap: var(--space--16);
  align-items: center;

  --dropdown-item-color: var(--color-primary) !important;
}

.dropDownUserInfo {
  display: flex;
  gap: var(--gap--16);
  padding: var(--space--6) var(--space--16);
}

.dropdownUserInfoDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mobileNavRoot {
  display: none;
}

.mobileNavItemIconWrapper {
  height: 1.75rem;
  background: transparent;
}

.mobileNavMenuDevelopersButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  padding: 1rem;
  color: #f5f5f6;
  font-weight: 400;
  font-size: 0.875rem;
  background: transparent;
}

.mobileNavMenuDevelopersButtonIcon {
  height: 0.875rem;
}

.mobileNavItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  color: #9c9cc4;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.accountPopoverItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  padding: 1rem;
}

.accountPopoverUser {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  padding: 1rem;
}

.mobileNavPopover {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobileNavPopoverListLink {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  padding: 1rem;
}

.popoverCloseButton {
  width: 2.75rem;
  height: 2.875rem;
  padding: 0 0.75rem;
  background: transparent;
}

.TSLoginLogo {
  width: 3.12rem;
  height: 2.79rem;
}

.loginTitle {
  text-align: center;
}

.loginList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 300px;
}

.loginLinkList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.loginLink {
  display: flex;
  flex: 1 0 0;
  gap: 2.5rem;
  align-items: center;
  padding: 0.75rem 3rem 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #f5f5f6;
}

.loginLinkDiscord {
  background: #5865f2;
}

.loginLinkGithub {
  background: #333;
}

.loginLinkOverwolf {
  background: #d34037;
}

.loginLegalText {
  text-align: center;

  --text-color: #8683be;
}

@media (width <= 63.5rem) {
  .desktopNavRoot {
    display: none;
  }

  .mobileNavRoot {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.5rem 1.5rem 0.25rem;
    background: rgb(16 16 40 / 0.85);
    backdrop-filter: blur(10px);
  }
}

.getAppButton {
  padding: 0.75rem 0.812rem;
}

.loginButton {
  height: 2.25rem;
  padding: 0.75rem;
}

.headerRightSide {
  display: flex;
  gap: 1rem;
}
