@layer nimbus-layout {
  .nimbus-nav-header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-shrink: 0;
    gap: var(--gap-md);
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    height: var(--header-height, 64px);
    padding: 5px 0;
    overflow-x: auto;

    > .__global {
      display: flex;
      flex-shrink: 0;
      gap: var(--gap-xs);
      align-items: center;
      align-self: stretch;

      > .__logo {
        display: flex;
        flex-shrink: 0;
        gap: var(--gap-sm);
        align-items: center;
        align-self: stretch;
        justify-content: center;
        padding: 0 var(--space-20);

        > svg {
          width: 26.479px;
          height: 23.4px;
        }
      }

      > .__main {
        display: flex;
        flex-direction: row;
        gap: var(--gap-md);
        align-items: center;
      }
    }

    > .__user {
      display: flex;
      flex-shrink: 0;
      gap: var(--gap-md);
      align-items: center;
      justify-content: flex-end;
      padding-right: var(--space-12);

      > .__extra {
        display: flex;
        gap: var(--gap-xs);
        align-items: center;
      }

      > .__profile-actions {
        display: flex;
        gap: var(--gap-xs);
        align-items: flex-start;
      }
    }
  }

  /* Mobile breakpoint */
  @media (width <= 475px) {
    .nimbus-nav-header {
      display: none;
    }
  }
}
