.root {
  width: 100%;
  height: 100%;
}

.desktopNavRoot {
  position: sticky;
  top: 0;
  z-index: 99999;
  display: flex;
  gap: var(--gap--32);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--header-height);
  background-color: rgb(16 16 40 / 0.85);
  backdrop-filter: blur(10px);
}

.item {
  display: flex;
  flex: 2 1 100%;
}

.item:last-child {
  justify-content: flex-end;
  padding-right: 0.75rem;
}

.nav {
  display: flex;
  gap: var(--gap--16);
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search {
  display: flex;
  flex: 1 2 100%;
  justify-content: center;
}

.logoWrapper {
  display: flex;
  width: 1.655rem;
  height: 1.463rem;
  margin: 0 0.75rem 0 1.25rem;
  color: var(--color-highlight);
}

.navButtons {
  display: flex;
  gap: var(--space--8);
}

.dropDownUserInfo {
  display: flex;
  gap: var(--gap--16);
  margin: 0 var(--space--8);
  padding: var(--space--8) var(--space--16);
  border-radius: var(--border-radius--8);
}

.dropDownUserInfo:hover {
  background-color: var(--color-surface--6);
}

.dropdownUserInfoDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropdownUserInfoDetails_userName {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  line-height: 1;
}

.dropdownUserInfoDetails_description {
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
  line-height: 1;
}

.mobileNavRoot {
  display: none;
}

.mobileNavItemIconWrapper {
  height: 1.75rem;
  background: transparent;
}

.mobileNavMenuDevelopersButton {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  padding: 1rem;
  color: #f5f5f6;
  font-weight: 400;
  font-size: 0.875rem;
  background: transparent;
}

.mobileNavMenuDevelopersButtonIcon {
  height: 0.875rem;
}

.mobileNavItem {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  color: #9c9cc4;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.mobileNavAccountPopoverRoot {
  width: 100%;
  height: 100%;
}

.mobileNavAccountPopoverWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  padding-top: 7rem;
  background: #15152d;
}

.mobileNavAccountPopoverItem {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  padding: 1rem;
}

.mobileNavPopoverList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mobileNavPopoverListLink {
  display: flex;
  gap: 1rem;
  align-items: center;
  align-self: stretch;
  padding: 1rem;
  color: #f5f5f6;
  font-weight: 400;
  font-size: 0.875rem;
}

.popoverCloseButton {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 1.5rem;
  background: transparent;
}

.navAccountPopoverCloseButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  color: #635a9f;
  font-weight: 900;
  font-size: 1rem;
  background: transparent;
}

.popoverCloseButtonIcon {
  color: #635a9f;
  font-weight: 900;
  font-size: 1rem;
}

.mobileTSLoginLogo {
  width: 3.12rem;
  height: 2.79rem;
}

.mobileTSLoginLogo > svg {
  fill: var(--color-cyber-green--60);
}

.mobileLoginTitle {
  color: #f5f5f6;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}

.mobileLoginList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.mobileLoginLinkList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.loginLink {
  display: flex;
  flex: 1 0 0;
  gap: 2.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #f5f5f6;
  font-weight: 700;
  font-size: 0.875rem;
}

.loginLinkDiscord {
  background: #5865f2;
}

.loginLinkGithub {
  background: #333;
}

.loginLinkOverwolf {
  background: #d34037;
}

.navAccountPopoverRoot {
  position: fixed;
  top: 50%;
  left: 50%;
  float: left;
  border: 1px solid #29295b;
  border-radius: 0.5rem;
  background: #15152d;
  transform: translate(-50%, -50%);
}

.navAccountPopoverWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
  padding: 3rem 5.5rem;
  background: transparent;
}

.navAccountPopoverCloseButtonIconWrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  color: #635a9f;
  font-weight: 900;
  font-size: 1rem;
}

@media (max-width: 63.5rem) {
  .desktopNavRoot {
    display: none;
  }

  .mobileNavRoot {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0.5rem 1.5rem 0.25rem;
    background: rgb(16 16 40 / 0.85);
    backdrop-filter: blur(10px);
  }
}
