.root {
  overflow: scroll;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.root::-webkit-scrollbar {
  display: none;
}

.image {
  height: 80px;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius--8);
}

.title {
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.description {
  color: var(--color-text--tertiary);
  font-weight: 500;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.item {
  display: flex;
  gap: var(--gap--24);
  padding: var(--space--16) var(--space--32);
}

.item:hover {
  gap: var(--gap--24);
  padding: var(--space--16) var(--space--32);
  background-color: var(--color-surface--5);
}

.preferredVersion {
  padding-top: var(--space--6);
  color: var(--color-text--accent);
  font-weight: 500;
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
}

.preferredVersion__version {
  color: var(--color-highlight);
  font-weight: 500;
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
}
