@layer nimbus-components {
  .nimbus-commonComponents-listingDependency {
    display: flex;
    gap: var(--gap-xl);
    align-items: flex-start;
    width: 100%;
    padding: var(--space-16);
    border-radius: var(--radius-md);
    background: var(--surface-dim);
  }

  .nimbus-commonComponents-listingDependency__image {
    flex-shrink: 0;
    width: 80px;
  }

  .nimbus-commonComponents-listingDependency-info {
    display: flex;
    gap: var(--radius-md);
    align-items: center;
    align-self: stretch;
  }

  .nimbus-commonComponents-listingDependency-info__name {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-md);
  }

  .nimbus-commonComponents-listingDependency-info-title {
    display: flex;
    gap: var(--gap-xxs);
    align-items: center;
    align-self: stretch;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .nimbus-commonComponents-listingDependency-info-title__by {
    color: var(--color-text-tertiary);
  }

  .nimbus-commonComponents-listingDependency-description {
    align-self: stretch;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-regular);

    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .nimbus-commonComponents-listingDependency-version {
    display: flex;
    gap: 4px;
    align-items: flex-start;
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-lg);
  }
}
