.content {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  margin: var(--page-margin-top) var(--page-margin);
}

.specialContent {
  height: 25rem;
  border-radius: 2.5rem;
  background-color: var(--color-surface--2);
}

.cardContent {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
}

.mediumContent {
  height: 12rem;
  background-color: var(--color-surface--2);
}

.smallContent {
  height: 10rem;
  background-color: var(--color-surface--2);
}
