@layer theme-utils {
  @font-face {
    font-weight: 400;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Regular.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 500;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Medium.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 600;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-SemiBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 700;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-Bold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 800;
    font-family: Inter;
    font-style: normal;
    src: url("Inter-ExtraBold.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 400;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-Italic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 500;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-MediumItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 600;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-SemiBoldItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 700;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-BoldItalic.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-weight: 800;
    font-family: Inter;
    font-style: italic;
    src: url("Inter-ExtraBoldItalic.woff2") format("woff2");
    font-display: swap;
  }
}
