/* Default variant styles */
.grid__Table {
  display: grid;
  border: 1px solid #333370;
  border-radius: 0.5rem;
  overflow-x: auto;
}

.grid__Headers {
  display: grid;
  grid-template-columns: var(
    --dynamic-grid-template-columns,
    repeat(var(--column-count, auto-fit), minmax(1rem, 1fr))
  );
}

.grid__Headers div:last-child {
  border-right: none;
}

.grid__Header {
  display: flex;

  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0.75rem 1rem;
  border-right: 1px solid #333370;
  border-bottom: 1px solid #333370;
  color: #c6c3ff;
  font-weight: var(--font-weight-bold);
  font-size: 1rem;
  font-style: normal;
  line-height: 1.6rem;
  background: #1f1f42;
}

.grid__Rows {
  display: grid;
}

.grid__Row {
  display: grid;
  grid-template-columns: var(
    --dynamic-grid-template-columns,
    repeat(var(--column-count, auto-fit), minmax(1rem, 1fr))
  );
  border-bottom: 1px solid #333370;
}

.grid__Row:last-child {
  border-bottom: none;
}

.grid__Row:nth-child(even) {
  background-color: #15152d;
}

.grid__Row:hover {
  background-color: #191b38;
  transition: var(--animation-length-xs);
}

.grid__Cell {
  display: flex;
  align-items: center;
  padding: var(--space--12) var(--space--16);
  border-right: 1px solid #333370;
  color: #fff;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  font-style: normal;
  line-height: 1.6rem;
}

.grid__Row .grid__Cell:last-child {
  border-right: none;
}

/* ItemList variant styles */
.grid__Table_ItemList {
  display: grid;
  overflow: hidden;
}

.grid__Headers_ItemList {
  display: grid;
  grid-template-columns: repeat(
    var(--column-count, auto-fit),
    minmax(1rem, 1fr)
  );
}

.grid__Header_ItemList {
  display: flex;
  flex-direction: row;
  gap: var(--space--12);
  width: fit-content;
  margin: 0 var(--space--24) var(--space--16) var(--space--24);
  border-radius: var(--border-radius--8);
  color: var(--color-text--accent);
  font-weight: var(--font-weight-bold);
  font-size: var(--space--14);
  line-height: normal;
}

.grid__Header_ItemList:hover {
  background-color: var(--color-surface--4);
}

.grid__Rows_ItemList {
  display: grid;
  gap: 2px;
}

.grid__Rows_ItemList > div:first-child {
  border-top-left-radius: var(--border-radius--8);
  border-top-right-radius: var(--border-radius--8);
}

.grid__Rows_ItemList > div:last-child {
  border-bottom-right-radius: var(--border-radius--8);
  border-bottom-left-radius: var(--border-radius--8);
}

.grid__Row_ItemList {
  display: grid;
  grid-template-columns: repeat(
    var(--column-count, auto-fit),
    minmax(1rem, 1fr)
  );
  background-color: var(--color-surface--3);
}

.grid__Row_ItemList:hover {
  background-color: var(--color-surface--5);
}

.grid__Cell_ItemList {
  display: flex;
  align-items: center;
  padding: var(--space--16) var(--space--24);
  color: var(--color-text--secondary);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height--l);
}

.grid__Row_ItemList .grid__Cell_ItemList:first-child {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
}

/* ItemListSmall variant styles */
.grid__Table_ItemListSmall {
  display: grid;
  overflow: hidden;
  font-size: 0.875rem;
}

.grid__Headers_ItemListSmall {
  display: grid;
  grid-template-columns: repeat(
    var(--column-count, auto-fit),
    minmax(1rem, 1fr)
  );
}

.grid__Header_ItemListSmall {
  display: flex;
  flex-direction: row;
  gap: var(--space--12);
  width: fit-content;
  margin: 0 var(--space--24) var(--space--8) var(--space--24);
  border-radius: var(--border-radius--8);
  color: var(--color-text--accent);
  font-weight: var(--font-weight-bold);
  font-size: var(--space--14);
  line-height: 1.7;
}

.grid__Rows_ItemListSmall {
  display: grid;
  gap: 2px;
}

.grid__Rows_ItemListSmall > div:first-child {
  border-top-left-radius: var(--border-radius--8);
  border-top-right-radius: var(--border-radius--8);
}

.grid__Rows_ItemListSmall > div:last-child {
  border-bottom-right-radius: var(--border-radius--8);
  border-bottom-left-radius: var(--border-radius--8);
}

.grid__Row_ItemListSmall {
  display: grid;
  grid-template-columns: repeat(
    var(--column-count, auto-fit),
    minmax(1rem, 1fr)
  );
  background-color: #191b38;
}

.grid__Row_ItemListSmall:hover {
  background-color: var(--color-surface--5);
}

.grid__Cell_ItemListSmall {
  display: flex;
  align-items: center;
  padding: 0.425rem var(--space--24);
  color: var(--color-text--secondary);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height--l);
}

.grid__Row_ItemListSmall .grid__Cell_ItemListSmall:first-child {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
}

/* Sorting Icon styles */

.buttonIcon {
  color: hsl(240deg 25% 69% / 0.3);
  font-size: var(--font-size--s);
}

.buttonIconActive {
  color: hsl(240deg 25% 69%);
  font-size: var(--font-size--s);
}
