@layer theme-components {
  /* DROPDOWN ROOT */
  .dropdown {
    --dropdown-box-shadow: var(--shadow-lg);
    --dropdown-animation: fade-in var(--animation-duration-md) ease;
    --dropdown-border: var(--space-px) var(--dropdown-border-color) solid;
  }

  .dropdown:where(.dropdown--size--medium) {
    --dropdown-border-radius: var(--dropdown-md-border-radius);
    --dropdown-padding: var(--dropdown-md-padding);
    --dropdown-gap: var(--dropdown-md-gap);

    & > *:where(:not(.dropdown__divider)) {
      --dropdown__item-gap: var(--dropdown-item-md-gap);
      --dropdown__item-padding: var(--dropdown-item-md-padding);
      --dropdown__item-font-weight: var(--dropdown-item-md-font-weight);
      --dropdown__item-font-size: var(--dropdown-item-md-font-size);
    }

    & > .dropdown__divider {
      --dropdown__divider-margin: var(--divider-md-margin);
    }
  }

  .dropdown:where(.dropdown--variant--primary) {
    --dropdown-background-color: var(--dropdown-bg-color--default);
    --dropdown-border-color: var(--dropdown-border-color--default);

    & > *:where(:not(.dropdown__divider)) {
      --dropdown__item-background-color: var(--dropdown-item-bg-color--default);
      --dropdown__item-color: var(--dropdown-item-text-color--default);
      --dropdown__item-icon-color: var(--dropdown-item-icon-color--default);
    }

    & > *:where(:not(.dropdown__divider))[data-highlighted] {
      --dropdown__item-background-color: var(--dropdown-item-bg-color--hover);
      --dropdown__item-color: var(--dropdown-item-text-color--hover);
      --dropdown__item-icon-color: var(--dropdown-item-icon-color--hover);
    }

    & > .dropdown__divider:where(.dropdown--variant--primary) {
      --dropdown__divider-height: var(--divider-height);
      --dropdown__divider-background-color: var(--divider-bg-color);
    }
  }

  /* Dropdown Item */
  .dropdown__item:where(.dropdown--danger) {
    --dropdown__item-background-color: var(
      --dropdown-item-danger-bg-color--default
    );
    --dropdown__item-color: var(--dropdown-item-danger-text-color--default);
    --dropdown__item-icon-color: var(
      --dropdown-item-danger-icon-color--default
    );

    &:where(:hover) {
      --dropdown__item-background-color: var(
        --dropdown-item-danger-bg-color--hover
      );
      --dropdown__item-color: var(--dropdown-item-danger-text-color--hover);
      --dropdown__item-icon-color: var(
        --dropdown-item-danger-icon-color--hover
      );
    }
  }

  .dropdown__item:where(.dropdown--disabled) {
    --dropdown__item-background-color: var(
      --dropdown-item-disabled-bg-color--default
    );
    --dropdown__item-color: var(--dropdown-item-disabled-text-color--default);
    --dropdown__item-icon-color: var(
      --dropdown-item-disabled-icon-color--default
    );

    &:where(:hover) {
      --dropdown__item-background-color: var(
        --dropdown-item-disabled-bg-color--hover
      );
      --dropdown__item-color: var(--dropdown-item-disabled-text-color--hover);
      --dropdown__item-icon-color: var(
        --dropdown-item-disabled-icon-color--hover
      );
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  :root {
    --dropdown-md-gap: 0.25rem;
    --dropdown-bg-color--default: var(--color-surface-4);
    --dropdown-border-color--default: var(--color-surface-a6);
    --dropdown-item-bg-color--default: #0000;
    --dropdown-item-bg-color--hover: var(--color-surface-a7);
    --dropdown-item-icon-color--default: var(--color-text-tertiary);
    --dropdown-item-icon-color--hover: var(--color-text-primary);
    --dropdown-item-text-color--default: var(--color-text-primary);
    --dropdown-item-text-color--hover: var(--color-text-primary);
    --dropdown-item-danger-bg-color--default: #0000;
    --dropdown-item-danger-bg-color--hover: var(--color-accent-red-6);
    --dropdown-item-danger-icon-color--default: var(--color-accent-red-7);
    --dropdown-item-danger-icon-color--hover: #fff;
    --dropdown-item-danger-text-color--default: var(--color-accent-red-7);
    --dropdown-item-danger-text-color--hover: #fff;
    --dropdown-item-disabled-bg-color--default: #0000;
    --dropdown-item-disabled-bg-color--hover: #0000;
    --dropdown-item-disabled-icon-color--default: var(--color-text-tertiary);
    --dropdown-item-disabled-icon-color--hover: var(--color-text-tertiary);
    --dropdown-item-disabled-text-color--default: var(--color-text-tertiary);
    --dropdown-item-disabled-text-color--hover: var(--color-text-tertiary);
    --dropdown-md-border-radius: var(--radius-md);
    --dropdown-md-padding: var(--space-4) 0;
    --dropdown-item-md-gap: var(--gap-md);
    --dropdown-item-md-padding: var(--space-12) var(--space-16);
    --dropdown-item-md-font-weight: var(--font-weight-regular);
    --dropdown-item-md-font-size: var(--font-size-body-md);
    --divider-bg-color: var(--color-surface-a6);
    --divider-height: 0.063rem;
    --divider-md-margin: 0.25rem 0rem;
  }
}
