/* Missing tokens */
.ts-dropdown__item:where(.ts-variant--primary) {
  --dropdown__item-padding: var(--space--12) var(--space--16);
  --dropdown__item-color: var(--color-surface--8);
  --dropdown__item-background-color: var(--color-surface--2);
}

.ts-dropdown__item:where(.ts-variant--primary)[data-highlighted] {
  --dropdown__item-highlighted-color: var(--color-surface--2);
  --dropdown__item-highlighted-background-color: var(--color-surface--6);
}
