.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
  color: var(--color-text--default);
}

.antiResultIcon {
  height: 6.5rem;
  color: rgb(99 90 159);
  background: transparent;
}

.antiResultTitle {
  color: #c9c5d8;
  font-weight: var(--font-weight-boldest);

  line-height: 1.6;
  text-align: center;
}

.antiResultMessage {
  color: #9c9cc4;
  font-weight: var(--font-weight-medium);

  line-height: 1.6;
  text-align: center;
}
