.dialogContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.dialogTeamName {
  color: var(--color-highlight);
}

.dialogInput {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  align-items: flex-end;
  width: 100%;
}

.textInput {
  flex-grow: 1;
}

.roleSelect {
  width: 11em;
}

.roleSelect > div > button {
  width: 100%;
}

.userInfo {
  display: flex;
  gap: var(--gap--16);
  align-items: center;
}

.userInfoName {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.description {
  color: var(--color-text--secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.kickDescriptionUserName {
  color: var(--color-highlight);
}
