.dialogContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  margin-bottom: var(--space--16);
  color: var(--color-text--default);
}

.dialogTeamName {
  color: var(--color-highlight);
}

.dialogInput {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  width: 100%;
}

.textInput {
  flex-grow: 1;
}
