@layer theme-components {
  /* theme base styles */
  .card-package {
    --card-package-border-radius: var(--card-package-shared-border-radius);
    --card-package-align-items: var(--card-package-shared-align-items);
    --card-package-transition: var(--card-package-shared-transition);
    --card-package-focus-outline: var(--card-package-shared-focus-outline);
    --card-package-focus-outline-offset: var(
      --card-package-shared-focus-outline-offset
    );
    --card-package--is-liked-icon-color: var(
      --card-package-shared--is-liked-icon-color
    );
    --card-package--title-link-color: var(
      --card-package-shared--title-link-color
    );
    --card-package--title-color: var(--card-package-shared--title-color);
    --card-package--author-font-weight: var(
      --card-package-shared--author-font-weight
    );
    --card-package--prefix-padding-right: var(
      --card-package-shared--prefix-padding-right
    );
    --card-package--prefix-color: var(--card-package-shared--prefix-color);
    --card-package--description-color: var(
      --card-package-shared--description-color
    );
    --card-package--description-font-family: var(
      --card-package-shared--description-font-family
    );
    --card-package--description-font-size: var(
      --card-package-shared--description-font-size
    );
    --card-package--description-font-style: var(
      --card-package-shared--description-font-style
    );
    --card-package--description-font-weight: var(
      --card-package-shared--description-font-weight
    );
    --card-package--description-line-height: var(
      --card-package-shared--description-line-height
    );
    --card-package--tags-gap: var(--card-package-shared--tags-gap);
    --card-package--footer-gap: var(--card-package-shared--footer-gap);
  }

  /* SIZES */
  .card-package:where(.card-package--size--medium) {
    &:where(.card-package--variant--card) {
      --card-package--image-wrapper-border-top-left-radius: var(
        --card-package-md-card--image-wrapper-border-top-left-radius
      );
      --card-package--image-wrapper-border-top-right-radius: var(
        --card-package-md-card--image-wrapper-border-top-right-radius
      );
      --card-package--image-wrapper-border-bottom-left-radius: var(
        --card-package-md-card--image-wrapper-border-bottom-left-radius
      );
      --card-package--image-wrapper-border-bottom-right-radius: var(
        --card-package-md-card--image-wrapper-border-bottom-right-radius
      );
      --card-package--content-padding: var(
        --card-package-md-card--content-padding
      );
      --card-package--content-gap: var(--card-package-md-card--content-gap);
      --card-package--info-gap: var(--card-package-md-card--info-gap);
      --card-package--title-font-size: var(
        --card-package-md-card--title-font-size
      );
      --card-package--title-line-height: var(
        --card-package-md-card--title-line-height
      );
      --card-package--author-font-size: var(
        --card-package-md-card--author-font-size
      );
      --card-package--link-font-weight: var(
        --card-package-md-card--link-font-weight
      );
      --card-package--updated-font-weight: var(
        --card-package-md-card--updated-font-weight
      );
      --card-package--updated-font-size: var(
        --card-package-md-card--updated-font-size
      );
    }

    &:where(.card-package--variant--featured) {
      --card-package--image-wrapper-border-top-left-radius: var(
        --card-package-md-featured--image-wrapper-border-top-left-radius
      );
      --card-package--image-wrapper-border-top-right-radius: var(
        --card-package-md-featured--image-wrapper-border-top-right-radius
      );
      --card-package--image-wrapper-border-bottom-left-radius: var(
        --card-package-md-featured--image-wrapper-border-bottom-left-radius
      );
      --card-package--image-wrapper-border-bottom-right-radius: var(
        --card-package-md-featured--image-wrapper-border-bottom-right-radius
      );
      --card-package--content-padding: var(
        --card-package-md-featured--content-padding
      );
      --card-package--info-gap: var(--card-package-md-featured--info-gap);
      --card-package--title-font-size: var(
        --card-package-md-featured--title-font-size
      );
      --card-package--title-line-height: var(
        --card-package-md-featured--title-line-height
      );
      --card-package--author-font-size: var(
        --card-package-md-featured--author-font-size
      );
      --card-package--link-font-weight: var(
        --card-package-md-featured--link-font-weight
      );
    }

    &:where(.card-package--variant--fullWidth) {
      --card-package-padding: var(--card-package-md-fullwidth-padding);
      --card-package-gap: var(--card-package-md-fullwidth-gap);
      --card-package--image-wrapper-border-top-left-radius: var(
        --card-package-md-fullwidth--image-wrapper-border-top-left-radius
      );
      --card-package--image-wrapper-border-top-right-radius: var(
        --card-package-md-fullwidth--image-wrapper-border-top-right-radius
      );
      --card-package--image-wrapper-border-bottom-left-radius: var(
        --card-package-md-fullwidth--image-wrapper-border-bottom-left-radius
      );
      --card-package--image-wrapper-border-bottom-right-radius: var(
        --card-package-md-fullwidth--image-wrapper-border-bottom-right-radius
      );
      --card-package--content-gap: var(
        --card-package-md-fullwidth--content-gap
      );
      --card-package--title-font-size: var(
        --card-package-md-fullwidth--title-font-size
      );
      --card-package--title-line-height: var(
        --card-package-md-fullwidth--title-line-height
      );
      --card-package--author-font-size: var(
        --card-package-md-fullwidth--author-font-size
      );
      --card-package--link-font-weight: var(
        --card-package-md-fullwidth--link-font-weight
      );
    }

    &:where(.card-package--variant--secondary) {
      --card-package--image-wrapper-border-top-left-radius: var(
        --card-package-md-secondary--image-wrapper-border-top-left-radius
      );
      --card-package--image-wrapper-border-top-right-radius: var(
        --card-package-md-secondary--image-wrapper-border-top-right-radius
      );
      --card-package--image-wrapper-border-bottom-left-radius: var(
        --card-package-md-secondary--image-wrapper-border-bottom-left-radius
      );
      --card-package--image-wrapper-border-bottom-right-radius: var(
        --card-package-md-secondary--image-wrapper-border-bottom-right-radius
      );
      --card-package--content-padding: var(
        --card-package-md-secondary--content-padding
      );
      --card-package--info-max-width: var(
        --card-package-md-secondary--info-max-width
      );
      --card-package--info-gap: var(--card-package-md-secondary--info-gap);
      --card-package--title-font-size: var(
        --card-package-md-secondary--title-font-size
      );
      --card-package--title-line-height: var(
        --card-package-md-secondary--title-line-height
      );
      --card-package--author-font-size: var(
        --card-package-md-secondary--author-font-size
      );
      --card-package--link-font-weight: var(
        --card-package-md-secondary--link-font-weight
      );
    }
  }

  /* VARIANTS DEFAULT STATE */
  .card-package:where(.card-package--variant--card) {
    --card-package-flex-direction: var(--card-package-card-flex-direction);
    --card-package-background-color: var(--card-package-card-background-color);
    --card-package-hover-background-color: var(
      --card-package-card-hover-background-color
    );
    --card-package-hover-box-shadow: var(--card-package-card-hover-box-shadow);
    --card-package--content-flex-direction: var(
      --card-package-card--content-flex-direction
    );
    --card-package--content-align-items: var(
      --card-package-card--content-align-items
    );
    --card-package--content-align-self: var(
      --card-package-card--content-align-self
    );
    --card-package--info-align-self: var(--card-package-card--info-align-self);
    --card-package--updated-color: var(--card-package-card--updated-color);
    --card-package--footer-flex-direction: var(
      --card-package-card--footer-flex-direction
    );
    --card-package--tags-align-items: var(
      --card-package-card--tags-align-items
    );
    --card-package--tags-align-content: var(
      --card-package-card--tags-align-content
    );
  }

  .card-package:where(.card-package--variant--featured) {
    --card-package-flex-direction: var(--card-package-featured-flex-direction);
    --card-package-background-color: var(
      --card-package-featured-background-color
    );
    --card-package-hover-background-color: var(
      --card-package-featured-hover-background-color
    );
    --card-package--content-flex-direction: var(
      --card-package-featured--content-flex-direction
    );
    --card-package--content-align-items: var(
      --card-package-featured--content-align-items
    );
    --card-package--content-flex: var(--card-package-featured--content-flex);
    --card-package--content-align-self: var(
      --card-package-featured--content-align-self
    );
    --card-package--info-align-self: var(
      --card-package-featured--info-align-self
    );
  }

  .card-package:where(.card-package--variant--fullWidth) {
    --card-package-flex-direction: var(--card-package-fullwidth-flex-direction);
    --card-package-background-color: var(
      --card-package-fullwidth-background-color
    );
    --card-package-hover-background-color: var(
      --card-package-fullwidth-hover-background-color
    );
    --card-package-hover-box-shadow: var(
      --card-package-fullwidth-hover-box-shadow
    );
    --card-package--content-flex-direction: var(
      --card-package-fullwidth--content-flex-direction
    );
    --card-package--content-align-items: var(
      --card-package-fullwidth--content-align-items
    );
    --card-package--content-flex: var(--card-package-fullwidth--content-flex);
    --card-package--info-justify-content: var(
      --card-package-fullwidth--info-justify-content
    );
    --card-package--info-align-self: var(
      --card-package-fullwidth--info-align-self
    );
    --card-package--footer-flex-direction: var(
      --card-package-fullwidth--footer-flex-direction
    );
    --card-package--tags-justify-content: var(
      --card-package-fullwidth--tags-justify-content
    );
  }

  .card-package:where(.card-package--variant--secondary) {
    --card-package-flex-direction: var(--card-package-secondary-flex-direction);
    --card-package-background-color: var(
      --card-package-secondary-background-color
    );
    --card-package-hover-background-color: var(
      --card-package-secondary-hover-background-color
    );
    --card-package-hover-box-shadow: var(
      --card-package-secondary-hover-box-shadow
    );
    --card-package--content-flex-direction: var(
      --card-package-secondary--content-flex-direction
    );
    --card-package--content-justify-content: var(
      --card-package-secondary--content-justify-content
    );
    --card-package--content-align-items: var(
      --card-package-secondary--content-flex
    );
    --card-package--content-flex: var(
      --card-package-secondary--content-align-items
    );
    --card-package--content-align-self: var(
      --card-package-secondary--content-align-self
    );
    --card-package--info-justify-content: var(
      --card-package-secondary--info-justify-content
    );
  }
}
