@layer cyberstorm-theme {
  /* theme base styles */
  .switch {
    --switch-transition--default: ease-in-out var(--animation-duration-md);
    --switch-position: relative;
    --switch-display: inline-block;
    --switch-opacity: 1;
    --switch-cursor: pointer;
    --switch-knob-transition: transform var(--switch-transition--default);

    transition:
      background-color var(--switch-transition--default),
      border-color var(--switch-transition--default);

    .switch__knob {
      --switch-knob-display: block;
      --switch-knob-transform: translateX(
        calc(
          ((var(--switch-width) / 2) * -1) + var(--switch-padding) +
            var(--switch-knob-width) / 2
        )
      );

      transition: transform var(--switch-transition--default);
    }

    &:where([data-state="checked"]) .switch__knob {
      --switch-knob-transform: translateX(
        calc(
          ((var(--switch-width) / 2)) - var(--switch-padding) -
            var(--switch-knob-width) / 2
        )
      );
    }

    &:where(.switch--disabled) {
      --switch-opacity: 0.5;
      --switch-cursor: not-allowed;
    }
  }

  /* SIZES */
  .switch:where(.switch--size--small) {
    --switch-knob-sm-radius: 0.875rem;
    --switch-width: 1.875rem;
    --switch-height: 1.25rem;
    --switch-padding: 0.125rem;
    --switch-border-radius: var(--radius-full);
    --switch-border-width: 1px;

    .switch__knob {
      --switch-knob-width: var(--switch-knob-sm-radius);
      --switch-knob-height: var(--switch-knob-sm-radius);
      --switch-knob-border-radius: var(--radius-full);
    }
  }

  .switch:where(.switch--size--medium) {
    --switch-md-knob-radius: 1.25rem;
    --switch-width: 2.75rem;
    --switch-height: 1.75rem;
    --switch-padding: 0.25rem;
    --switch-border-radius: var(--radius-full);
    --switch-border-width: 1px;

    .switch__knob {
      --switch-knob-width: var(--switch-md-knob-radius);
      --switch-knob-height: var(--switch-md-knob-radius);
      --switch-knob-border-radius: var(--radius-full);
    }
  }

  /* VARIANTS DEFAULT STATE */
  .switch:where(.switch--variant--default) {
    --switch-border-color: var(--switch-default-border-color--default);
    --switch-background-color: var(--switch-default-bg-color--default);
    --switch-border-style: solid;

    .switch__knob {
      --switch-knob-background-color: var(
        --switch-default-knob-bg-color--default
      );
      --switch-knob-box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 0.55);
      --switch-knob-border-style: var(
        --switch-default-knob-border-style--default
      );
    }

    &:where(:hover) {
      --switch-border-color: var(--switch-default-border-color--hover);
      --switch-background-color: var(--switch-default-bg-color--hover);
      --switch-border-style: solid;

      .switch__knob {
        --switch-knob-background-color: var(
          --switch-default-knob-bg-color--hover
        );
        --switch-knob-box-shadow: 0px 1px 2px 0px rgb(0 0 0 / 0.55);
        --switch-knob-border-style: var(
          --switch-default-knob-border-style--hover
        );
      }
    }

    &[data-state="checked"] {
      --switch-border-color: var(--switch-default-border-color--active);
      --switch-background-color: var(--switch-default-bg-color--active);
      --switch-border-style: solid;

      .switch__knob {
        --switch-knob-background-color: var(
          --switch-default-knob-bg-color--active
        );
        --switch-knob-box-shadow: 0px -1px 0px 0px rgb(0 0 0 / 0.05),
          0px 1px 2px 0px rgb(0 0 0 / 0.65);
        --switch-knob-border-style: var(
          --switch-default-knob-border-style--checked
        );
      }
    }
  }
}
