@layer theme-components {
  /* theme base styles */
  .switch {
    --switch-position: relative;
    --switch-display: inline-block;

    transition:
      background-color var(--switch-transition--default),
      border-color var(--switch-transition--default);

    .switch__thumb {
      --switch-thumb-display: block;
      --switch-thumb-transform: translateX(
        calc(
          ((var(--switch-width) / 2) * -1) + var(--switch-padding) +
            var(--switch-thumb-width) / 2
        )
      );

      transition: transform var(--switch-transition--default);
    }

    &:where([data-state="checked"]) .switch__thumb {
      --switch-thumb-transform: translateX(
        calc(
          ((var(--switch-width) / 2)) - var(--switch-padding) -
            var(--switch-thumb-width) / 2
        )
      );
    }
  }

  /* SIZES */
  .switch:where(.switch--size--small) {
    --switch-width: var(--switch-sm-width);
    --switch-height: var(--switch-sm-height);
    --switch-padding: var(--switch-sm-padding);
    --switch-border-radius: var(--switch-sm-border-radius);

    .switch__thumb {
      --switch-thumb-width: var(--switch-sm-thumb-radius);
      --switch-thumb-height: var(--switch-sm-thumb-radius);
      --switch-thumb-border-radius: var(--switch-sm-thumb-border-radius);
    }
  }

  .switch:where(.switch--size--medium) {
    --switch-width: var(--switch-md-width);
    --switch-height: var(--switch-md-height);
    --switch-padding: var(--switch-md-padding);
    --switch-border-radius: var(--switch-md-border-radius);

    .switch__thumb {
      --switch-thumb-width: var(--switch-md-thumb-radius);
      --switch-thumb-height: var(--switch-md-thumb-radius);
      --switch-thumb-border-radius: var(--switch-md-thumb-border-radius);
    }
  }

  /* VARIANTS DEFAULT STATE */
  .switch:where(.switch--variant--default) {
    --switch-border-color: var(--switch-default-border-color--default);
    --switch-background-color: var(--switch-default-bg-color--default);

    .switch__thumb {
      --switch-thumb-background-color: var(
        --switch-default-thumb-bg-color--default
      );
    }

    &:where(:hover) {
      --switch-border-color: var(--switch-default-border-color--hover);
      --switch-background-color: var(--switch-default-bg-color--hover);

      .switch__thumb {
        --switch-thumb-background-color: var(
          --switch-default-thumb-bg-color--hover
        );
      }
    }

    &[data-state="checked"] {
      --switch-border-color: var(--switch-default-border-color--active);
      --switch-background-color: var(--switch-default-bg-color--active);

      .switch__thumb {
        --switch-thumb-background-color: var(
          --switch-default-thumb-bg-color--active
        );
      }
    }
  }

  /* MODIFIERS */
  .switch:where(.switch--modifier--disabled) {
    --switch-opacity: var(--switch-opacity--disabled);
    --switch-cursor: var(--switch-cursor--disabled);
  }
}
