@layer components {
  .menu {
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    transition:
      transform var(--animation-duration-sm),
      display var(--animation-duration-sm) allow-discrete;

    &:popover-open {
      transform: none;
    }
  }

  /* Side configurations */
  .menu--side--left {
    flex-direction: row;
    transform: translateX(-100%);
  }

  .menu--side--left:popover-open {
    @starting-style {
      & {
        transform: translateX(-100%);
      }
    }
  }

  .menu--side--right {
    flex-direction: row-reverse;
    transform: translateX(100%);
  }

  .menu--side--right:popover-open {
    @starting-style {
      & {
        transform: translateX(100%);
      }
    }
  }

  .menu::backdrop {
    background: hsl(0deg 0% 0% / 0.6);
  }

  .menu__wrapper {
    display: none;
    flex-direction: column;
    gap: var(--space-16);
    width: 80%;
    min-width: 16rem;
    height: 100%;
    padding: 1.5rem;
    overflow-y: auto;
    background: #15152d;
  }

  .menu:popover-open > .menu__wrapper {
    display: flex;
  }

  .menu__fake-backdrop {
    width: 20%;
    height: 100%;
    background: transparent;
  }
}
