/* Common MetaItem styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap--8);
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--bg-color);

  --text-color: var(--color-text--default);
  --bg-color: transparent;
}

/* Styles for MetaItem's text */
.label {
  font: var(--font-body);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height--18);
}

/* Different MetaItem color schemes */
.metaItem__default {
  --text-color: var(--color-text--default);
}

.metaItem__tertiary {
  --text-color: var(--color-text--tertiary);
}

.metaItem__medium {
  --font-weight: 700;
  --font-size: var(--font-size--12);
}

.metaItem__large {
  font-weight: 500;

  --font-size: var(--font-size--16);
}
