/* Common MetaItem styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap--8);
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  background-color: var(--bg-color);

  --text-color: var(--color-text--default);
  --bg-color: transparent;
}

/* Styles for MetaItem's text */
.label {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1;
}

.icon {
  width: 1rem;
  height: 1rem;
}

/* Different MetaItem color schemes */
.metaItem__default {
  --text-color: var(--color-text--default);
}

.metaItem__accent {
  --text-color: var(--color-text--accent);
}

.metaItem__medium {
  --font-size: var(--font-size--s);
  --font-weight: var(--font-weight-bold);
}

.metaItem__large {
  --font-size: var(--font-size--m);
  --font-weight: var(--font-weight-semibold);
}

.metaItem__bold_large {
  --font-size: var(--font-size--m);
  --font-weight: var(--font-weight-bold);
}
