.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: var(--space--px) solid;
  border-color: var(--color-surface--4);
  border-radius: var(--border-radius--8);
  overflow: clip;
  background: #191b38;
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  align-items: center;
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.headerRight {
  margin-left: auto;
}

.icon {
  color: var(--color-text--tertiary);
}
