.root {
  border: var(--space--px) solid;
  border-color: var(--color-surface--4);
  border-radius: var(--border-radius--8);
  overflow: clip;
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  align-items: center;
  padding: var(--space--8) var(--space--16);
  background-color: var(--color-surface--4);
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.headerRight {
  margin-left: auto;
}

.icon {
  width: 1em;
  height: 1em;
  color: var(--color-text--tertiary);
}
