.img {
  --w: 70vw;

  position: absolute;
  top: 0;
  right: 0;
  width: var(--w);
  height: calc(var(--w) / 2.5);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  opacity: 0.4;
  /* stylelint-disable */
  --gradients:
    linear-gradient(90deg, transparent 0%, white 70%, transparent 100%),
    linear-gradient(180deg, white 40%, transparent 95%);
  -webkit-mask-image: var(--gradients);
  -webkit-mask-composite: source-in;

  mask-image: var(--gradients);
  mask-composite: intersect;
  /* stylelint-enable */
}
