.img {
  --w: 70vw;

  position: absolute;
  top: 0;
  right: 0;
  width: var(--w);
  height: calc(var(--w) / 2.5);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  opacity: 0.4;
  mask-image:
    linear-gradient(90deg, hsl(255deg 100% 100% / 0) 0%, hsl(255deg 100% 100% / 1) 70%, hsl(255deg 100% 100% / 0) 100%),
    linear-gradient(180deg, hsl(255deg 100% 100% / 1) 40%, hsl(255deg 100% 100% / 0) 95%);
  mask-composite: intersect;
}
