.root {
  display: flex;
  flex-direction: row;
  gap: var(--space-32);
}

.image {
  flex: 0 0 9rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  min-width: 0;
}

@media (width <= 30rem) {
  .root {
    gap: var(--space-16);
  }
}

.meta {
  display: flex;
  flex-direction: row;
  gap: var(--space-16);
  padding-top: var(--space-16);
}
