@layer nimbus-components {
  .page-header {
    display: flex;
    flex-direction: row;
    gap: var(--space-32);
    align-items: flex-start;
    align-self: stretch;
    padding: var(--space-24) 0;
  }

  .page-header__image {
    flex: 0 0 6rem;
  }

  .page-header__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);

    /* To ensure collapsibletext doesnt spill over */
    min-width: 0;
  }

  .page-header__info {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    align-items: flex-start;
    align-self: stretch;

    > h1 {
      --display-line-height: 1;
    }
  }

  .page-header__description {
    display: flex;
    align-self: stretch;
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-md);
    text-shadow: var(--textshadow-default);
  }

  .page-header__meta {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space-32);
  }

  .page-header__meta-item {
    display: flex;
    gap: var(--gap-xs);
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-lg);
    text-shadow: var(--textshadow-default);
    word-break: break-all;

    svg {
      inline-size: var(--space-16);
    }
  }

  @media (width <= 48rem) {
    .page-header {
      gap: var(--space-16);
      padding: var(--space-6) 0;
    }

    .page-header__image {
      flex: 0 0 5rem;
    }

    .page-header__info > h1 {
      --display-font-size: 1.75rem;
    }

    .page-header__meta {
      gap: var(--space-16);
    }
  }
}
