.root {
  width: 100%;

  --border: var(--space--px) solid #27275d;
}

@media (max-width: 63.5rem) {
  .item {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex: 1;
  border-top: var(--border);
}

.extra {
  position: relative;
  order: -1;
}

.extra::before {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  max-height: 24rem;
  background-image: linear-gradient(165deg, hsl(276deg 39% 38% / 0) 60%, hsl(276deg 39% 38%) 100%);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  content: "\0020";
  aspect-ratio: 5/1;
}

.inner {
  display: flex;
  flex: 1;
  padding-block: var(--space--32);
  width: 100%;
}

.adWrapper .inner {
  padding-bottom: 0;
}

.company {
  order: 2;
}

.footnote {
  padding-block: var(--space--32);
  padding-block-end: 5.5rem;
}

.footnoteCopyright {
  color: rgb(197 194 255 / 0.6) !important;
}

.footnoteInner {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: var(--space--24);
}

.nav {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  column-gap: var(--space--32);
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: var(--space--24);
}

.ad {
  display: flex;
  flex-direction: column;
  gap: var(--space--32);
  max-width: 100%;
  padding-right: 3.125rem;
}

.adText {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space--16);
  padding-bottom: 1rem;
}

.adDescription {
  max-width: 28rem;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 160%;
}

.getManagerButton {
  width: fit-content;
}

.img {
  position: relative;
  aspect-ratio: 2.5/1;
  object-fit: cover;
  object-position: left top;
}

.logoAndLinks {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
  align-items: center;
}

.logo > svg {
  width: auto;
  height: 2rem;
}

.iconLinks {
  display: flex;
  gap: 30px;
}

.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border-radius: var(--border-radius--8);
}

.inlineIcon {
  display: inline-flex;
  width: 1em;
  height: 1em;
}

@media (min-width: calc(63.5rem + 1px)) {
  .logoAndLinks {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: calc(63.5rem + 1px)) {
  .main {
    flex-direction: row;
  }

  .section {
    flex: 0 0 50%;
  }

  .info .item {
    justify-content: flex-end;
  }

  .inner {
    flex: 0 1 45rem;
    padding-block: 4.5rem;
  }

  .company .inner,
  .linksWrapper .inner {
    padding-right: 3.5rem;
  }

  .company {
    align-items: center;
    order: 0;
  }

  .extra {
    order: 0;
    border-left: var(--border);
  }

  .adWrapper .inner {
    padding-top: 5rem;
    padding-bottom: 0;
    padding-left: 5rem;
  }

  .logoAndLinks,
  .navLinks {
    margin-left: 4.5rem;
  }

  .footnote {
    padding-block-end: var(--space--32);
  }
}
