.root {
  margin-top: var(--space--24);
}

.top {
  display: flex;
  flex-direction: row;
  border: solid var(--space--px) var(--color-surface--3);
}

.leftColumn {
  display: flex;
  flex: 1;
  flex-direction: column;

  border-right: solid var(--space--px) var(--color-surface--3);
}

.columnItem {
  padding: 4rem 4rem 4rem 250px;
}

.divider {
  border-bottom: solid var(--space--px) var(--color-surface--3);
}

.links {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
}

.linksColumn {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.rightColumn {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--gap--16);
  padding: 4rem;
}

.rightColumnText {
  color: var(--color-text--tertiary);
  font: var(--font-body);
  font-weight: 700;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  align-items: center;
}

.linkLogos {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  align-items: center;
  color: var(--color-text--tertiary);
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space--24) 250px;
  color: var(--color-text--tertiary);

  font: var(--font-body);
}
