.root {
  width: 100%;

  --border: var(--space--px) solid var(--color-surface--3);
}

.main {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex: 1;
  border-top: var(--border);
}

.extra {
  position: relative;
  order: -1;
}

.extra::before {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  max-height: 16rem;
  background-image: linear-gradient(170deg, rgb(94 29 137 / 0) 60%, rgb(70 49 84 / 1) 120%);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  content: "\0020";
  aspect-ratio: 6/1;
}

.inner {
  display: flex;
  flex: 1;
  padding-inline: var(--space--24);
  padding-block: var(--space--32);
}

.adWrapper .inner {
  padding-bottom: 0;
}

.company {
  order: 2;
}

.footnote {
  color: var(--color-text--tertiary);
  font-weight: 500;
  font-size: var(--font-size--s);
  line-height: var(--line-height--s);
  padding-block: var(--space--32);
}

.footnoteLinks {
  display: flex;
  gap: var(--gap--32);
}

.footnoteLink:hover {
  color: var(--color-white);
}

.footnoteCopyright {
  color: rgb(198 195 255 / 0.6);
}

.footnoteInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80rem;
  margin-inline: auto;
  padding-inline: var(--space--24);
}

@media (min-width: 35rem) {
  .nav {
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  }
}

@media (min-width: 80rem) {
  .main {
    flex-direction: row;
  }

  .section {
    flex: 0 0 50%;
  }

  .info .item {
    justify-content: flex-end;
  }

  .inner {
    flex: 0 1 40rem;
    padding-block: 4.5rem;
  }

  .company .inner,
  .linksWrapper .inner {
    padding-right: 3.5rem;
  }

  .company {
    align-items: center;
    order: 0;
  }

  .extra {
    order: 0;
    border-left: var(--border);
  }

  .adWrapper .inner {
    padding-bottom: 0;
    padding-left: 3.5rem;
  }
}

.nav {
  display: grid;
  flex: 1;
  grid-auto-columns: 100%;
  column-gap: var(--space--32);
  row-gap: var(--space--48);
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: var(--space--24);
}

.links {
  display: flex;
  flex-direction: column;
  gap: var(--gap--8);
  color: var(--color-text--accent);
  font-weight: 500;
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  list-style-type: none;
}

.links > a:hover {
  color: var(--color-white);
}

.navTitle {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1;
}

.ad {
  display: flex;
  flex-direction: column;
  gap: var(--space--32);
  max-width: 100vw;
  padding-right: 50px;
}

.adText {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space--16);
}

.adTitle {
  font: var(--font-heading);
  font-weight: 700;
  font-size: 2.375rem;
  line-height: 1;
}

.adDescription {
  color: var(--color-text--accent);
  font-weight: 600;
  font-size: var(--font-size--xl);
  line-height: var(--line-height--xl);
}

.adButton {
  display: flex;
}

.img {
  position: relative;
  max-width: 40rem;
  aspect-ratio: 2.5/1;
  object-fit: cover;
  object-position: left top;
}

.logoAndLinks {
  display: flex;
  justify-content: space-between;
}

.logo > svg {
  width: auto;
  height: 32px;
  fill: var(--color-white);
}

.logoImage {
  max-height: 30px;
}

.logoText {
  max-height: 18px;
}

.iconLinks {
  display: flex;
  gap: 30px;
  color: var(--color-text--accent);
}

.iconLink {
  display: flex;
  align-items: center;
  height: 41px;
  border-radius: var(--border-radius--8);
}

.iconLink:hover {
  background-color: var(--color-surface--7);
}
