@layer theme-components {
  /* Tabs */
  .tabs {
    --tabs-box-shadow-height: 3px;
    --tabs-box-shadow-color: var(--color-surface-5);

    /* Tabs Item */

    /* SIZES */
    &:where(.tabs--size--medium) {
      .tabs-item {
        --tabs-item-height: 3.25rem;
        --tabs-item-padding: 0.75rem 1rem;
        --tabs-item-gap: 0.75rem;
        --tabs-item-font-size: var(--font-size-body-lg);
        --tabs-item-font-weight: 700;
        --tabs-item-border-bottom-width: 3px;
      }

      .tabs-number-slate {
        --tabs-item-number-slate-padding: var(--space-2) var(--space-4);
        --tabs-item-number-slate-gap: 0.5rem;
        --tabs-item-number-slate-border-radius: var(--radius-sm);
        --tabs-item-number-slate-background-color: var(--color-surface-a4);
      }
    }

    /* VARIANTS */
    &:where(.tabs--variant--default) {
      .tabs-item {
        --tabs-item-color: var(--tab-nav-item-text-color--default);
        --tabs-item-icon-color: var(--tab-nav-item-icon-color--default);
        --tabs-item-border-bottom-style: var(
          --tab-nav-item-border-style--default
        );
        --tabs-item-border-bottom-color: var(
          --tab-nav-item-border-color--default
        );

        &:active {
          --tabs-item-color: var(--tab-nav-item-text-color--active);
          --tabs-item-icon-color: var(--tab-nav-item-icon-color--active);
          --tabs-item-border-bottom-color: var(
            --tab-nav-item-border-color--active
          );
        }

        &:hover {
          --tabs-item-color: var(--tab-nav-item-text-color--hover);
          --tabs-item-icon-color: var(--tab-nav-item-icon-color--hover);
          --tabs-item-border-bottom-color: var(
            --tab-nav-item-border-color--hover
          );
        }

        &.tabs-item--current {
          --tabs-item-color: var(--tab-nav-item-text-color--current);
          --tabs-item-icon-color: var(--tab-nav-item-icon-color--current);
          --tabs-item-border-bottom-color: var(
            --tab-nav-item-border-color--current
          );
        }
      }

      .tabs-number-slate {
        --tabs-item-number-slate-color: var(--tab-nav-item-text-color--default);
        --tabs-item-number-slate-background-color: var(--color-surface-a4);

        &:active {
          --tabs-item-number-slate-color: var(
            --tab-nav-item-text-color--active
          );
          --tabs-item-number-slate-border-bottom-color: var(
            --tab-nav-item-border-color--active
          );
        }

        &:hover {
          --tabs-item-number-slate-color: var(--tab-nav-item-text-color--hover);
          --tabs-item-number-slate-border-bottom-color: var(
            --tab-nav-item-border-color--hover
          );
        }

        &.tabs-item--current {
          --tabs-item-number-slate-color: var(
            --tab-nav-item-text-color--current
          );
          --tabs-item-number-slate-border-bottom-color: var(
            --tab-nav-item-border-color--current
          );
        }
      }
    }
  }
}
