.root {
  display: flex;
  flex-direction: row;

  gap: var(--gap--16);
  align-items: center;
  min-width: 10rem;
  padding: var(--space--10) var(--space--12);
  color: var(--text-color);
  cursor: pointer;

  --text-color: var(--color-text--default);
}

.label {
  font-weight: 500;
}

.icon {
  color: var(--color-text--tertiary);
}
