.root {
  display: flex;
  flex-direction: row;

  gap: var(--gap--16);
  align-items: center;
  min-width: 10rem;
  padding: var(--space--10) var(--space--12);
  color: var(--text-color);

  font: var(--font-body);
  font-size: var(--font-size--14);
  cursor: pointer;

  --text-color: var(--color-text--default);
}

.label {
  font-weight: 500;
  line-height: var(--line-height--22);
}

.icon {
  color: var(--color-text--tertiary);
}
