.root {
  display: flex;
  flex-direction: row;

  gap: var(--gap--12);
  align-items: center;
  padding: var(--space--12) var(--space--16);
  color: var(--text-color);
  cursor: pointer;

  --text-color: var(--color-text--default);
}

.root:hover {
  background-color: var(--color-surface--6);
}

/* MenuItemIcon */
.menuItemIcon {
  width: 1em;
  height: 1em;
  color: var(--color-text--tertiary);
}

/* MenuItemLabel */
.menuItemLabel {
  font-weight: 500;
}
