.root {
  display: flex;
  flex-direction: column;
  gap: var(--space--32);
}

.buttons {
  display: flex;
  overflow: auto;
}

.button {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--space--12);
  align-items: center;
  justify-content: center;

  padding: var(--space--12) var(--space--16);
  border-bottom: 3px solid var(--color-purple--5);
  color: var(--tab-color);
  background-color: transparent;

  --tab-color: var(--color-text--default);
}

.button.active {
  border-color: var(--tab-color);

  --tab-color: var(--color-green--5);
}

.button:disabled {
  --tab-color: var(--color-border--highlight);
}

.icon {
  color: var(--color-border--highlight);
}

.button.active .icon {
  color: var(--tab-color);
}

.button:not(.active, :disabled):hover > .icon {
  color: var(--color-text--tertiary);
}

.label {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--l);
  line-height: 1.3;
}
