.root {
  display: flex;
  width: 100%;
}

.root > button {
  width: 100%;
}

.label {
  font-weight: var(--font-weight-regular);
}

.content {
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: var(--gap--2);
  min-width: var(--radix-popper-anchor-width);
  max-width: max-content;
  padding: var(--space--8) 0;
  border: var(--space--px) var(--color-surface--6) solid;
  border-radius: var(--border-radius--8);
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--color-surface--2);
  box-shadow: var(--box-shadow-default);
  animation: fade-in var(--animation-length-l) ease;
}

/* Different Select variant schemes */
.content__default {
  --text-color: var(--color-white);
  --bg-color: var(--color-surface--5);
}

.content__accent {
  color: var(--color-black);
  background-color: var(--color-highlight);
}

.content__wide {
  justify-content: space-between;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
