.root {
  display: flex;
  flex-direction: row;
  gap: var(--space--32);
}

.image {
  flex: 0 0 9rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space--4);
  min-width: 0;
}

@media (max-width: 30rem) {
  .root {
    gap: var(--space--16);
  }
}

.meta {
  display: flex;
  flex-direction: row;
  gap: var(--space--16);
  padding-top: var(--space--16);
}

.skeletonImage {
  height: 12rem;
  aspect-ratio: 3/4;
}

.skeletonTitle {
  width: 22rem;
  height: 2.875rem;
}

.skeletonMetas {
  width: 6.5rem;
  height: 1rem;
}
