@layer theme-components {
  /* VARIANTS DEFAULT STATE */
  .ts-modal:where(.ts-variant--primary) {
    --modal-color: var(--modal-primary-color--default);

    &:where(:hover) {
      --modal-color: var(--modal-primary-color--hover);
    }
  }

  /* TOKENS */
  :root {
    --modal-primary-color--default: var(--color-text-accent);
    --modal-primary-color--hover: var(--color-text-primary);
  }
}
