.root {
  display: flex;
  flex-direction: column;
  gap: var(--space--12);
}

.root:hover .imageWrapper {
  filter: brightness(1.15);
}

.root:focus-within {
  border-radius: var(--border-radius--8);
  outline: 0.2rem solid var(--color-cyber-green--50);
  outline-offset: 0.5rem;
}

.root .imageWrapper > div {
  transform-origin: bottom;
}

.root:hover .imageWrapper > div,
.root:focus-within .imageWrapper > div {
  transform: scale(1.05);
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title > a:focus-visible {
  outline: none !important;
}

.metaItemList {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  margin-top: auto;
}

.metaItem {
  display: flex;
  gap: var(--gap--8);
  align-items: center;
}
