.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: var(--space--8) var(--space--12);
  color: var(--text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  line-height: normal;
  background: #191b38;
}

.label {
  flex-shrink: 0;
  color: var(--color-text--accent);
}
