@layer nimbus-layout {
  .package-edit__main {
    display: flex;
    gap: var(--gap-3xl);
    align-items: center;
    align-self: stretch;
  }

  .package-edit__section {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 3rem;
    align-items: stretch;
  }

  .package-edit__divider {
    align-self: stretch;
    height: 0.063rem;
    background: linear-gradient(0deg, #23234d 0%, #23234d 100%);
  }

  .package-edit__row {
    display: flex;
    flex: 1 1 0;
    gap: 5rem;
    align-items: flex-start;
    justify-content: space-between;
  }

  .package-edit__row-content {
    display: flex;
    flex: 1 1 0;
    gap: var(--gap-md);
  }

  .package-edit__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    align-self: stretch;
    width: 21rem;
  }

  .package-edit__title {
    align-self: stretch;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
    line-height: var(--line-height-auto);
  }

  .package-edit__description {
    align-self: stretch;
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .package-edit__status {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
  }

  .package-edit__status-description {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);

    font-size: var(--font-size-body-sm);
    line-height: var(--line-height-auto);
  }

  .package-edit__actions {
    display: flex;
    flex: 1 0 0;
    flex-direction: row;
    gap: var(--gap-md);
  }

  .package-edit__save-button {
    flex: 1 0 0;
  }
}
