@layer nimbus-layout {
  .package-listing {
    display: flex;
    gap: var(--gap-xxxl);
    align-items: flex-start;
    align-self: stretch;
  }

  .package-listing__main {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: flex-start;
    padding-top: 1rem;
  }

  .package-listing__content-header {
    display: flex;
    gap: var(--gap-xl);
    align-items: flex-start;
    align-self: stretch;
    padding: 1rem;
  }

  .package-listing__content {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: var(--gap-xxxl);
    align-items: flex-start;
    align-self: stretch;
  }

  .package-listing-sidebar {
    position: sticky;
    top: var(--header-height);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: var(--gap-md);
    align-items: flex-start;
    padding-top: var(--gap-md);
  }

  .package-listing-sidebar__install {
    justify-content: center;
    width: 100%;
  }

  .package-listing-sidebar__main {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: flex-start;
    align-self: stretch;
  }

  .package-listing-sidebar__actions {
    display: flex;
    gap: var(--gap-xs);
    align-items: flex-start;
    align-self: stretch;
  }

  .package-listing-sidebar__download {
    flex-grow: 1;
    justify-content: center;
  }

  .package-listing-sidebar__meta {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxxs);
    align-items: flex-start;
    align-self: stretch;

    > :first-child {
      border-radius: var(--radius-md) var(--radius-md) 0 0;
    }

    > :last-child {
      border-radius: 0 0 var(--radius-md) var(--radius-md);
    }
  }

  .package-listing-sidebar__item {
    display: flex;
    gap: var(--gap-xxxl);
    align-items: center;
    align-self: stretch;
    padding: var(--space-8) var(--space-12);
    background: var(--color-surface-default);
  }

  .package-listing-sidebar__label {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-sm);
    line-height: normal;
  }

  .package-listing-sidebar__content {
    flex: 1 0 0;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-sm);
    line-height: normal;
    text-align: right;
  }

  .package-listing-sidebar__dependency-string-wrapper {
    display: flex;
    flex: 1 0 0;
    gap: var(--gap-xs);
    align-items: center;
    justify-content: flex-end;
  }

  .package-listing-sidebar__dependency-string {
    max-width: 15ch;

    /* overflow-x: clip; */
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-sm);

    /* white-space: nowrap; */

    /* text-overflow: ellipsis; */
    word-break: break-word;
  }

  .package-listing-sidebar__categories {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: flex-start;
    align-self: stretch;
    padding: var(--space-16);
    border-radius: var(--radius-md);
    background-color: var(--color-surface-default);
  }

  .package-listing-sidebar__header {
    display: flex;
    align-items: center;
    align-self: stretch;
  }

  .package-listing-sidebar__body {
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    gap: var(--gap-xs);
    align-content: flex-start;
    align-items: flex-start;
    align-self: stretch;
    min-width: 100px;
    max-width: 300px;
  }

  /* Mobile breakpoint */
  @media (width <= 475px) {
    .package-listing {
      flex-wrap: wrap;
      overflow: unset;
    }

    .package-listing__main {
      min-width: 100%;
    }

    .package-listing-sidebar {
      flex-grow: 1;
    }

    .package-listing-sidebar__install {
      display: none;
    }
  }
}
