.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  min-width: 354px;
}

.buttons {
  display: flex;
  gap: var(--gap-xs);
}

.download {
  display: flex;
  flex-grow: 1;
}

.download > div {
  display: flex;
  flex-grow: 1;
}

.categories {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  row-gap: 0.5rem;
}
