.root {
  display: grid;
  flex-flow: row wrap;
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 3rem 1.5rem;
}

@media (width <= 27.5rem) {
  .root {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  }
}
