@layer nimbus-layout {
  .communities {
    gap: var(--space-20);

    --nimbus-layout-content-max-width: 120rem;
  }

  .communities__heading {
    padding: var(--space-8) 0;
  }

  .communities__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xxxl);
    align-items: flex-start;
    align-self: stretch;
  }

  .communities__tools {
    flex-direction: row;
    gap: var(--gap-md);
    justify-content: space-between;
  }

  .communities__search {
    display: flex;
    flex-grow: 1;
    min-width: max-content;
    max-width: 26.25rem;
  }

  .communities__results {
    justify-content: center;
  }

  .communities__communities-list {
    display: grid;
    flex-flow: row wrap;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: var(--gap-xxxxxxxl) var(--gap-xl);
    width: 100%;
  }

  @media (width <= 39rem) {
    .communities__tools {
      flex-direction: column;
    }

    .communities__search {
      display: flex;
      flex-grow: 1;
      min-width: unset;
      max-width: unset;
    }
  }

  @media (width <= 27.5rem) {
    .communities__communities-list {
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    }
  }
}
