.root {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  justify-content: space-between;
}

.searchTextInput {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space--8);
}

.searchFilters {
  display: flex;
  flex-direction: column;
  gap: var(--space--8);
  white-space: nowrap;
}

@media (width <= 40rem) {
  .root {
    flex-direction: column;
  }

  .searchTextInput {
    width: 100%;
  }

  .searchTextInput > span {
    display: none;
  }

  .searchFilters {
    width: 100%;
  }

  .searchFilters > span {
    display: none;
  }
}

@media (width > 40rem) {
  .searchTextInput {
    max-width: 26.25rem;
  }
}
