.root {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  justify-content: space-between;
}

.searchTextInput {
  display: flex;
  flex-direction: column;
  gap: var(--space--8);
  width: 50%;
}

.searchInput {
  max-width: 26.25rem;
}

.searchFilters {
  display: flex;
  flex-direction: column;
  gap: var(--space--8);
  white-space: nowrap;
}

@media (width <= 40rem) {
  .root {
    flex-direction: column;
  }

.skeletonSort {
  width: 13rem;
  height: 2.75rem;
}

@media (max-width: 40rem) {
  .root {
    flex-direction: column;
  }

  .searchTextInput {
    width: 100%;
  }

  .searchTextInput > span {
    display: none;
  }

  .searchFilters {
    width: 100%;
  }

  .searchFilters > span {
    display: none;
  }

  .searchInput {
    max-width: 100%;
  }
}
