.root {
  display: flex;
  flex-direction: row;
  gap: var(--gap--16);
  justify-content: space-between;
}

.searchTextInput {
  display: flex;
  flex-direction: column;
  gap: var(--space--8);
  width: 50%;
}

.searchFilters {
  display: flex;
  flex-direction: column;
  gap: var(--space--8);
  white-space: nowrap;
}

@media (max-width: 40rem) {
  .root {
    flex-direction: column;
  }

  .searchTextInput {
    width: 100%;
  }

  .searchFilters {
    width: 100%;
  }
}
