@layer theme-components {
  /* Heading base tokens */
  .ts-heading {
    --heading-font-weight: var(--font-weight-bold);
    --heading-font-family: var(--font-family--inter);
    --heading-font-style: normal;
    --heading-line-height: normal;
  }

  .ts-heading:where(.ts-size--1) {
    --heading-font-weight: var(--font-weight-extra-bold);
    --heading-font-size: var(--space-54);
    --heading-font-family: var(--font-family--hubot);
    --heading-line-height: 115%;
  }

  .ts-heading:where(.ts-size--2) {
    --heading-font-size: var(--space-32);
    --heading-line-height: var(--line-height-sm);
  }

  .ts-heading:where(.ts-size--3) {
    --heading-font-size: var(--space-20);
  }

  .ts-heading:where(.ts-size--4) {
    --heading-font-size: var(--space-16);
  }

  .ts-heading:where(.ts-size--5) {
    --heading-font-size: var(--space-14);
  }

  .ts-heading:where(.ts-size--6) {
    --heading-font-size: var(--space-12);
  }

  /* Display base tokens */
  .ts-display {
    --display-font-weight: var(--font-weight-bold);
    --display-font-family: var(--font-family--inter);
    --display-font-style: normal;
    --display-line-height: var(--line-height-auto);
  }

  .ts-display:where(.ts-size--1) {
    --display-font-weight: var(--font-weight-extra-bold);
    --display-font-family: var(--font-family--hubot);
    --display-font-size: var(--space-54);
    --display-line-height: 115%; /* 62.1px */
  }

  .ts-display:where(.ts-size--2) {
    --display-font-weight: var(--font-weight-extra-bold);
    --display-font-family: var(--font-family--hubot);
    --display-font-size: var(--space-51);
  }

  .ts-display:where(.ts-size--3) {
    --display-font-weight: var(--font-weight-bold);
    --display-font-family: var(--font-family--hubot);
    --display-font-size: var(--space-38);
  }

  .ts-display:where(.ts-size--4) {
    --display-font-size: var(--space-16);
  }

  .ts-display:where(.ts-size--5) {
    --display-font-size: var(--space-14);
  }

  .ts-display:where(.ts-size--6) {
    --display-font-size: var(--space-12);
  }

  /* VARIANTS DEFAULT STATE */
  .ts-heading:where(.ts-variant--primary),
  .ts-display:where(.ts-variant--primary) {
    --heading-text-color: var(--heading-primary-text-color--default);
  }

  .ts-heading:where(.ts-variant--secondary),
  .ts-display:where(.ts-variant--secondary) {
    --heading-text-color: var(--heading-secondary-text-color--default);
  }

  .ts-heading:where(.ts-variant--tertiary),
  .ts-display:where(.ts-variant--tertiary) {
    --heading-text-color: var(--heading-tertiary-text-color--default);
  }

  .ts-heading:where(.ts-variant--accent),
  .ts-display:where(.ts-variant--accent) {
    --heading-text-color: var(--heading-accent-text-color--default);
  }

  .ts-heading:where(.ts-variant--special),
  .ts-display:where(.ts-variant--special) {
    --heading-text-color: var(--heading-special-text-color--default);
  }

  .ts-heading:where(.ts-variant--success),
  .ts-display:where(.ts-variant--success) {
    --heading-text-color: var(--heading-success-text-color--default);
  }

  .ts-heading:where(.ts-variant--info),
  .ts-display:where(.ts-variant--info) {
    --heading-text-color: var(--heading-info-text-color--default);
  }

  .ts-heading:where(.ts-variant--warning),
  .ts-display:where(.ts-variant--warning) {
    --heading-text-color: var(--heading-warning-text-color--default);
  }

  .ts-heading:where(.ts-variant--danger),
  .ts-display:where(.ts-variant--danger) {
    --heading-text-color: var(--heading-danger-text-color--default);
  }

  .ts-heading:where(.ts-variant--cyber),
  .ts-display:where(.ts-variant--cyber) {
    --heading-text-color: var(--heading-cyber-text-color--default);
  }

  /* TOKENS */
  :root {
    --heading-danger-text-color--default: var(--color-accent-red-7);
    --heading-info-text-color--default: var(--color-accent-blue-7);
    --heading-primary-text-color--default: var(--color-text-primary);
    --heading-secondary-text-color--default: var(--color-text-secondary);
    --heading-tertiary-text-color--default: var(--color-text-tertiary);
    --heading-success-text-color--default: var(--color-accent-green-7);
    --heading-warning-text-color--default: var(--color-accent-yellow-7);
    --heading-special-text-color--default: linear-gradient(
          284deg,
          hsl(275deg 64% 11% / 1) 0%,
          hsl(156deg 46% 12% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(276deg 77% 54% / 1) 0%,
          hsl(158deg 100% 57% / 1) 100%
        )
        border-box;
    --heading-special-text-color--hover: linear-gradient(
          284deg,
          hsl(203deg 80% 21% / 1) 0%,
          hsl(155deg 46% 23% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(154deg 65% 67% / 1) 0%,
          hsl(203deg 92% 63% / 1) 100%
        )
        border-box;
    --heading-accent-text-color--default: var(--color-text-accent);
    --heading-cyber-text-color--default: var(--color-cyber-green-7);
  }
}
