.root {
  display: flex;
  flex-direction: row;
  gap: var(--space--8);
  align-items: center;
  min-width: 200px;
  padding: var(--space--4) var(--space--8);
  border-radius: var(--border-radius--8);
}

.root:hover {
  background-color: var(--color-surface--1);
  transition: ease-out 200ms;
}

.checkBoxRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space--16);
  height: var(--space--16);
  border-radius: var(--border-radius--4);
  background-color: var(--mark-color);
  transition: 200ms;

  --mark-color: var(--color-surface--2);
}

.label {
  color: var(--mark-color);
  font: var(--font-body);
  font-weight: 600;
  font-size: var(--font-size--14);
  transition: 200ms;
  user-select: none;

  --mark-color: var(--color-text--default);
}

.icon {
  width: var(--space--12);
  height: var(--space--12);
}

.tag {
  margin-left: auto;
}

.yes {
  --mark-color: green !important;
}

.no {
  --mark-color: red !important;
}
