@layer components {
  .select-search__menu {
    position: fixed;
    z-index: 900;
    display: flex;
    flex-direction: column;
    min-height: 1.5rem;
    margin: 0;
    padding: var(--space-8);
    border: var(--space-px) var(--color-surface-6) solid;
    border-radius: var(--radius-md);
    overflow: hidden;
    overflow-y: auto;
    color: var(--color-white);
    background-color: var(--color-surface-2);
    box-shadow: var(--shadow-lg);
  }

  .select-search__no-options {
    padding: var(--space-12);
    color: var(--color-text-tertiary);
    text-align: center;
  }
}
