@layer components {
  .select-search {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-self: stretch;
    justify-content: flex-end;
    width: 100%;
    border: var(--border-width--px) solid;
    border-color: var(--select-search-border-color);
    border-radius: var(--radius-md);
    color: var(--select-search-text-color);
    background-color: var(--select-search-background-color);
    cursor: pointer;
    transition: ease-out var(--animation-duration-xs);

    --select-search-text-color: var(--input-text-color--default);
    --select-search-border-color: var(--input-border-color--default);
    --select-search-background-color: var(--input-bg-color--default);
    --select-search-font-size: var(--font-size-body-md);
    --select-search-font-weight: var(--font-weight-regular);
    --select-search-control-height: 1rem;
    --select-search-tag-height: 1.5rem;
    --select-search-padding-block: var(--space-8);
    --select-search-padding-inline: var(--space-16);
    --select-search-min-height: calc(
      var(--select-search-tag-height) + var(--select-search-padding-block) * 2
    );
  }

  .select-search:hover {
    --select-search-text-color: var(--input-text-color--hover);
    --select-search-border-color: var(--input-border-color--hover);
    --select-search-background-color: var(--input-bg-color--hover);
  }

  .select-search:focus-within {
    --select-search-text-color: var(--input-text-color--focus);
    --select-search-border-color: var(--input-border-color--focus);
    --select-search-background-color: var(--input-bg-color--focus);
  }

  .select-search__input {
    flex: 1 1 6rem;
    min-width: 0;
    height: var(--select-search-control-height);
    margin: 0;
    color: var(--select-search-text-color);
    font-weight: var(--select-search-font-weight);
    font-size: var(--select-search-font-size);
    line-height: var(--select-search-control-height);
    background-color: transparent;
    outline: none;

    &::placeholder {
      color: var(--color-text-tertiary);
      opacity: 1;
    }
  }

  .select-search__chrome {
    display: flex;
    flex: 0 0 auto;
    gap: var(--space-16);
    align-items: center;
    align-self: center;
    margin-left: auto;
  }

  .select-search__clear-search,
  .select-search__show-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--select-search-control-height);
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .select-search__clear-search {
    color: var(--color-text-secondary);
    opacity: 0.5;
  }

  .select-search__show-menu-button {
    color: var(--color-text-tertiary);
    opacity: 0.5;
  }

  .select-search__clear-search:hover,
  .select-search__show-menu-button:hover {
    opacity: 1;
  }

  .select-search__selected {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space-8);
    align-items: center;
    min-width: 0;
    max-width: 100%;
  }

  .select-search__search {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    color: var(--select-search-text-color);
  }

  .select-search__selected-and-input-container {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-16);
    align-items: center;
    width: 100%;
    min-height: var(--select-search-min-height);
    padding: var(--select-search-padding-block)
      var(--select-search-padding-inline);

    & > input {
      outline: none;
    }
  }

  .select-search__selected-and-input {
    display: flex;
    flex: 1 1 0;
    flex-flow: row wrap;
    gap: var(--space-8);
    align-items: center;
    align-self: center;
    min-width: 0;
  }

  .select-search__divider {
    flex-shrink: 0;
    align-self: center;
    width: var(--space-px);
    height: var(--select-search-tag-height);
    margin: calc(var(--select-search-padding-block) * -1) 0;
    background: var(--color-surface-9);
  }

  .select-search__selected-button {
    min-width: 0;
    max-width: 200px;
    overflow: hidden;

    --tag-content-height: calc(
      var(--select-search-tag-height) - var(--tag-padding-block) * 2
    );
  }
}
