.root {
  color: var(--color-text--default);
  font: var(--font-heading);
  font-weight: 800;
  font-size: 3rem;
}

.small {
  font-size: var(--font-size-32);
}

.smaller {
  font-weight: 600;
  font-size: var(--font-size-24);
}
