.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  margin: 0 var(--page-margin);
}

.tabContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.separator {
  border-bottom: var(--border-width--px) solid var(--color-surface--3);
}
