.root {
  display: flex;
  flex-flow: row wrap;
  gap: var(--space--8);
  list-style: none;
}

.tag {
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;

  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--9);
}

.tag.exclude {
  --text-color: var(--color-red--3);
  --bg-color: var(--color-red--10);
}

.icon {
  height: var(--space--16);
  color: var(--text-color);
}

.tag.exclude .icon {
  --text-color: var(--color-red--3);
}
