@layer theme-components {
  /* VARIANTS DEFAULT STATE */
  .menu:where(.menu--variant--primary) {
    --menu-color: var(--menu-primary-color--default);

    &:where(:hover) {
      --menu-color: var(--menu-primary-color--hover);
    }
  }

  /* TOKENS */
  :root {
    --menu-primary-color--default: var(--color-text-accent);
    --menu-primary-color--hover: var(--color-text-primary);
  }
}
