@layer nimbus-components {
  .radio-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    transition: ease-out var(--animation-duration-xs);
  }

  .radio-group__label {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
    justify-content: space-between;
    padding: var(--space-8) var(--space-16);
    border-radius: var(--radius-md);
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    cursor: pointer;
    transition: var(--animation-duration-xs);
    user-select: none;

    &.radio-group__label--unselected {
      --icon-color: var(--color-surface-a8);
    }

    &.radio-group__label--selected {
      color: var(--color-cyber-green-7);
      font-weight: var(--font-weight-bold);

      --icon-color: var(--color-cyber-green-7);
    }

    &:hover {
      color: var(--color-text-primary);
      background-color: var(--color-surface-a5);

      &.radio-group__label--unselected {
        --icon-color: var(--color-surface-a10);
      }

      &.radio-group__label--selected {
        color: var(--color-cyber-green-8);

        --icon-color: var(--color-cyber-green-8);
      }
    }
  }

  .radio-group__radio {
    display: flex;
    align-items: center;
    width: var(--space-18);
    height: var(--space-18);
    background: transparent;

    > svg {
      position: absolute;
      display: block;
      width: var(--space-18);
      height: var(--space-18);
    }
  }
}
