.buttonPrimary,
.buttonSecondary {
  padding: 12px 30px;
  border: 2px solid;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
}

.buttonPrimary {
  border-color: var(--accent-primary);
  color: var(--bg-regular);
  background-color: var(--accent-primary);
}

.buttonSecondary {
  border-color: var(--accent-secondary);
  color: var(--accent-secondary);
  background-color: transparent;
}
