.modal {
  border-radius: var(--border-radius-normal);
  display: flex;
  flex-direction: column;
}

.header {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  padding: 24px 32px 16px;
}

.headerTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerCloseButton {
  color: var(--text-secondary);
  border-radius: var(--border-radius-normal);
  border-width: 0;
  width: 36px;
  height: 36px;
  background-color: transparent;
}
.headerCloseButton:focus-visible,
.headerCloseButton:focus,
.headerCloseButton:hover {
  background-color: var(--bg-dark);
}

.headerContent {
  margin-top: 16px;
}
