.background {
  visibility: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  border-radius: var(--border-radius-normal);
  background: rgba(0, 0, 0, 0.6);
}

.background.visible {
  visibility: visible;
  display: flex;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 71.25rem;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 1rem;
  background-color: var(--bg-light);
}

.headerTitle {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.headerTitle:last-child {
  margin-bottom: 0;
}

.headerTitle svg {
  width: 1.375rem;
  height: 1.375rem;
}

.content {
  height: 38rem;
  border-top: 1px solid var(--border-regular);
  border-bottom: 1px solid var(--border-regular);
  padding: 0.5rem 2rem;
  overflow-y: auto;
  background-color: var(--bg-regular);
}

.noMods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-grow: 1;
  height: 100%;
  color: var(--text-secondary);
}

.noModsIcon {
  margin-bottom: 0.3125em;
  font-size: 6em;
  color: var(--bg-highlight);
}

.noModsText {
  margin: 0;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--bg-light);
}
