.searchField {
  width: 100%;
}

.searchBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  height: 44px;
  background-color: var(--bg-dark);
  border-radius: var(--border-radius-normal) var(--border-radius-normal) 0 0;
}
.searchBox:last-child {
  border-radius: var(--border-radius-normal);
}

.searchIcon {
  width: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Relative position to inherit position & width */
/* Achieve overlay effect with overflow-y, z-index, and max-height */
/* Needs to be a separate element to allow rounded corners */
.optionsAnchor {
  position: relative;
  max-height: 0;
  overflow-y: visible;
  z-index: 1;
}

.optionsBox {
  background-color: var(--bg-dark);
  border-radius: 0 0 var(--border-radius-normal) var(--border-radius-normal);
  overflow-y: hidden;
  padding: 8px;
}

.optionButton {
  width: 100%;
  height: auto;
  display: block;
  border: none;
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  border-radius: var(--border-radius-normal);
}

.optionButton:hover,
.optionButton:active,
.optionButton:focus {
  background-color: var(--bg-light);
}

.searchInputArea {
  width: 100%;
  height: 100%;
}

.searchInput {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: 0 12px;
  display: block;
  color: var(--text-primary);
  line-height: 19px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-primary);
  border-radius: var(--border-radius-normal);
  border: none;
  cursor: pointer;
}
