.tag {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  color: var(--accent-secondary);
  line-height: 1.2;
  background-color: var(--bg-highlight);
}

.sm {
  padding: 0.25rem 0.625rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.lg {
  padding: 0.5rem 0.625rem;
  font-weight: 600;
  font-size: 1rem;
}

.tag button {
  border: 0;
  color: inherit;
  font-size: inherit;
  background: transparent;
}

.tagList {
  margin: 0;
  padding: 0 0 0.25rem;
  list-style: none;
}

.tagList li {
  display: inline-block;
  margin: 0 0.25rem 0.25rem 0;
}

.tagList li:last-of-type {
  margin-right: 0;
}

.tagList li.others {
  padding-left: 1rem;
  color: var(--text-secondary);
  font-weight: 500;
  font-size: 0.875rem;
}
