@layer theme-components {
  /* SELECT */

  /* VARIANTS */
  .ts-select:where(.ts-variant--default) {
    --select-background-color: var(--dropdown-bg-color--default);
    --select-border-color: var(--dropdown-border-color--default);
    --select-box-shadow: var(--shadow-lg);
    --select-animation: fade-in var(--animation-duration-md) ease;
    --select-border: var(--space-px) var(--select-border-color) solid;
  }

  /* SIZES */
  .ts-select:where(.ts-size--medium) {
    --select-border-radius: var(--dropdown-md-border-radius);
    --select-padding: var(--dropdown-md-padding);
  }

  /* SELECT ITEM */

  /* VARIANTS */
  .ts-select__item:where(.ts-variant--default) {
    --select__item-background-color: var(--dropdown-item-bg-color--default);
    --select__item-color: var(--dropdown-item-text-color--default);
    --icon-color: var(--dropdown-item-icon-color--default);

    &[data-highlighted] {
      --select__item-background-color: var(--dropdown-item-bg-color--hover);
      --select__item-color: var(--dropdown-item-text-color--hover);
      --icon-color: var(--dropdown-item-icon-color--hover);
    }
  }

  .ts-select__item:where(.ts-variant--danger) {
    --select__item-background-color: var(
      --dropdown-item-danger-bg-color--default
    );
    --select__item-color: var(--dropdown-item-danger-text-color--default);
    --icon-color: var(--dropdown-item-danger-icon-color--default);

    &[data-highlighted] {
      --select__item-background-color: var(
        --dropdown-item-danger-bg-color--hover
      );
      --select__item-color: var(--dropdown-item-danger-text-color--hover);
      --icon-color: var(--dropdown-item-danger-icon-color--hover);
    }
  }

  .ts-select__item:where(.ts-variant--disabled) {
    --select__item-background-color: var(
      --dropdown-item-disabled-bg-color--default
    );
    --select__item-color: var(--dropdown-item-disabled-text-color--default);
    --select__item-icon-color: var(
      --dropdown-item-disabled-icon-color--default
    );
    --icon-color: var(--dropdown-item-disabled-icon-color--default);

    &[data-highlighted] {
      --select__item-background-color: var(
        --dropdown-item-disabled-bg-color--hover
      );
      --select__item-color: var(--dropdown-item-disabled-text-color--hover);
      --icon-color: var(--dropdown-item-disabled-icon-color--hover);
    }
  }

  /* SIZES */
  .ts-select__item:where(.ts-size--medium) {
    --select__item-gap: var(--dropdown-item-md-gap);
    --select__item-padding: var(--dropdown-item-md-padding);
    --select__item-font-weight: var(--dropdown-item-md-font-weight);
    --select__item-font-size: var(--dropdown-item-md-font-size);
  }

  /* SELECT TRIGGER */

  /* SIZES */
  .ts-select__trigger:where(.ts-size--medium) {
    --select__trigger-font-weight: var(--select-trigger-md-font-weight);
    --select__trigger-font-size: var(--select-trigger-md-font-size);
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  :root {
    --dropdown-bg-color--default: var(--color-surface-4);
    --dropdown-border-color--default: var(--color-surface-a6);
    --dropdown-item-bg-color--default: #0000;
    --dropdown-item-bg-color--hover: var(--color-surface-a7);
    --dropdown-item-icon-color--default: var(--color-text-tertiary);
    --dropdown-item-icon-color--hover: var(--color-text-primary);
    --dropdown-item-text-color--default: var(--color-text-primary);
    --dropdown-item-text-color--hover: var(--color-text-primary);
    --dropdown-item-danger-bg-color--default: #0000;
    --dropdown-item-danger-bg-color--hover: var(--color-accent-red-6);
    --dropdown-item-danger-icon-color--default: var(--color-accent-red-7);
    --dropdown-item-danger-icon-color--hover: #fff;
    --dropdown-item-danger-text-color--default: var(--color-accent-red-7);
    --dropdown-item-danger-text-color--hover: #fff;
    --dropdown-item-disabled-bg-color--default: #0000;
    --dropdown-item-disabled-bg-color--hover: #0000;
    --dropdown-item-disabled-icon-color--default: var(--color-text-tertiary);
    --dropdown-item-disabled-icon-color--hover: var(--color-text-tertiary);
    --dropdown-item-disabled-text-color--default: var(--color-text-tertiary);
    --dropdown-item-disabled-text-color--hover: var(--color-text-tertiary);
    --dropdown-md-border-radius: var(--radius-md);
    --dropdown-md-padding: var(--space-8) 0;
    --dropdown-item-md-gap: var(--gap-md);
    --dropdown-item-md-padding: var(--space-12) var(--space-16);
    --dropdown-item-md-font-weight: var(--font-weight-regular);
    --dropdown-item-md-font-size: var(--font-size-body-md);
    --select-trigger-md-font-weight: var(--font-weight-bold);
    --select-trigger-md-font-size: var(--font-size-body-md);
  }
}
