@layer nimbus-layout {
  .team-service-accounts__user {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    align-self: stretch;

    > div {
      --size: 2rem;
    }
  }

  .team-service-accounts__nickname {
    display: inline-flex;
    flex: 1 0 0;
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);

    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .team-service-accounts__last-used {
    display: inline-flex;
    flex: 1 0 0;
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-regular);

    font-size: var(--font-size-body-md);
    line-height: var(--line-height-md);
  }

  .team-service-accounts__highlight {
    color: var(--color-text-primary);

    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-bold);
  }

  .service-accounts__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: flex-start;
    align-self: stretch;
  }

  .service-accounts__nickname-input {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
  }

  .service-accounts__nickname-input-max-length {
    color: var(--color-text-tertiary);
    font-size: var(--font-size-body-sm);
  }
}
