.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.dialogContent {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxxl);
}

.dialogTeamName,
.dialogAddedServiceAccountName {
  color: var(--color-highlight);
}

.description {
  color: var(--color-text--secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-xxxxl);
  line-height: var(--line-height--l);
}

.token {
  display: flex;
  gap: var(--gap-xs);
}

.tokenText {
  width: 100%;
}

.addServiceAccountDialogFooter {
  display: flex;
  flex-direction: row-reverse;
}
