@layer components {
  .ts-button {
    display: flex;
    flex: none;
    flex-direction: row;
    gap: var(--button-gap);
    align-items: center;

    height: var(--button-height);

    padding: var(--button-padding);

    border: var(--button-border);
    border-color: var(--button-border-color);
    border-radius: var(--button-border-radius);
    color: var(--button-text-color);

    font-weight: var(--button-font-weight);
    font-size: var(--button-font-size);
    line-height: var(--button-line-height);

    text-align: center;
    background-color: var(--button-background-color);
    user-select: none;
  }
}
