@layer nimbus-components {
  .collapsible {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
    border-radius: var(--Radius-md, 0.5rem);
    font-size: var(--font-size-body-md);
    background: var(--Color-UI-surface-1, rgb(57 57 106 / 0.15));
  }

  .collapsible__header {
    display: flex;
    gap: var(--gap-md);
    align-self: stretch;
    justify-content: space-between;
    padding: var(--space-8) var(--space-12);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
  }

  .collapsible__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: stretch;
    align-self: stretch;
    padding-bottom: var(--gap-xs);
  }
}
