@layer nimbus-components {
  .collapsible {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: var(--font-size-body-md);
  }

  .collapsible__header {
    display: flex;
    gap: var(--gap-md);
    justify-content: space-between;
    padding: var(--space-8) var(--space-12);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-lg);
  }

  .collapsible__content {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: stretch;
    align-self: stretch;
    padding-bottom: var(--gap-xs);
  }
}
