@layer nimbus-layout {
  .upload__no-teams {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .upload__no-teams-text {
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);

    font-size: var(--font-size-body-md);
  }

  .upload__category {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: flex-start;
    align-self: stretch;
  }

  .upload__category-label {
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);

    font-size: var(--font-size-body-md);
  }

  .drag-n-drop {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    padding: 1.5rem 2rem;
    border: 2px dashed var(--color-surface-a9);

    border-radius: var(--radius-md);
    background: var(--color-surface-a4);

    cursor: pointer;
  }

  .drag-n-drop--success {
    border: 2px solid var(--color-cyber-green-7);
    background: var(--color-surface-1);
  }

  .drag-n-drop--error {
    border: 2px solid var(--color-accent-red-7);
    background: var(--color-surface-1);
  }

  .upload__alert {
    align-self: stretch;
  }

  .drag-n-drop__body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  .drag-n-drop__icon {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
  }

  .drag-n-drop__main-text {
    color: var(--color-text-primary);
    font-weight: var(--font-weight-bold);

    font-size: var(--font-size-body-lg);
    text-align: center;
  }

  .drag-n-drop__sub-text {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);

    font-size: var(--font-size-body-md);
    text-align: center;
  }

  .drag-n-drop__remove-button {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    background: transparent;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .upload__nsfw-switch {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
  }

  .upload__buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-self: stretch;
  }

  .upload__submit {
    flex: 1;
    align-self: stretch;
  }

  .upload__processing {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body-md);
  }

  .submission__status {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  .submission__status-item {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color-surface-a9);
    border-radius: var(--radius-md);
    background-color: var(--color-surface-a4);
  }
}
