@layer nimbus-layout {
  .upload__submission-result {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: stretch;
  }

  @container (width <= 48rem) {
    .upload__submission-result {
      gap: var(--gap-md);
    }
  }

  .upload__helper-alerts {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-self: stretch;
  }

  .upload__helper-text {
    margin: 0;
  }

  .upload__helper-text + .upload__helper-text {
    margin-top: var(--gap-xs);
  }

  .upload__no-teams {
    display: flex;
    gap: var(--gap-2xs);
    align-items: center;
  }

  .upload__no-teams-text {
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);

    font-size: var(--font-size-body-md);
  }

  .upload__category {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-items: flex-start;
    align-self: stretch;
  }

  .upload__category-label {
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);

    font-size: var(--font-size-body-md);
  }

  .upload__category-placeholder {
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body-md);
  }

  .upload__alert {
    align-self: stretch;
  }

  .upload__helper-text a:hover {
    text-decoration-thickness: 2px;
  }

  .upload__buttons .new-button:hover:not(:disabled) {
    filter: brightness(1.05);
  }

  .upload__nsfw-switch {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-items: center;
    align-self: flex-start;
    justify-content: flex-start;
  }

  .upload__buttons {
    display: flex;
    flex-direction: row;
    gap: var(--gap-md);
    align-self: stretch;
  }

  .upload__submit {
    flex: 1;
    align-self: stretch;
  }

  .submission__status {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  .upload__upload-indicator {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xs);
    align-self: stretch;
  }

  .upload__upload-indicator-label {
    margin: 0;
    color: var(--color-text-tertiary);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body-md);
  }
}
