.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 1.75rem;
  border: 1px solid #635a9f;
  border-radius: 6.25rem;
  background-color: #333370;
}

.root:hover {
  border: 1px solid rgb(99 90 159);
  background-color: var(--color-surface--7);
}

.root[data-state="checked"] {
  border: 1px solid rgb(57 233 170);
  background-color: rgb(57 233 170);
}

.thumb {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2.813rem;
  background: #f5f5f6;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.65), 0 -1px 0 0 rgb(0 0 0 / 0.05);
  transition: ease-out var(--animation-length-s);
}

.root[data-state="unchecked"] .thumb {
  background-color: var(--color-text--default);
  transform: translateX(-0.5rem);
}

.root[data-state="checked"] .thumb {
  background-color: var(--color-text--default);
  transform: translateX(0.5rem);
}
