.root {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--size) * 4.92) !important;
  background: transparent;
}

.placeholderRoot {
  --icon-inline-size: var(--size);
}

.image {
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) * 4.92);
  transition: opacity var(--animation-duration-md) ease-in-out;
}

.image:where(.placeholder) {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--size) * 4.92);
  background: rgb(67 67 132 / 0.32);
}

.image:where(.placeholderLetter) {
  color: #39e9aa;
  font: var(--font-body);
  font-weight: var(--font-weight-semibold);
  font-size: calc(var(--size) / 1.9);
  line-height: var(--line-height-xs);
}

.image:where(.placeholderIcon) {
  color: var(--old--color-accent-purple-9);
}

.image:where(.placeholderIcon):hover {
  color: #6060bd;
  background: #2a2a56;
}

.root:hover > .image {
  opacity: 0.9;
}

.verySmoll {
  --size: 1.375rem;
}

.small {
  --size: 2.5rem;
}

.medium {
  --size: 3rem;
}

.large {
  --size: 8rem;
}
