.root {
  align-items: center;
  justify-content: center;
  border-radius: var(--size) !important;
  background-color: #fff;
}

.image {
  min-width: var(--size);
  max-width: var(--size);
  min-height: var(--size);
  max-height: var(--size);
  border-radius: var(--size);
  transition: opacity 150ms ease-in-out;
}

.root:hover > .image {
  opacity: 0.9;
}

.medium {
  --size: 2.5rem;
}

.large {
  --size: 8rem;
}
