@layer cyberstorm-theme {
  /* SIZES */
  .toast:where(.toast--size--medium) {
    --toast-gap: 1rem;
    --toast-padding-block: 1rem;
    --toast-padding-inline: 1.5rem;
    --toast-font-size: var(--font-size-body-md);
    --toast-font-weight: var(--font-weight-regular);
    --toast-line-height: var(--line-height-md);
    --toast-icon-width: 1.125rem;
    --toast-icon-height: 1.375rem;
    --toast-border-radius: var(--radius-sm);
    --toast-close-width: 1.875rem;
    --toast-close-height: 1.875rem;
    --toast-close-icon-width: 0.875rem;
    --toast-close-icon-height: 0.875rem;
  }

  /* VARIANTS */
  .toast:where(.toast--variant--danger) {
    --toast-background-color: var(--toast-danger-bg-color--default);
    --toast-border-color: var(--toast-danger-border-color--default);
    --toast-icon-color: var(--toast-danger-icon-color--default);
    --toast-color: var(--toast-danger-text-color--default);
    --toast-close-icon-color: var(--toast-danger-close-color--default);
    --toast-close-icon-color-hover: var(--toast-danger-close-color--hover);
  }

  .toast:where(.toast--variant--info) {
    --toast-background-color: var(--toast-info-bg-color--default);
    --toast-border-color: var(--toast-info-border-color--default);
    --toast-icon-color: var(--toast-info-icon-color--default);
    --toast-color: var(--toast-info-text-color--default);
    --toast-close-icon-color: var(--toast-info-close-color--default);
    --toast-close-icon-color-hover: var(--toast-info-close-color--hover);
  }

  .toast:where(.toast--variant--success) {
    --toast-background-color: var(--toast-success-bg-color--default);
    --toast-border-color: var(--toast-success-border-color--default);
    --toast-icon-color: var(--toast-success-icon-color--default);
    --toast-color: var(--toast-success-text-color--default);
    --toast-close-icon-color: var(--toast-success-close-color--default);
    --toast-close-icon-color-hover: var(--toast-success-close-color--hover);
  }

  .toast:where(.toast--variant--warning) {
    --toast-background-color: var(--toast-warning-bg-color--default);
    --toast-border-color: var(--toast-warning-border-color--default);
    --toast-icon-color: var(--toast-warning-icon-color--default);
    --toast-color: var(--toast-warning-text-color--default);
    --toast-close-icon-color: var(--toast-warning-close-color--default);
    --toast-close-icon-color-hover: var(--toast-warning-close-color--hover);
  }
}
