@layer theme-components {
  /* SIZES */
  .toast:where(.toast--size--medium) {
    --toast-gap: var(--toast-md-gap);
    --toast-padding-block: var(--toast-md-padding-block);
    --toast-padding-inline: var(--toast-md-padding-inline);
    --toast-font-size: var(--toast-md-font-size);
    --toast-font-weight: var(--toast-md-font-weight);
    --toast-line-height: var(--toast-md-line-height);
    --toast-icon-width: var(--toast-md-icon-width);
    --toast-icon-height: var(--toast-md-icon-height);
    --toast-border-radius: var(--toast-md-border-radius);
    --toast-close-width: var(--toast-md-close-width);
    --toast-close-height: var(--toast-md-close-height);
    --toast-close-icon-width: var(--toast-md-close-icon-width);
    --toast-close-icon-height: var(--toast-md-close-icon-height);
  }

  /* VARIANTS */
  .toast:where(.toast--variant--danger) {
    --toast-background-color: var(--toast-danger-bg-color--default);
    --toast-border-color: var(--toast-danger-border-color--default);
    --toast-icon-color: var(--toast-danger-icon-color--default);
    --toast-color: var(--toast-danger-text-color--default);
    --toast-close-icon-color: var(--toast-danger-close-color--default);
    --toast-close-icon-color-hover: var(--toast-danger-close-color--hover);
  }

  .toast:where(.toast--variant--info) {
    --toast-background-color: var(--toast-info-bg-color--default);
    --toast-border-color: var(--toast-info-border-color--default);
    --toast-icon-color: var(--toast-info-icon-color--default);
    --toast-color: var(--toast-info-text-color--default);
    --toast-close-icon-color: var(--toast-info-close-color--default);
    --toast-close-icon-color-hover: var(--toast-info-close-color--hover);
  }

  .toast:where(.toast--variant--success) {
    --toast-background-color: var(--toast-success-bg-color--default);
    --toast-border-color: var(--toast-success-border-color--default);
    --toast-icon-color: var(--toast-success-icon-color--default);
    --toast-color: var(--toast-success-text-color--default);
    --toast-close-icon-color: var(--toast-success-close-color--default);
    --toast-close-icon-color-hover: var(--toast-success-close-color--hover);
  }

  .toast:where(.toast--variant--warning) {
    --toast-background-color: var(--toast-warning-bg-color--default);
    --toast-border-color: var(--toast-warning-border-color--default);
    --toast-icon-color: var(--toast-warning-icon-color--default);
    --toast-color: var(--toast-warning-text-color--default);
    --toast-close-icon-color: var(--toast-warning-close-color--default);
    --toast-close-icon-color-hover: var(--toast-warning-close-color--hover);
  }
}
