.line {
  display: flex;
  align-items: center;
  margin: var(--space--4) var(--space--8);
  border-bottom: var(--border-width--px) solid var(--color-purple--4);
}

.filterListHeader {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 0.5rem 0.75rem;
  color: var(--text-primary);
  font-weight: 700;

  /* Text/Auto/Small/700 */
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
}
