.gridTable {
  display: grid;
  overflow: hidden;
}

.gridHeaders {
  display: grid;
  grid-template-columns: repeat(var(--column-count, auto-fit), minmax(1rem, 1fr));
}

.gridHeader {
  display: flex;
  flex-direction: row;
  gap: var(--space--12);
  width: fit-content;
  margin: 0 var(--space--24) var(--space--16) var(--space--24);
  border-radius: var(--border-radius--8);
  color: var(--color-text--accent);
  font-weight: 700;
  font-size: var(--space--14);
  line-height: normal;
}

.gridHeader:hover {
  background-color: var(--color-surface--4);
}

.buttonIcon {
  color: hsl(240deg 25% 69% / 0.3);
  font-size: var(--font-size--s);
}

.buttonIconActive {
  color: hsl(240deg 25% 69%);
  font-size: var(--font-size--s);
}

.gridRows {
  display: grid;
  gap: 2px;
}

.gridRows div:first-child {
  border-top-left-radius: var(--border-radius--8);
  border-top-right-radius: var(--border-radius--8);
}

.gridRows div:last-child {
  border-bottom-right-radius: var(--border-radius--8);
  border-bottom-left-radius: var(--border-radius--8);
}

.gridRow {
  display: grid;
  grid-template-columns: repeat(var(--column-count, auto-fit), minmax(1rem, 1fr));
  background-color: var(--color-surface--3);
}

.gridRow:hover {
  background-color: var(--color-surface--5);
}

.gridCell {
  display: flex;
  align-items: center;
  padding: var(--space--16) var(--space--24);
  color: var(--color-text--secondary);
  font-weight: 500;
  line-height: var(--line-height--l);
}

.gridRow .gridCell:first-child {
  color: var(--color-text--default);
  font-weight: 700;
}
