.gridTable {
  display: grid;
  border-radius: var(--border-radius--8);
  overflow: hidden;
}

.gridHeaders {
  display: grid;
  grid-template-columns: repeat(var(--column-count, auto-fit), minmax(1rem, 1fr));
  color: var(--color-text--accent);
}

/* .gridHeaders:hover {
  background-color:hsl(var(--surface-3));
} */

.gridHeader {
  padding: var(--space--8) var(--space--24);
}

.gridRows {
  display: grid;
  gap: 2px;
}

.gridRows div:first-child {
  border-top-left-radius: var(--border-radius--8);
  border-top-right-radius: var(--border-radius--8);
}

.gridRows div:last-child {
  border-bottom-right-radius: var(--border-radius--8);
  border-bottom-left-radius: var(--border-radius--8);
}

.gridRow {
  display: grid;
  grid-template-columns: repeat(var(--column-count, auto-fit), minmax(1rem, 1fr));
  background-color: var(--color-surface--3);
}

/* .gridRow:hover {
  background-color:hsl(var(--surface-3));
} */

.gridCell {
  display: flex;
  align-items: center;
  padding: var(--space--16) var(--space--24);
  font-weight: 400;
  line-height: var(--line-height--l);
}
