@layer theme-components {
  /* theme base styles */
  .meta-item {
    --meta-item-gap: 0.5rem;
    --meta-item-font-weight: var(--font-weight-bold);
  }

  /* SIZES */
  .meta-item:where(.meta-item--size--16) {
    --meta-item-font-size: var(--meta-item-16-font-size);
    --meta-item-icon-width: var(--meta-item-16-icon-width);
    --meta-item-icon-height: var(--meta-item-16-icon-height);
  }

  .meta-item:where(.meta-item--size--14) {
    --meta-item-font-size: var(--meta-item-14-font-size);
    --meta-item-icon-width: var(--meta-item-14-icon-width);
    --meta-item-icon-height: var(--meta-item-14-icon-height);
  }

  .meta-item:where(.meta-item--size--12) {
    --meta-item-font-size: var(--meta-item-12-font-size);
    --meta-item-icon-width: var(--meta-item-12-icon-width);
    --meta-item-icon-height: var(--meta-item-12-icon-height);
  }

  /* VARIANTS */
  .meta-item:where(.meta-item--variant--default) {
    --meta-item-color: var(--meta-item-icon-color--default);
    --meta-item-icon-color: var(--meta-item-text-color--default);
  }

  /* TOKENS */
  :root {
    --meta-item-icon-color--default: var(--color-text-tertiary);
    --meta-item-text-color--default: var(--color-text-tertiary);

    /* 16 */
    --meta-item-16-font-size: var(--font-size-body-lg, 1rem);
    --meta-item-16-icon-width: 1rem;
    --meta-item-16-icon-height: 1rem;

    /* 14 */
    --meta-item-14-font-size: var(--font-size-body-md, 0.875rem);
    --meta-item-14-icon-width: 1rem;
    --meta-item-14-icon-height: 1rem;

    /* 12 */
    --meta-item-12-font-size: var(--font-size-body-sm, 0.75rem);
    --meta-item-12-icon-width: 0.875rem;
    --meta-item-12-icon-height: 0.875rem;
  }
}
