.root {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-body-md);
}

.header {
  display: flex;
  gap: var(--gap-md);
  justify-content: space-between;
  padding: var(--space-8) var(--space-12);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-lg);
}
