.label {
  display: flex;
  gap: var(--gap-sm);
  align-items: center;
  padding: var(--space-8) var(--space-12);
  border-radius: var(--radius-md);
  color: var(--color-text-secondary);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body-md);
  cursor: pointer;
  transition: var(--animation-duration-xs);
  user-select: none;

  &.unselected {
    --icon-color: var(--color-surface-a8);
  }

  &.selected {
    color: var(--color-cyber-green-7);
    font-weight: var(--font-weight-bold);

    --icon-color: var(--color-cyber-green-7);
  }

  &.off {
    color: var(--color-text-secondary);

    & > .checkbox > svg {
      --icon-color: var(--color-surface-a8);
    }
  }

  &.include {
    color: var(--color-cyber-green-7);
    font-weight: var(--font-weight-bold);

    & > .checkbox > svg {
      --icon-color: var(--color-cyber-green-7);
    }
  }

  &.exclude {
    color: var(--color-accent-red-7);
    font-weight: var(--font-weight-bold);

    & > .checkbox > svg {
      --icon-color: var(--color-accent-red-7);
    }
  }

  &:hover {
    color: var(--color-text-primary);
    background-color: var(--color-surface-a5);

    &.unselected {
      --icon-color: var(--color-surface-a10);
    }

    &.selected {
      color: var(--color-cyber-green-8);

      --icon-color: var(--color-cyber-green-8);
    }

    &.off {
      color: var(--color-text-primary);

      & > .checkbox > svg {
        --icon-color: var(--color-surface-a10);
      }
    }

    &.include {
      color: var(--color-cyber-green-8);

      & > .checkbox > svg {
        --icon-color: var(--color-cyber-green-8);
      }
    }

    &.exclude {
      color: var(--color-accent-red-8);

      & > .checkbox > svg {
        --icon-color: var(--color-accent-red-8);
      }
    }
  }
}

/* RADIO GROUP */
.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-16);
  height: var(--space-16);
  background-color: transparent;
  transition: ease-out var(--animation-duration-xs);
}

.radioIndicator {
  position: absolute;
  display: block;
  width: var(--space-16);
  height: var(--space-16);
}

/* CATEGORY MENU */
.list {
  list-style: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--space-20);
  height: var(--space-20);

  --icon-inline-size: var(--space-20);

  background-color: transparent;
  transition: ease-out var(--animation-duration-xs);
}
