.root {
  display: flex;
  padding: var(--space--8) var(--space--12);
  border-radius: var(--border-radius--8);
  color: var(--color-highlight);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  background-color: var(--bg-color);

  --bg-color: transparent;
}

.root:hover {
  --bg-color: var(--color-surface--4);
}

.leftIcon {
  margin-right: var(--space--8);
}

.rightIcon {
  margin-left: var(--space--8);
}

.link__thin {
  --font-size: var(--font-size--m);
  --font-weight: 400;
}

.link__bold {
  --font-size: var(--font-size--m);
  --font-weight: 700;
}
