@layer theme-components {
  /* theme base styles */
  .ts-button {
    --button-line-height: var(--line-height-auto);
    --button-gap: 1rem;
    --button-border-radius: 0.5rem;
    --button-font-weight: var(--font-weight-bold);
    --button-transition: ease-out var(--animation-duration-sm);
  }

  /* SIZES */
  .ts-button:where(.ts-size--xsmall) {
    --button-height: var(--button-xs-height);
    --button-padding-block: var(--button-xs-padding-block);
    --button-padding-inline: var(--button-xs-padding-inline);
    --button-border-radius: var(--button-xs-border-radius);
    --button-font-size: var(--button-xs-font-size);
    --button-gap: var(--button-xs-gap);
  }

  .ts-button:where(.ts-size--small) {
    --button-height: var(--button-sm-height);
    --button-padding-block: var(--button-sm-padding-block);
    --button-padding-inline: var(--button-sm-padding-inline);
    --button-border-radius: var(--button-sm-border-radius);
    --button-font-size: var(--button-sm-font-size);
    --button-gap: var(--button-sm-gap);
  }

  .ts-button:where(.ts-size--medium) {
    --button-height: var(--button-md-height);
    --button-padding-block: var(--button-md-padding-block);
    --button-padding-inline: var(--button-md-padding-inline);
    --button-border-radius: var(--button-md-border-radius);
    --button-font-size: var(--button-md-font-size);
    --button-gap: var(--button-md-gap);
  }

  .ts-button:where(.ts-size--big) {
    --button-height: var(--button-lg-height);
    --button-padding-block: var(--button-lg-padding-block);
    --button-padding-inline: var(--button-lg-padding-inline);
    --button-border-radius: var(--button-lg-border-radius);
    --button-font-size: var(--button-lg-font-size);
    --button-gap: var(--button-lg-gap);
  }

  /* VARIANTS DEFAULT STATE */
  .ts-button:where(.ts-variant--primary) {
    --button-background-color: var(--button-primary-bg-color--default);
    --button-text-color: var(--button-primary-text-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-background-color: var(--button-primary-bg-color--hover);
      --button-text-color: var(--button-primary-text-color--hover);
    }

    &:where(:active) {
      --button-background-color: var(--button-primary-bg-color--active);
      --button-text-color: var(--button-primary-text-color--active);
    }
  }

  .ts-button:where(.ts-variant--secondary) {
    --button-background-color: var(--button-secondary-bg-color--default);
    --button-text-color: var(--button-secondary-text-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-background-color: var(--button-secondary-bg-color--hover);
      --button-text-color: var(--button-secondary-text-color--hover);
    }

    &:where(:active) {
      --button-background-color: var(--button-secondary-bg-color--active);
      --button-text-color: var(--button-secondary-text-color--active);
    }
  }

  .ts-button:where(.ts-variant--accent) {
    --button-background-color: var(--button-accent-bg-color--default);
    --button-text-color: var(--button-accent-text-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-background-color: var(--button-accent-bg-color--hover);
      --button-text-color: var(--button-accent-text-color--hover);
    }

    &:where(:active) {
      --button-background-color: var(--button-accent-bg-color--active);
      --button-text-color: var(--button-accent-text-color--active);
    }
  }

  .ts-button:where(.ts-variant--special) {
    --button-text-color: var(--button-special-text-color--default);
    --button-border: var(--button-special-border--default);
    --button-border-color: var(--button-special-border-color--default);

    background: var(--button-special-background--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-text-color: var(--button-special-text-color--hover);
      --button-border: var(--button-special-border--hover);
      --button-border-color: var(--button-special-border-color--hover);

      background: var(--button-special-background--hover);
    }

    &:where(:active) {
      --button-text-color: var(--button-special-text-color--active);
      --button-border: var(--button-special-border--active);
      --button-border-color: var(--button-special-border-color--active);

      background: var(--button-special-background--active);
    }
  }

  .ts-button:where(.ts-variant--success) {
    --button-background-color: var(--button-success-bg-color--default);
    --button-text-color: var(--button-success-text-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-background-color: var(--button-success-bg-color--hover);
      --button-text-color: var(--button-success-text-color--hover);
    }

    &:where(:active) {
      --button-background-color: var(--button-success-bg-color--active);
      --button-text-color: var(--button-success-text-color--active);
    }
  }

  .ts-button:where(.ts-variant--info) {
    --button-background-color: var(--button-info-bg-color--default);
    --button-text-color: var(--button-info-text-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-background-color: var(--button-info-bg-color--hover);
      --button-text-color: var(--button-info-text-color--hover);
    }

    &:where(:active) {
      --button-background-color: var(--button-info-bg-color--active);
      --button-text-color: var(--button-info-text-color--active);
    }
  }

  .ts-button:where(.ts-variant--warning) {
    --button-background-color: var(--button-warning-bg-color--default);
    --button-text-color: var(--button-warning-text-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-background-color: var(--button-warning-bg-color--hover);
      --button-text-color: var(--button-warning-text-color--hover);
    }

    &:where(:active) {
      --button-background-color: var(--button-warning-bg-color--active);
      --button-text-color: var(--button-warning-text-color--active);
    }
  }

  .ts-button:where(.ts-variant--danger) {
    --button-background-color: var(--button-danger-bg-color--default);
    --button-text-color: var(--button-danger-text-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --button-background-color: var(--button-danger-bg-color--hover);
      --button-text-color: var(--button-danger-text-color--hover);
    }

    &:where(:active) {
      --button-background-color: var(--button-danger-bg-color--active);
      --button-text-color: var(--button-danger-text-color--active);
    }
  }

  /* MODIFIERS */
  .ts-button:where(:not(.ts-variant--special)):where(.ts-modifier--ghost):where(
      :not(:hover, :active)
    ) {
    --button-background-color: transparent;
  }

  .ts-button:where(.ts-variant--special):where(.ts-modifier--ghost):where(
      :not(:hover, :active)
    ) {
    background: transparent;
  }

  .ts-button[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  /* TOKENS */
  :root {
    --button-danger-bg-color--active: var(--color-accent-red-2);
    --button-danger-bg-color--default: var(--color-accent-red-4);
    --button-danger-bg-color--hover: var(--color-accent-red-3);
    --button-danger-text-color--active: var(--color-accent-red-11);
    --button-danger-text-color--default: var(--color-accent-red-11);
    --button-danger-text-color--hover: var(--color-accent-red-11);
    --button-info-bg-color--active: var(--color-accent-blue-2);
    --button-info-bg-color--default: var(--color-accent-blue-4);
    --button-info-bg-color--hover: var(--color-accent-blue-3);
    --button-info-text-color--active: var(--color-accent-blue-11);
    --button-info-text-color--default: var(--color-accent-blue-11);
    --button-info-text-color--hover: var(--color-accent-blue-11);
    --button-primary-bg-color--active: hsl(256deg 60% 42%);
    --button-primary-bg-color--default: hsl(256deg 60% 52%);
    --button-primary-bg-color--hover: hsl(256deg 67% 56%);
    --button-primary-text-color--active: var(--color-text-primary);
    --button-primary-text-color--default: var(--color-text-primary);
    --button-primary-text-color--hover: var(--color-text-primary);
    --button-secondary-bg-color--active: var(--color-surface-a6);
    --button-secondary-bg-color--default: var(--color-surface-a7);
    --button-secondary-bg-color--hover: var(--color-surface-a8);
    --button-secondary-text-color--active: var(--color-text-primary);
    --button-secondary-text-color--default: var(--color-text-primary);
    --button-secondary-text-color--hover: var(--color-text-primary);
    --button-success-bg-color--active: var(--color-accent-green-2);
    --button-success-bg-color--default: var(--color-accent-green-4);
    --button-success-bg-color--hover: var(--color-accent-green-3);
    --button-success-text-color--active: var(--color-accent-green-11);
    --button-success-text-color--default: var(--color-accent-green-11);
    --button-success-text-color--hover: var(--color-accent-green-11);
    --button-warning-bg-color--active: var(--color-accent-yellow-2);
    --button-warning-bg-color--default: var(--color-accent-yellow-4);
    --button-warning-bg-color--hover: var(--color-accent-yellow-3);
    --button-warning-text-color--active: var(--color-accent-yellow-11);
    --button-warning-text-color--default: var(--color-accent-yellow-11);
    --button-warning-text-color--hover: var(--color-accent-yellow-11);
    --button-special-text-color--active: var(--color-text-primary);
    --button-special-text-color--default: var(--color-text-primary);
    --button-special-text-color--hover: var(--color-text-primary);
    --button-special-border--active: 2px solid;
    --button-special-border--default: 2px solid;
    --button-special-border--hover: 2px solid;
    --button-special-border-color--active: transparent;
    --button-special-border-color--default: transparent;
    --button-special-border-color--hover: transparent;
    --button-special-background--active: linear-gradient(
          284deg,
          hsl(203deg 80% 21% / 1) 0%,
          hsl(155deg 46% 23% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(154deg 65% 67% / 1) 0%,
          hsl(203deg 92% 63% / 1) 100%
        )
        border-box;
    --button-special-background--default: linear-gradient(
          284deg,
          hsl(275deg 64% 11% / 1) 0%,
          hsl(156deg 46% 12% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(276deg 77% 54% / 1) 0%,
          hsl(158deg 100% 57% / 1) 100%
        )
        border-box;
    --button-special-background--hover: linear-gradient(
          284deg,
          hsl(203deg 80% 21% / 1) 0%,
          hsl(155deg 46% 23% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(154deg 65% 67% / 1) 0%,
          hsl(203deg 92% 63% / 1) 100%
        )
        border-box;
    --button-accent-bg-color--active: var(--color-cyber-green-6);
    --button-accent-bg-color--default: var(--color-cyber-green-7);
    --button-accent-bg-color--hover: var(--color-cyber-green-9);
    --button-accent-text-color--active: var(--color-cyber-green-2);
    --button-accent-text-color--default: var(--color-cyber-green-2);
    --button-accent-text-color--hover: var(--color-cyber-green-2);
    --button-lg-padding-block: 0rem;
    --button-lg-border-radius: var(--radius-md);
    --button-lg-font-size: var(--font-size-body-lg);
    --button-lg-gap: var(--space-16);
    --button-lg-padding-inline: var(--space-16);
    --button-lg-height: 2.75rem;
    --button-md-padding-block: 0rem;
    --button-md-border-radius: var(--radius-md);
    --button-md-font-size: var(--font-size-body-md);
    --button-md-gap: var(--space-16);
    --button-md-padding-inline: var(--space-16);
    --button-md-height: 2.75rem;
    --button-sm-padding-block: 0rem;
    --button-sm-border-radius: var(--radius-md);
    --button-sm-gap: var(--space-12);
    --button-sm-padding-inline: var(--space-12);
    --button-sm-font-size: var(--font-size-body-md);
    --button-sm-height: 2.25rem;
    --button-xs-padding-block: 0rem;
    --button-xs-border-radius: var(--radius-md);
    --button-xs-font-size: var(--font-size-body-sm);
    --button-xs-gap: var(--space-12);
    --button-xs-padding-inline: var(--space-12);
    --button-xs-height: 1.875rem;
  }
}
