@layer theme-components {
  /* theme base styles */
  .icon-button {
    --icon-button-border-radius: 0.5rem;
  }

  /* SIZES */
  .icon-button:where(.icon-button--size--xsmall) {
    --icon-button-height: var(--space-30);
    --icon-button-width: var(--space-30);
  }

  .icon-button:where(.icon-button--size--small) {
    --icon-button-height: var(--space-36);
    --icon-button-width: var(--space-36);
  }

  .icon-button:where(.icon-button--size--medium) {
    --icon-button-height: var(--space-44);
    --icon-button-width: var(--space-44);
  }

  /* VARIANTS DEFAULT STATE */
  .icon-button:where(.icon-button--variant--primary) {
    --icon-button-background-color: var(
      --icon-button-primary-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-primary-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-primary-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-primary-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-primary-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-primary-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--secondary) {
    --icon-button-background-color: var(
      --icon-button-secondary-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-secondary-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-secondary-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-secondary-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-secondary-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-secondary-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--accent) {
    --icon-button-background-color: var(--icon-button-accent-bg-color--default);
    --icon-button-icon-color: var(--icon-button-accent-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(--icon-button-accent-bg-color--hover);
      --icon-button-icon-color: var(--icon-button-accent-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-accent-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-accent-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--special) {
    --icon-button-icon-color: var(--icon-button-special-icon-color--default);
    --icon-button-border: var(--icon-button-special-border--default);
    --icon-button-border-color: var(--button-special-border-color--default);

    background: var(--icon-button-special-background--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-icon-color: var(--icon-button-special-icon-color--hover);
      --icon-button-border: var(--icon-button-special-border--hover);
      --icon-button-border-color: var(--button-special-border-color--hover);

      background: var(--icon-button-special-background--hover);
    }

    &:where(:active) {
      --icon-button-icon-color: var(--icon-button-special-icon-color--active);
      --icon-button-border: var(--icon-button-special-border--active);
      --icon-button-border-color: var(--button-special-border-color--active);

      background: var(--icon-button-special-background--active);
    }
  }

  .icon-button:where(.icon-button--variant--success) {
    --icon-button-background-color: var(
      --icon-button-success-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-success-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-success-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-success-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-success-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-success-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--info) {
    --icon-button-background-color: var(--icon-button-info-bg-color--default);
    --icon-button-icon-color: var(--icon-button-info-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(--icon-button-info-bg-color--hover);
      --icon-button-icon-color: var(--icon-button-info-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(--icon-button-info-bg-color--active);
      --icon-button-icon-color: var(--icon-button-info-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--warning) {
    --icon-button-background-color: var(
      --icon-button-warning-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-warning-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-warning-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-warning-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-warning-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-warning-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--danger) {
    --icon-button-background-color: var(--icon-button-danger-bg-color--default);
    --icon-button-icon-color: var(--icon-button-danger-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(--icon-button-danger-bg-color--hover);
      --icon-button-icon-color: var(--icon-button-danger-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-danger-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-danger-icon-color--active);
    }
  }

  /* MODIFIERS */
  .icon-button:where(:not(.icon-button--variant--special)):where(
      .icon-button--ghost
    ):where(:not(:hover, :active)) {
    --icon-button-background-color: transparent;
  }

  .icon-button:where(.icon-button--variant--special):where(
      .icon-button--ghost
    ):where(:not(:hover, :active)) {
    background: transparent;
  }

  .icon-button[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}
