@layer theme-components {
  /* theme base styles */
  .icon-button {
    --icon-button-border-radius: 0.5rem;
  }

  /* SIZES */
  .icon-button:where(.icon-button--size--xsmall) {
    --icon-button-height: var(--space-30);
    --icon-button-width: var(--space-30);
  }

  .icon-button:where(.icon-button--size--small) {
    --icon-button-height: var(--space-36);
    --icon-button-width: var(--space-36);
  }

  .icon-button:where(.icon-button--size--medium) {
    --icon-button-height: var(--space-44);
    --icon-button-width: var(--space-44);
  }

  /* VARIANTS DEFAULT STATE */
  .icon-button:where(.icon-button--variant--primary) {
    --icon-button-background-color: var(
      --icon-button-primary-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-primary-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-primary-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-primary-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-primary-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-primary-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--secondary) {
    --icon-button-background-color: var(
      --icon-button-secondary-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-secondary-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-secondary-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-secondary-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-secondary-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-secondary-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--accent) {
    --icon-button-background-color: var(--icon-button-accent-bg-color--default);
    --icon-button-icon-color: var(--icon-button-accent-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(--icon-button-accent-bg-color--hover);
      --icon-button-icon-color: var(--icon-button-accent-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-accent-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-accent-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--special) {
    --icon-button-icon-color: var(--icon-button-special-icon-color--default);
    --icon-button-border: var(--icon-button-special-border--default);
    --icon-button-border-color: var(--button-special-border-color--default);

    background: var(--icon-button-special-background--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-icon-color: var(--icon-button-special-icon-color--hover);
      --icon-button-border: var(--icon-button-special-border--hover);
      --icon-button-border-color: var(--button-special-border-color--hover);

      background: var(--icon-button-special-background--hover);
    }

    &:where(:active) {
      --icon-button-icon-color: var(--icon-button-special-icon-color--active);
      --icon-button-border: var(--icon-button-special-border--active);
      --icon-button-border-color: var(--button-special-border-color--active);

      background: var(--icon-button-special-background--active);
    }
  }

  .icon-button:where(.icon-button--variant--success) {
    --icon-button-background-color: var(
      --icon-button-success-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-success-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-success-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-success-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-success-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-success-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--info) {
    --icon-button-background-color: var(--icon-button-info-bg-color--default);
    --icon-button-icon-color: var(--icon-button-info-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(--icon-button-info-bg-color--hover);
      --icon-button-icon-color: var(--icon-button-info-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(--icon-button-info-bg-color--active);
      --icon-button-icon-color: var(--icon-button-info-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--warning) {
    --icon-button-background-color: var(
      --icon-button-warning-bg-color--default
    );
    --icon-button-icon-color: var(--icon-button-warning-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(
        --icon-button-warning-bg-color--hover
      );
      --icon-button-icon-color: var(--icon-button-warning-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-warning-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-warning-icon-color--active);
    }
  }

  .icon-button:where(.icon-button--variant--danger) {
    --icon-button-background-color: var(--icon-button-danger-bg-color--default);
    --icon-button-icon-color: var(--icon-button-danger-icon-color--default);

    &:where(:hover),
    &[data-state="open"] {
      --icon-button-background-color: var(--icon-button-danger-bg-color--hover);
      --icon-button-icon-color: var(--icon-button-danger-icon-color--hover);
    }

    &:where(:active) {
      --icon-button-background-color: var(
        --icon-button-danger-bg-color--active
      );
      --icon-button-icon-color: var(--icon-button-danger-icon-color--active);
    }
  }

  /* MODIFIERS */
  .icon-button:where(:not(.icon-button--variant--special)):where(
      .icon-button--ghost
    ):where(:not(:hover, :active)) {
    --icon-button-background-color: transparent;
  }

  .icon-button:where(.icon-button--variant--special):where(
      .icon-button--ghost
    ):where(:not(:hover, :active)) {
    background: transparent;
  }

  .icon-button[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  /* TOKENS */
  :root {
    --icon-button-danger-bg-color--active: var(--color-accent-red-2);
    --icon-button-danger-bg-color--default: var(--color-accent-red-4);
    --icon-button-danger-bg-color--hover: var(--color-accent-red-3);
    --icon-button-danger-icon-color--active: var(--color-accent-red-11);
    --icon-button-danger-icon-color--default: var(--color-accent-red-11);
    --icon-button-danger-icon-color--hover: var(--color-accent-red-11);
    --icon-button-info-bg-color--active: var(--color-accent-blue-2);
    --icon-button-info-bg-color--default: var(--color-accent-blue-4);
    --icon-button-info-bg-color--hover: var(--color-accent-blue-3);
    --icon-button-info-icon-color--active: var(--color-accent-blue-11);
    --icon-button-info-icon-color--default: var(--color-accent-blue-11);
    --icon-button-info-icon-color--hover: var(--color-accent-blue-11);
    --icon-button-primary-bg-color--active: hsl(256deg 60% 42%);
    --icon-button-primary-bg-color--default: hsl(256deg 60% 52%);
    --icon-button-primary-bg-color--hover: hsl(256deg 67% 56%);
    --icon-button-primary-icon-color--active: var(--color-text-primary);
    --icon-button-primary-icon-color--default: var(--color-text-primary);
    --icon-button-primary-icon-color--hover: var(--color-text-primary);
    --icon-button-secondary-bg-color--active: var(--color-surface-a6);
    --icon-button-secondary-bg-color--default: var(--color-surface-a7);
    --icon-button-secondary-bg-color--hover: var(--color-surface-a8);
    --icon-button-secondary-icon-color--active: var(--color-text-primary);
    --icon-button-secondary-icon-color--default: var(--color-text-accent);
    --icon-button-secondary-icon-color--hover: var(--color-text-primary);
    --icon-button-success-bg-color--active: var(--color-accent-green-2);
    --icon-button-success-bg-color--default: var(--color-accent-green-4);
    --icon-button-success-bg-color--hover: var(--color-accent-green-3);
    --icon-button-success-icon-color--active: var(--color-accent-green-11);
    --icon-button-success-icon-color--default: var(--color-accent-green-11);
    --icon-button-success-icon-color--hover: var(--color-accent-green-11);
    --icon-button-warning-bg-color--active: var(--color-accent-yellow-2);
    --icon-button-warning-bg-color--default: var(--color-accent-yellow-4);
    --icon-button-warning-bg-color--hover: var(--color-accent-yellow-3);
    --icon-button-warning-icon-color--active: var(--color-accent-yellow-11);
    --icon-button-warning-icon-color--default: var(--color-accent-yellow-11);
    --icon-button-warning-icon-color--hover: var(--color-accent-yellow-11);
    --icon-button-special-icon-color--active: var(--color-text-primary);
    --icon-button-special-icon-color--default: var(--color-text-primary);
    --icon-button-special-icon-color--hover: var(--color-text-primary);
    --icon-button-special-border--active: 2px solid;
    --icon-button-special-border--default: 2px solid;
    --icon-button-special-border--hover: 2px solid;
    --icon-button-special-border-color--active: transparent;
    --icon-button-special-border-color--default: transparent;
    --icon-button-special-border-color--hover: transparent;
    --icon-button-special-background--active: linear-gradient(
          284deg,
          hsl(203deg 80% 21% / 1) 0%,
          hsl(155deg 46% 23% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(154deg 65% 67% / 1) 0%,
          hsl(203deg 92% 63% / 1) 100%
        )
        border-box;
    --icon-button-special-background--default: linear-gradient(
          284deg,
          hsl(275deg 64% 11% / 1) 0%,
          hsl(156deg 46% 12% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(276deg 77% 54% / 1) 0%,
          hsl(158deg 100% 57% / 1) 100%
        )
        border-box;
    --icon-button-special-background--hover: linear-gradient(
          284deg,
          hsl(203deg 80% 21% / 1) 0%,
          hsl(155deg 46% 23% / 1) 100%
        )
        padding-box,
      linear-gradient(
          284deg,
          hsl(154deg 65% 67% / 1) 0%,
          hsl(203deg 92% 63% / 1) 100%
        )
        border-box;
    --icon-button-accent-bg-color--active: var(--color-cyber-green-6);
    --icon-button-accent-bg-color--default: var(--color-cyber-green-7);
    --icon-button-accent-bg-color--hover: var(--color-cyber-green-9);
    --icon-button-accent-icon-color--active: var(--color-cyber-green-2);
    --icon-button-accent-icon-color--default: var(--color-cyber-green-2);
    --icon-button-accent-icon-color--hover: var(--color-cyber-green-2);
  }
}
