@layer theme-components {
  /* SELECT */

  /* VARIANTS */

  /* .table:where(.table--variant--default) {
    --table-background-color: var(--dropdown-bg-color--default);
    --table-border-color: var(--dropdown-border-color--default);
    --table-box-shadow: var(--shadow-lg);
    --table-animation: fade-in var(--animation-duration-md) ease;
    --table-border: var(--space-px) var(--select-border-color) solid;
  } */

  /* SIZES */

  /* .table:where(.table--size--medium) {
    --table-border-radius: var(--dropdown-md-border-radius);
    --table-padding: var(--dropdown-md-padding);
  } */

  :root {
    --table-bg-color--default: var(--color-surface-4);
  }
}
