@layer nimbus-components {
  .paginated-dependencies {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    width: 100%;
    overflow-x: auto;
  }

  .paginated-dependencies__skeleton {
    height: 500px;
  }

  .paginated-dependencies__title {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: var(--space-24);
  }

  .paginated-dependencies__description {
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-md);
  }

  .paginated-dependencies__body {
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xs);
    align-items: flex-start;
    align-self: stretch;
    padding-bottom: var(--space-32);
  }
}
