@layer theme-components {
  /* SIZES */
  .alert:where(.alert--size--small) {
    --alert-gap: var(--alert-sm-gap);
    --alert-padding-block: var(--alert-sm-padding-block);
    --alert-padding-inline: var(--alert-sm-padding-inline);
    --alert-font-size: var(--alert-sm-font-size);
    --alert-font-weight: var(--alert-sm-font-weight);
    --alert-line-height: var(--alert-sm-line-height);
    --alert-icon-width: var(--alert-sm-icon-width);
    --alert-icon-height: var(--alert-sm-icon-height);
    --alert-border-radius: var(--alert-sm-border-radius);
  }

  /* VARIANTS */
  .alert:where(.alert--variant--danger) {
    --alert-background-color: var(--alert-danger-bg-color--default);
    --alert-border-color: var(--alert-danger-border-color--default);
    --alert-icon-color: var(--alert-danger-icon-color--default);
    --alert-color: var(--alert-danger-text-color--default);
  }

  .alert:where(.alert--variant--info) {
    --alert-background-color: var(--alert-info-bg-color--default);
    --alert-border-color: var(--alert-info-border-color--default);
    --alert-icon-color: var(--alert-info-icon-color--default);
    --alert-color: var(--alert-info-text-color--default);
  }

  .alert:where(.alert--variant--success) {
    --alert-background-color: var(--alert-success-bg-color--default);
    --alert-border-color: var(--alert-success-border-color--default);
    --alert-icon-color: var(--alert-success-icon-color--default);
    --alert-color: var(--alert-success-text-color--default);
  }

  .alert:where(.alert--variant--warning) {
    --alert-background-color: var(--alert-warning-bg-color--default);
    --alert-border-color: var(--alert-warning-border-color--default);
    --alert-icon-color: var(--alert-warning-icon-color--default);
    --alert-color: var(--alert-warning-text-color--default);
  }

  /* TOKENS */
  :root {
    --alert-danger-bg-color--default: var(--color-accent-red-2);
    --alert-danger-border-color--default: var(--color-accent-red-7);
    --alert-danger-icon-color--default: var(--color-accent-red-7);
    --alert-danger-text-color--default: var(--color-accent-red-11);
    --alert-info-bg-color--default: var(--color-accent-blue-2);
    --alert-info-border-color--default: var(--color-accent-blue-7);
    --alert-info-icon-color--default: var(--color-accent-blue-7);
    --alert-info-text-color--default: var(--color-accent-blue-11);
    --alert-success-bg-color--default: var(--color-accent-green-2);
    --alert-success-border-color--default: var(--color-accent-green-7);
    --alert-success-icon-color--default: var(--color-accent-green-7);
    --alert-success-text-color--default: var(--color-accent-green-11);
    --alert-warning-bg-color--default: var(--color-accent-yellow-2);
    --alert-warning-border-color--default: var(--color-accent-yellow-7);
    --alert-warning-icon-color--default: var(--color-accent-yellow-7);
    --alert-warning-text-color--default: var(--color-accent-yellow-11);
    --alert-sm-gap: var(--space-16);
    --alert-sm-padding-block: var(--space-16);
    --alert-sm-padding-inline: var(--space-24);
    --alert-sm-font-size: var(--font-size-body-md);
    --alert-sm-font-weight: var(--font-weight-regular);
    --alert-sm-line-height: var(--line-height-md);
    --alert-sm-icon-width: 1.125rem;
    --alert-sm-icon-height: 1.375rem;
    --alert-sm-border-radius: var(--radius-sm);
  }
}
