@layer cyberstorm-theme {
  /* SIZES */
  .alert:where(.alert--size--small) {
    --alert-gap: 1rem;
    --alert-padding-block: 1rem;
    --alert-padding-inline: 1.5rem;
    --alert-font-size: var(--font-size-body-md);
    --alert-font-weight: var(--font-weight-regular);
    --alert-line-height: var(--line-height-md);
    --alert-icon-width: 1.125rem;
    --alert-icon-height: 1.375rem;
    --alert-border-radius: var(--radius-sm);
  }

  /* VARIANTS */
  .alert:where(.alert--variant--danger) {
    --alert-background-color: var(--alert-danger-bg-color--default);
    --alert-border-color: var(--alert-danger-border-color--default);
    --alert-icon-color: var(--alert-danger-icon-color--default);
    --alert-color: var(--alert-danger-text-color--default);
  }

  .alert:where(.alert--variant--info) {
    --alert-background-color: var(--alert-info-bg-color--default);
    --alert-border-color: var(--alert-info-border-color--default);
    --alert-icon-color: var(--alert-info-icon-color--default);
    --alert-color: var(--alert-info-text-color--default);
  }

  .alert:where(.alert--variant--success) {
    --alert-background-color: var(--alert-success-bg-color--default);
    --alert-border-color: var(--alert-success-border-color--default);
    --alert-icon-color: var(--alert-success-icon-color--default);
    --alert-color: var(--alert-success-text-color--default);
  }

  .alert:where(.alert--variant--warning) {
    --alert-background-color: var(--alert-warning-bg-color--default);
    --alert-border-color: var(--alert-warning-border-color--default);
    --alert-icon-color: var(--alert-warning-icon-color--default);
    --alert-color: var(--alert-warning-text-color--default);
  }
}
