@layer theme-components {
  /* SIZES */
  .alert:where(.alert--size--small) {
    --alert-gap: var(--alert-sm-gap);
    --alert-padding-block: var(--alert-sm-padding-block);
    --alert-padding-inline: var(--alert-sm-padding-inline);
    --alert-font-size: var(--alert-sm-font-size);
    --alert-font-weight: var(--alert-sm-font-weight);
    --alert-line-height: var(--alert-sm-line-height);
    --alert-icon-width: var(--alert-sm-icon-width);
    --alert-icon-height: var(--alert-sm-icon-height);
    --alert-border-radius: var(--alert-sm-border-radius);
  }

  /* VARIANTS */
  .alert:where(.alert--variant--danger) {
    --alert-background-color: var(--alert-danger-bg-color--default);
    --alert-border-color: var(--alert-danger-border-color--default);
    --alert-icon-color: var(--alert-danger-icon-color--default);
    --alert-color: var(--alert-danger-text-color--default);
  }

  .alert:where(.alert--variant--info) {
    --alert-background-color: var(--alert-info-bg-color--default);
    --alert-border-color: var(--alert-info-border-color--default);
    --alert-icon-color: var(--alert-info-icon-color--default);
    --alert-color: var(--alert-info-text-color--default);
  }

  .alert:where(.alert--variant--success) {
    --alert-background-color: var(--alert-success-bg-color--default);
    --alert-border-color: var(--alert-success-border-color--default);
    --alert-icon-color: var(--alert-success-icon-color--default);
    --alert-color: var(--alert-success-text-color--default);
  }

  .alert:where(.alert--variant--warning) {
    --alert-background-color: var(--alert-warning-bg-color--default);
    --alert-border-color: var(--alert-warning-border-color--default);
    --alert-icon-color: var(--alert-warning-icon-color--default);
    --alert-color: var(--alert-warning-text-color--default);
  }
}
