.root {
  display: flex;
  flex-direction: row;
  gap: var(--space--32);
  margin: var(--space--16) 0;
  padding: 0 0 var(--space--32) 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--space--4);
}

@media (max-width: 30rem) {
  .root {
    gap: var(--space--16);
  }
}

.meta {
  display: flex;
  flex-direction: row;
  gap: var(--space--16);
  padding-top: var(--space--16);
}
