@layer components {
  .card-package {
    position: relative;
    display: grid;
    grid-template:
      "image" auto
      "content" 1fr;
    border-radius: var(--card-package-border-radius);
    overflow-wrap: anywhere;
    background-color: var(--card-package-background-color);
    transition: var(--card-package-transition);
  }

  .card-package__media {
    grid-area: image;
  }

  .card-package:has(:focus-visible) {
    outline: var(--card-package-focus-outline);
    outline-offset: var(--card-package-focus-outline-offset);
  }

  .card-package:hover {
    background-color: var(--card-package-hover-background-color);
    box-shadow: var(--card-package-hover-box-shadow);
  }

  .card-package--is-liked {
    --meta-item-icon-color: var(--card-package--is-liked-icon-color);
  }

  .card-package__image-wrapper {
    border-radius: var(--radius-md) var(--radius-md) 0 0 !important;

    &:hover {
      filter: brightness(1.2);

      > div {
        transform: scale(1.035);
      }
    }
  }

  .card-package:focus-within .card-package__image-wrapper {
    filter: brightness(1.2);

    > div {
      transform: scale(1.035);
    }
  }

  .card-package__content {
    display: grid;
    grid-area: content;
    grid-template:
      "info" auto
      "desc" 1fr
      "tags" auto
      "footer" auto;
    gap: var(--gap-sm);
    padding: 0.75rem;
  }

  .card-package__image-tags {
    position: absolute;
    right: 0;
    z-index: 1;
    display: flex;
    flex-flow: row-reverse;
    flex-wrap: wrap;
    gap: var(--space-8);
    margin: var(--space-8);
  }

  .card-package__info {
    display: grid;
    grid-area: info;
    grid-template:
      "title" auto
      "author" auto;
    gap: var(--space-6);
    width: 100%;
  }

  .card-package__title {
    grid-area: title;
    width: 100%;
    overflow: hidden;
    color: var(--card-package--title-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-body-xl);
    font-family: var(--font-family--inter);
    font-style: normal;
    line-height: var(--line-height-auto);
    white-space: nowrap;
    text-overflow: ellipsis;

    --link-color: var(--card-package--title-link-color);
  }

  .card-package__title:focus-visible {
    outline: none !important;
  }

  .card-package__author {
    display: grid;
    grid-area: author;
    grid-template-columns: auto 1fr;
    width: 100%;
    min-width: 0;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    text-decoration: none;
  }

  .card-package__link {
    overflow: hidden;
    font-weight: var(--font-weight-regular);
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .card-package__prefix {
    min-width: max-content;
    padding-right: var(--space-4);
    color: var(--card-package--prefix-color);
  }

  .card-package__description {
    grid-area: desc;
    min-width: 0;
    min-height: 0;
    color: var(--card-package--description-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-md);
    font-family: var(--font-family--inter);
    font-style: normal;
    line-height: var(--line-height-md);
  }

  .card-package__tags {
    display: flex;
    flex-wrap: wrap;
    grid-area: tags;
    gap: var(--gap-2xs);
    justify-content: flex-end;
  }

  .card-package__footer {
    display: flex;
    flex-direction: column;
    grid-area: footer;
    gap: var(--gap-sm);
  }

  .card-package__meta {
    display: flex;
    flex-wrap: wrap;
    gap: 12px 24px;
    color: var(--color-text-tertiary);
  }

  .card-package__updated {
    display: inline-flex;
    gap: var(--space-6);
    align-items: center;
    color: var(--card-package--updated-color);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-body-sm);
  }
}
