/* Common SquareButton styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap--16);
  align-items: center;

  max-width: 45px;
  max-height: 45px;
  padding: var(--space--12);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--border-radius--8);
  color: var(--text-color);
  background-color: var(--bg-color);

  --font-size: var(--font-size--l);
  --button-border-color: transparent;
  --button-border-width: var(--border-width--2);
}

.root:hover {
  transition: ease-out 60ms;
}
