.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--space--8);
  align-items: center;
  justify-content: center;
  min-width: 2.25em;
  min-height: 2.25em;

  padding: var(--space--8) var(--space--8);
  border-radius: var(--border-radius--8);
  color: var(--color-text--tertiary);
  background-color: var(--bg-color);

  --bg-color: var(--color-surface--1);
}

.label {
  font: var(--font-body);
  font-weight: 500;
  line-height: var(--line-height--18);
}

.button__default {
  --bg-color: var(--color-surface--1);
}

.button__default:hover {
  color: var(--color-text--default);

  --bg-color: var(--color-surface--3);
}

.button__default_selected {
  color: var(--color-text--default);

  --bg-color: var(--color-alternate-purple--4);
}
