.list {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  align-items: center;
  justify-content: center;
  list-style: none;
}

.disabled {
  pointer-events: none;
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.25em;
  min-height: 2.25em;

  padding: var(--space--8) var(--space--8);
  border-radius: var(--border-radius--8);
  color: var(--color-text--secondary);

  font-weight: var(--font-weight-medium);
  line-height: var(--line-height--18);
  background-color: var(--bg-color);

  --bg-color: none;
}
