.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--space-8);
  align-items: center;
  justify-content: center;
  min-width: 2.25em;
  height: 2.25em;

  padding: var(--space-8) var(--space-8);
  border-radius: var(--radius-md);
  color: var(--color-text--tertiary);
  background-color: var(--bg-color);

  --bg-color: var(--color-surface-4);
}

.label {
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height--18);
}

.icon {
  width: 1em;
  height: 1em;
}

.button__default {
  --bg-color: var(--color-surface-4);
}

.button__default:hover {
  color: var(--color-text--default);

  --bg-color: var(--color-surface-7);
}

.button__default_selected {
  color: var(--color-text--default);

  --bg-color: var(--color-surface-10);
}

.button__inactive {
  --bg-color: none;
}
