.root {
  display: flex;
  flex-direction: column;

  --border-color: var(--color-surface--5);
}

.title {
  margin-bottom: var(--space--24);
  font-weight: 700;
  font-size: var(--font-size--xxl);
  line-height: var(--line-height--xxl);
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  padding: var(--space--16);
  border: var(--space--2) solid var(--border-color);
  border-radius: var(--border-radius--8);
  background-color: var(--bg-color);

  --bg-color: var(--color-purple--2);
}

.itemWrapper + .itemWrapper::before {
  display: inline-block;
  height: var(--space--24);
  margin-left: var(--space--24);
  border-left: var(--space--2) solid var(--border-color);
  content: "\00a0";
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.isCurrent {
  --bg-color: var(--color-purple--5);
}

.versionNumber {
  display: flex;
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.currentLabel {
  margin: 0 var(--space--6);
  color: var(--color-text--tertiary);
}

.releaseDate {
  color: var(--color-text--tertiary);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}

.content {
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
}
