name: Auto-merge dependabot

on:
  pull_request_target:

jobs:
  auto-merge:
    name: Auto-merge
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: minor
          github-token: ${{ secrets.AUTO_MERGE_GITHUB_PAT }}
