# Workflow for detecting visual changes in Storybook components.
name: 'Chromatic'
on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        projects: [
          { dir: "apps/storybook", token: "CHROMATIC_PROJECT_TOKEN" },
          { dir: "apps/cyberstorm-storybook", token: "CHROMATIC_CYBERSTORM_TOKEN" },
        ]
    steps:
      - uses: actions/checkout@v1
      - name: Set fontawesome token
        run: |
          npm config set "@fortawesome:registry" https://npm.fontawesome.com/
          npm config set "//npm.fontawesome.com/:_authToken" ${{ secrets.NPM_FA_TOKEN }}
      - name: Install dependencies
        run: yarn
      - name: Publish to Chromatic
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets[matrix.projects.token] }}
          workingDir: ${{ matrix.projects.dir }}
          exitOnceUploaded: true
