.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
  width: 448px;
  max-width: 100%;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.inputFieldRow {
  display: flex;
  flex-direction: column;
  gap: var(--gap--24);
}

.label {
  margin-bottom: var(--space--8);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.descriptor {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
  padding: var(--space--8) 0;
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--m);
  line-height: var(--line-height--m);
  text-align: center;
}

.descriptor::before,
.descriptor::after {
  position: relative;
  top: 50%;
  flex: 1 0 auto;
  border-top: var(--space--px) solid var(--color-surface--6);
  content: "\00a0";
}

.continueButtons {
  display: flex;
  flex-direction: row;
  gap: var(--gap--8);
}

.continueButton {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
