.root {
  display: flex;
  flex-direction: column;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--space--32);
  border-top: var(--border-width--px) solid var(--color-surface--5);
}

.dialogText {
  color: var(--color-text--secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--l);
  line-height: var(--line-height--l);
}

.dialogTeamName,
.dialogAddedServiceAccountName {
  color: var(--color-highlight);
}

.token {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.12rem;
}

.token > :last-child > button {
  border-radius: 0 0.5rem 0.5rem 0;
}

.tokenField {
  display: flex;
  flex: 1 0 0;
  align-items: center;
  height: 2.75rem;
  padding: 1rem;
  border: 1px solid #333370;
  border-radius: 0.5rem 0 0 0.5rem;
  background: #070721;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-between;
  padding: var(--space--16) var(--space--24);
  border-top: var(--border-width--px) solid var(--color-surface--5);
}
