.root {
  display: flex;
  flex-direction: column;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--space-32);
  border-top: var(--border-width--px) solid var(--color-surface-5);
}

.dialogText {
  color: var(--color-text--secondary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-xxxxl);
  line-height: var(--line-height--l);
}

.fields {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.usernameWrapper {
  display: flex;
  flex-direction: column;
}

.fields > :first-child {
  flex-grow: 1;
}

.teamNameText {
  color: #39e9aa;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  justify-content: space-between;
  padding: var(--space-16) var(--space-24);
  border-top: var(--border-width--px) solid var(--color-surface-5);
}
