.root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.donationLink {
  display: flex;
  align-items: center;
  padding: var(--space--16) var(--space--32);
  background-color: var(--color-surface--2);
}

.donationLinkLabel {
  width: 8em;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  background-color: var(--color-surface--2);
}

.donationLinkActions {
  display: flex;
  flex: 1 1 0;
  gap: var(--space--16);
  align-items: center;
}

.donationLinkTextInput {
  flex-grow: 1;
}

.donationLinkTextInput > div {
  width: 100%;
}

.line {
  margin: var(--space--24) 0;
  border-bottom: var(--border-width--px) solid var(--color-surface--4);
}

.avatarContent {
  display: flex;
  flex-direction: row;
  gap: var(--gap--32);
  align-items: center;
}

.saveChangesWrapper {
  display: flex;
  flex-direction: row-reverse;
}

@media (width <= 30rem) {
  .donationLink {
    flex-direction: column;
    gap: var(--gap--16);
    align-items: flex-start;
  }
}
