.root {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  gap: var(--gap--32);
}

.privacyPolicyLink {
  color: var(--color-highlight);
}

.connectionList {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
}

.itemWrapper {
  padding: var(--space--16) var(--space--32);
  border-radius: var(--border-radius--8);
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: space-between;
}

.enabled {
  background-color: var(--color-surface--3);
}

.disabled {
  background-color: var(--color-surface--1);
}

.connectionTypeInfo {
  display: flex;
  gap: var(--space--24);
  align-items: center;
  justify-content: center;
}

.disabled > .item > .connectionTypeInfo {
  opacity: 0.5;
}

.connectionTypeInfoIcon {
  display: flex;
  justify-content: center;
  width: 2.5em;
  aspect-ratio: 1;
}

.connectionTypeInfoName {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--l);
  line-height: 1;
}

.rightSection {
  display: flex;
  gap: var(--gap--32);
  align-items: center;
  justify-content: center;
}

.connectedAs {
  display: flex;
  flex-direction: column;
  gap: var(--gap--4);
  align-items: flex-end;
}

.connectedAsDescription {
  color: var(--color-text--tertiary);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size--m);
  line-height: 1;
}

.connectedAsUsername {
  color: var(--color-text--default);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size--m);
  line-height: normal;
}

.loginLink {
  display: flex;
  flex: 1 0 0;
  gap: 2.5rem;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  color: #f5f5f6;
  font-weight: 700;
  font-size: 0.875rem;
}

@media (max-width: 30rem) {
  .item {
    flex-direction: column;
    gap: var(--gap--8);
  }
}
