/* Common Button styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap--16);
  align-items: center;
  justify-content: center;

  padding: var(--space--12) var(--space--16);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--border-radius--8);
  color: var(--text-color);

  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;
  background-color: var(--bg-color);
  user-select: none;

  --font-size: var(--font-size--l);
  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--7);
  --button-border-color: transparent;
  --button-border-width: var(--border-width--2);
}

.root:hover {
  transition: ease-out 60ms;
}

/* Different Button color schemes */

.root[data-variant="default"] {
  --text-color: var(--color-text--default);
  --bg-color: var(--color-surface--7);
}

.root[data-variant="default"]:hover {
  --bg-color: var(--color-surface--10);
  --button-border-color: transparent;
}

.root[data-variant="primary"] {
  --bg-color: var(--color-surface--10);
}

.root[data-variant="primary"]:hover {
  --bg-color: var(--color-surface--10--hover);
}

.root[data-variant="fancyAccent"] {
  border: none;

  --bg-color: var(--color-cyber-green--60);
  --text-color: var(--color-cyber-green--10);

  box-shadow:
    inset 0 -3px 0 0 rgb(0 0 0 / 0.35),
    inset 0 var(--space--px) 0 0 rgb(255 255 255 / 0.2),
    inset 0 0 var(--space--16) 0 var(--color-green--6);
}

.root[data-variant="fancyAccent"]:hover {
  box-shadow:
    inset 0 -3px 0 0 rgb(0 0 0 / 0.35),
    inset 0 var(--space--px) 0 0 rgb(255 255 255 / 0.2),
    inset 0 0 var(--space--16) 0 var(--color-green--3),
    0 0 var(--space--10) 0 rgb(79 216 159 / 0.5);
}

.root[data-variant="fancyAccent"]:active {
  --bg-color: var(--color-cyber-green--50);

  box-shadow:
    inset 0 var(--space--2) 0 0 rgb(0 0 0 / 0.25),
    0 0 var(--space--10) 0 rgb(79 216 159 / 0.5);
}

.root[data-variant="accent"] {
  --text-color: var(--color-black);
  --bg-color: var(--color-highlight);
}

.root[data-variant="accent"]:hover {
  --bg-color: var(--color-highlight--hover);
}

.root[data-variant="tertiary"] {
  --bg-color: transparent;
}

.root[data-variant="tertiary"]:hover {
  --bg-color: var(--color-surface--7);
}

.root[data-variant="success"] {
  --text-color: var(--color-success-text);
  --bg-color: var(--color-success-background);
}

.root[data-variant="success"]:hover {
  --bg-color: var(--color-success-background--hover);
}

.root[data-variant="warning"] {
  --text-color: var(--color-warning-text);
  --bg-color: var(--color-warning-background);
}

.root[data-variant="warning"]:hover {
  --bg-color: var(--color-warning-background--hover);
}

.root[data-variant="discord"] {
  --text-color: var(--text-primary);
  --bg-color: rgba(88 101 242 / 1);
}

.root[data-variant="discord"]:hover {
  --bg-color: rgb(36 52 224);
}

.root[data-variant="github"] {
  --text-color: var(--text-primary);
  --bg-color: rgba(51 51 51 / 1);
}

.root[data-variant="github"]:hover {
  --bg-color: rgb(26 26 26);
}

.root[data-variant="overwolf"] {
  --text-color: var(--text-primary);
  --bg-color: rgba(211 64 55 / 1);
}

.root[data-variant="overwolf"]:hover {
  --bg-color: rgb(166 12 12);
}

.root[data-variant="danger"] {
  --text-color: var(--color-danger-text);
  --bg-color: var(--color-danger-background);
}

.root[data-variant="danger"]:hover {
  --bg-color: var(--color-danger-background--hover);
}

/* Special-style Buttons */

.root[data-variant="specialPurple"],
.root[data-variant="specialGreen"] {
  position: relative;
  z-index: 1;
  transition: all 0.12s;
}

.root[data-variant="specialGreen"] {
  background: var(--color-gradient-blue-green--darker) padding-box, var(--color-gradient-blue-green) border-box;
  box-shadow: var(--box-shadow-special-green);
}

.root[data-variant="specialPurple"] {
  background: linear-gradient(315deg, #1f0a2e 0%, #102b20 100%) padding-box, linear-gradient(315deg, #9d30e4 0%, #23ffb0 100%) border-box;
}

.root[data-variant="specialGreen"]:hover {
  --button-border-color: transparent;

  box-shadow: var(--box-shadow-special-green--highlight);
}

.root[data-variant="specialPurple"]:hover {
  --button-border-color: transparent;

  background: linear-gradient(315deg, #0b4162 0%, #205740 100%) padding-box, linear-gradient(315deg, #49b5f7 0%, #73e1b2 100%) border-box;
}

.root[data-variant="specialGreen"]::before,
.root[data-variant="specialPurple"]::before {
  position: absolute;
  top: calc(0 - var(--button-border-width));
  right: calc(0 - var(--button-border-width));
  bottom: calc(0 - var(--button-border-width));
  left: calc(0 - var(--button-border-width));
  z-index: -1;
  border: var(--button-border-width) solid transparent;
  border-radius: var(--border-radius--8);
  opacity: 0;
  transition: all 0.12s;
  content: "";
}

.root[data-variant="specialGreen"]::before {
  background: var(--color-gradient-blue-green--dark) padding-box, var(--color-gradient-blue-green--light) border-box;
}

.root[data-variant="specialPurple"]::before {
  background: var(--color-gradient-purple-green--dark) padding-box, var(--color-gradient-purple-green--light) border-box;
}

.root[data-variant="specialPurple"]:hover::before,
.root[data-variant="specialGreen"]:hover::before {
  opacity: 1;
}

.root[data-variant="transparentDefault"] {
  --bg-color: transparent;
}

.root[data-variant="transparentDefault"]:hover {
  --bg-color: var(--color-surface--4);
}

.root[data-variant="transparentDanger"] {
  --bg-color: transparent;
  --text-color: var(--color-border--highlight);
}

.root[data-variant="transparentDanger"]:hover {
  --bg-color: var(--color-danger-background);
  --text-color: var(--color-danger-text);
}

.root[data-variant="transparentTertiary"] {
  --bg-color: transparent;
  --text-color: var(--color-text--tertiary);
}

.root[data-variant="transparentTertiary"]:hover {
  --bg-color: var(--color-surface--4);
}

.root[data-variant="transparentPrimary"] {
  --text-color: var(--color-highlight);
  --bg-color: transparent;
}

.root[data-variant="transparentPrimary"]:hover {
  --text-color: var(--color-highlight--hover);
  --bg-color: var(--color-surface--4);
}

.root[data-variant="transparentAccent"] {
  --text-color: var(--color-text--accent);
  --bg-color: transparent;
}

.root[data-variant="transparentAccent"]:hover {
  --text-color: var(--color-text--accent);
  --bg-color: var(--color-surface--7);
}

.root[data-variant="wideDarker"] {
  justify-content: space-between;

  --bg-color: #27275d;
}

/* Button padding sizes */

.root[data-padding="none"] {
  gap: var(--gap--4);
  padding: 0;
  border-radius: 0;
}

.root[data-padding="small"] {
  gap: var(--gap--12);
  padding: var(--space--6) var(--space--8);
}

.root[data-padding="medium"] {
  gap: var(--gap--12);
  padding: var(--space--8) var(--space--12);
}

.root[data-padding="mediumSquare"] {
  max-width: 45px;
  max-height: 45px;
  padding: var(--space--12);
}

.root[data-padding="large"] {
  gap: var(--gap--16);
  padding: var(--space--12) var(--space--16);
}

.root[data-padding="huge"] {
  gap: var(--gap--16);
  padding-block: var(--button-padding-block);

  --button-padding-block: var(--space--16);
}

.root[data-padding="huge"]:active {
  --button-padding-block: calc(var(--space--16) + var(--space--2)) calc(var(--space--16) - var(--space--2));
}

/* Button Icon */

.icon[data-icon-size="default"] {
  width: 1em;
  height: 1em;
}

.icon[data-icon-size="tslogo_install_button"] {
  width: 1.655rem;
  height: 1.463rem;
}

.icon[data-icon-color="default"] {
  color: var(--color-text--default);
}

.icon[data-icon-color="darker"] {
  color: #9c9cc4;
}

/* Button Label */

.label {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;

  --font-weight: 700;
}

.label[data-font-size="small"] {
  --font-size: var(--font-size--s);
}

.label[data-font-size="medium"] {
  --font-size: var(--font-size--m);
}

.label[data-font-size="large"] {
  --font-size: var(--font-size--l);
}

.label[data-font-size="huge"] {
  --font-size: 1.375rem;
}

.label[data-font-weight="600"] {
  --font-weight: 600;
}

.label[data-font-weight="700"] {
  --font-weight: 700;
}

.label[data-font-weight="800"] {
  --font-weight: 800;
}
