/* Common Button styles */
.root {
  display: flex;
  flex: none;
  flex-direction: row;
  gap: var(--gap--16);
  align-items: center;
  justify-content: center;

  padding: var(--space--14) var(--space--16);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--border-radius--12);
  color: var(--text-color);
  background-color: var(--bg-color);

  --text-color: var(--color-white);
  --bg-color: var(--color-default);
  --button-border-color: transparent;
  --button-border-width: var(--border-width--2);
}

/* Styles for Button's text */
.label {
  font: var(--font-heading);
  font-weight: 500;
  line-height: var(--line-height--18);
}

/* Different Button color schemes */

.button__default {
  --text-color: var(--color-white);
  --bg-color: var(--color-default);
}

.button__default:hover {
  --bg-color: var(--color-default-dark--hover);
  --button-border-color: var(--color-border-default--hover);
}

.button__defaultDark {
  --text-color: var(--color-white);
  --bg-color: var(--color-default-dark);
}

.button__defaultDark:hover {
  --bg-color: var(--color-default-dark--hover);
  --button-border-color: var(--color-border-default--hover);
}

.button__primary {
  --text-color: var(--color-black);
  --bg-color: var(--color-highlight);
}

.button__primary:hover {
  --bg-color: var(--color-highlight--hover);
}

.button__danger {
  --text-color: var(--color-white);
  --bg-color: var(--color-danger);
}

.button__danger:hover {
  --bg-color: var(--color-danger--hover);
}

.button__defaultWithBorder {
  --bg-color: var(--color-default);
  --text-color: var(--color-white);
  --button-border-color: var(--color-border-default--hover);
}

.button__defaultWithBorder:hover {
  --bg-color: var(--color-default-dark--hover);
  --button-border-color: var(--color-border-default);
}

/* Special-style Buttons */

.button__specialPurple,
.button__specialGreen {
  position: relative;
  z-index: 1;
  transition: all 0.12s;
}

.button__specialGreen {
  background: var(--color-gradient-blue-green--darker) padding-box, var(--color-gradient-blue-green) border-box;
  box-shadow: var(--box-shadow-special-green);
}

.button__specialPurple {
  background: var(--color-gradient-purple-green--darker) padding-box, var(--color-gradient-purple-green) border-box;
}

.button__specialGreen:hover {
  --button-border-color: transparent;

  box-shadow: var(--box-shadow-special-green--highlight);
}

.button__specialPurple:hover {
  --button-border-color: transparent;

  box-shadow: var(--box-shadow-special-purple--highlight);
}

.button__specialGreen::before,
.button__specialPurple::before {
  position: absolute;
  top: calc(0px - var(--button-border-width));
  right: calc(0px - var(--button-border-width));
  bottom: calc(0px - var(--button-border-width));
  left: calc(0px - var(--button-border-width));
  z-index: -1;
  border: var(--button-border-width) solid transparent;
  border-radius: var(--border-radius--12);
  opacity: 0;
  transition: all 0.12s;
  content: "";

  --text-color: var(--color-white);
}

.button__specialGreen::before {
  background: var(--color-gradient-blue-green--dark) padding-box, var(--color-gradient-blue-green--light) border-box;
}

.button__specialPurple::before {
  background: var(--color-gradient-purple-green--dark) padding-box, var(--color-gradient-purple-green--light) border-box;
}

.button__specialPurple:hover::before,
.button__specialGreen:hover::before {
  opacity: 1;
}

.button__transparent {
  --text-color: var(--color-text--tertiary);
  --bg-color: transparent;
}

.button__transparent:hover {
  --text-color: var(--color-text--secondary);
  --bg-color: var(--color-surface--2);
}

.small {
  gap: 12px;
  padding: var(--space--8) var(--space--12);
  border-radius: var(--border-radius--8);
}

.small > .label {
  font-size: var(--font-size--12);
}
