.root {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: 1;
  text-align: center;
}

.font__small {
  --font-size: var(--font-size--s);
}

.font__medium {
  --font-size: var(--font-size--m);
}

.font__large {
  --font-size: var(--font-size--l);
}

.font__huge {
  --font-size: 1.375rem;
}

.fontWeight__600 {
  --font-weight: 600;
}

.fontWeight__700 {
  --font-weight: 700;
}

.fontWeight__800 {
  --font-weight: 800;
}
