/* Common PackageCard styles */
.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  align-items: flex-start;

  border-radius: var(--border-radius--16);
  overflow: hidden;
}

.root:hover {
  box-shadow: var(--box-shadow-default);
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  transition: 0.2s;
}

.root:hover .imageWrapper {
  filter: brightness(1.15);
}

/* Styles for PackageCard's image */
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: var(--transform-translate);
  transition: 0.2s;

  --transform-translate: translate(-50%, -50%);
}

.root:hover .image {
  transform: var(--transform-translate) scale(1.05);
}

.flagWrapper {
  position: absolute;
  top: var(--space--8);
  left: var(--space--8);
  display: flex;
  flex-direction: column;
  gap: var(--space--8);
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap--12);
  padding: 0 var(--space--16);
}

/* Styles for PackageCard's Package name (title) */
.title {
  color: var(--color-text--default);
  font: var(--font-body);
  font-weight: 700;
  font-size: var(--font-size--l);
  line-height: 1;
}

/* Styles for PackageCard's Author */
.author {
  font-size: var(--font-size--s);
  line-height: 1;
}

.author_label {
  color: var(--color-highlight);
  font-weight: 700;
  text-decoration: none;
}

.author_prefix {
  padding-right: var(--space--4);
  color: var(--color-text--tertiary);
}

/* Styles for PackageCard's description */
.description {
  display: -webkit-box;
  overflow: hidden;
  color: var(--color-text--secondary);
  font: var(--font-body);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Styles for PackageCard's "Last updated" info */
.lastUpdated {
  color: var(--color-text--tertiary);
  font: var(--font-heading);
  font-size: var(--font-size--s);
  line-height: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap--16);
  width: 100%;
  padding: 0 var(--space--16) var(--space--16);
}

.categoryWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap--4);
  align-items: flex-start;
  padding: 0 var(--space--16);
}

.metaItemWrapper {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  gap: var(--gap--16);
  align-items: flex-start;
}

.metaItem__last {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* Different PackageCard variations */
.packageCard__default {
  background-color: var(--color-surface--4);
}
