/* Common PackageCard styles */
.root {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  align-items: flex-start;
  border-radius: 0.5em;
  overflow: hidden;
  transition: ease-in-out var(--animation-duration-lg);
}

.root:focus-within,
.root:hover {
  background-color: #23234d;
  box-shadow: 0 12px 24px 5px rgb(0 0 0 / 0.65);
}

.imageWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  transition: var(--animation-duration-md);
}

.root:hover .imageWrapper {
  filter: brightness(1.15);
}

/* Styles for PackageCard's image */
.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  transform: var(--transform-translate);
  transition: var(--animation-duration-md);

  --transform-translate: translate(-50%, -50%);
}

.root:hover .image {
  transform: var(--transform-translate) scale(1.05);
}

.flagWrapper {
  position: absolute;
  top: var(--space-8);
  right: var(--space-8);
  display: flex;
  flex-flow: row wrap;
  gap: var(--space-4);
  align-items: flex-end;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--gap-sm);
  padding: 0 var(--space-16);
}

/* Styles for PackageCard's Package name (title) */
.title {
  color: var(--color-text--default);
  font: var(--font-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-xxxxl);
  line-height: normal;
}

/* Styles for PackageCard's Author */
.author {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-body-md);
  line-height: 1;
}

.author_label {
  color: var(--color-highlight);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.author_prefix {
  padding-right: var(--space-4);
  color: var(--color-text--tertiary);
}

/* Styles for PackageCard's description */
.description {
  display: -webkit-box;
  overflow: hidden;
  color: var(--color-text--secondary);
  font: var(--font-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-lg);
  line-height: var(--line-height-lg);
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Styles for PackageCard's "Last updated" info */
.lastUpdated {
  color: var(--color-text--tertiary);
  font: var(--font-body);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-body-md);
  line-height: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  width: 100%;
  padding: 0 var(--space-16) var(--space-16);
}

.categoryWrapper {
  display: flex;
  flex-flow: row wrap;
  gap: var(--gap-xxs);
  align-items: flex-start;
  padding: 0 var(--space-16);
}

/* TODO: These are figma copy pasted */
.categoryTag {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0.375rem;
  border-radius: 0.375rem;
  color: var(--color-text--default);
  font-weight: var(--font-weight-boldest);
  font-size: 0.625rem;
  line-height: normal;
  text-transform: capitalize;
  background: rgb(70 70 149 / 0.66);
}

.metaItemWrapper {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  gap: var(--gap-md);
  align-items: flex-start;
}

.metaItem__last {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

/* Different PackageCard variations */
.packageCard__default {
  background-color: #191b38;
}
