.root {
  align-items: center;
  justify-content: center;
}

.image {
  min-width: 6rem;
  max-width: 6rem;
  min-height: 9rem;
  max-height: 9rem;
  border-radius: var(--border-radius--8);
  box-shadow: var(--box-shadow-default);
}
