.root {
  align-items: center;
  justify-content: center;
}

.image {
  min-width: 8.875rem;
  min-height: 11.75rem;
  border-radius: var(--border-radius--8);

  object-fit: cover;
  box-shadow: var(--box-shadow-default);
  transition: 0.2s;
  aspect-ratio: 3 / 4;
}
