.root {
  align-items: center;
  justify-content: center;
}

.image {
  width: 9rem;
  height: 12rem;
  border-radius: var(--border-radius--8);

  object-fit: cover;
  box-shadow: var(--box-shadow-default);
  transition: 0.2s;
  aspect-ratio: 3 / 4;
}
